/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

/* General styles for all elements */
h1, h2, h3, h4, h5, fieldset, legend, dl, dt, dd, cite
{
  padding: 0;
  border: 0;
  margin: 0;
}

body
{
  padding: 0;
  margin: 0;
  background: #232323;
  font-size: small;
  font-family: helvetica, arial, sans-serif;
  color: #665;
}

a
{
  color: #800;
}

th
{
  font-weight: bold;
  padding: 0.3em
}

td
{
  padding: 0.3em
}

table.sortable th:hover
{
  text-decoration: underline;
}

dt
{
  font-weight: bold;
}

dd
{
  margin: 10px;
}

dd.pre
{
}

/* Workers */
#workers
{
  background: black;
}

#workers table
{
  table-layout: fixed;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#workers .name
{
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  text-overflow: ellipsis;
}

#workers .message
{
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  text-overflow: ellipsis;
}

#workers .close button
{
  background-color: #444;
  border-radius: 2px;
  border: 0;
  color: #888;
  height: 15px;
  margin: 0;
  padding: 0;
  width: 16px;
  position: relative;
  top: -4px;
}

#workers .close button:hover
{
  background-color: #d88;
}

#workers .details button
{
  background-color: #444;
  border-radius: 2px;
  border: 0;
  color: #888;
  height: 15px;
  margin: 0;
  padding: 0;
  width: 16px;
  position: relative;
  top: -4px;
}

#workers tr.finished.succeeded
{
  color: #8c8;
}

#workers tr.finished.stopped
{
  color: #ee8;
}

#workers tr.finished.failed
{
  color: #c88;
}
#workers .ui-progressbar {
  height: 1em;
}
.progressLabel {
  float: left;
  width: 100%;
  text-align: center;
}

/* New Workers */
#workers {
  color: #8F887C;
}
#workers-close {
  text-align: center;
}
#workers-close:hover {
  color: white;
  cursor: pointer;
}
#workers-container {
  width: 960px;
  margin: 0 auto;
}
#workers-container .worker {
  padding-left: 23px;
}
#workers-container .worker:hover
{
  color: white;
  cursor: pointer;
}
#workers-container .message,
#workers-container .name,
#workers-container .close,
#workers-container .details
{
  display: inline-block;
}
#workers-container .message,
#workers-container .name
{
  width: auto;
  max-width: 500px;
  margin-right: 0.4em;
}
#workers-container .worker {
  background-image: url(1363132633_gear.png);
  background-repeat: no-repeat;
  /* background-size: auto 16px; */
}
#workers-container .progressDeterminate {
  background-image: none;
  position: relative;
}
#workers-container .succeeded {
  background-image: url(1359513602_onebit_34.png);
  background-repeat: no-repeat;
  background-size: auto 16px;
}
#workers-container .failed {
  background-image: url(1359513595_onebit_33.png);
  background-repeat: no-repeat;
  background-size: auto 16px;
}
.worker canvas {
  position: absolute;
  left: 0px;
}

#workers-container.workersCompact {
  cursor: pointer;
  padding-top: 4px;
  margin-bottom: -4px;
}
#workers-container.workersCompact .worker {
  display: inline-block;
  height: 20px;
}
#workers-container.workersCompact .worker *,
#workers-container.workersCompact #showChunkersWrapper
{
  display: none;
}
#workers-container.workersCompact .worker canvas {
  display: block;
}
#workers-container #showChunkersWrapper {
  text-align: right;
}
.hideChunkers .worker.chunker {
  display: none !important;
}


/* Page header */
.width-wrapper
{
  width: 960px;
  margin: 0 auto;
}

#header
{
  min-height: 60px;
  background-color: #333333;
  color: white;
  padding: 20px 0 20px 0;
}

#header a,
#footer a
{
  color: #8F887C;
  text-decoration: none;
}

#header a:hover,
#footer a:hover
{
  text-decoration: underline;
}

a#title-link:hover,
a#title-link h1:hover
{
  text-decoration: none;
}

#page-title
{
  background-color: #D7D7D7;
  color: #383838;
  padding: 20px 0;
  border-bottom: 1px solid #BBBBBB;
}

#page-title #breadcrumbs
{
}

#page-title #breadcrumbs a
{
  text-decoration: none;
}

#page-title #breadcrumbs a:hover
{
  text-decoration: underline;
}

#page-title h2
{
  font-weight: normal;
  font-size: 2.5em;
}

#version
{
  color: yellow;
  font-size: 85%;
}

.edit-page
{
  float: right;
  clear: right;
}

.dialog label
{
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

.dialog textarea
{
  width: 99%;
  resize: none;
}

.ui-widget
{
  font-size: 100%;
}

.ui-dialog .ui-dialog-buttonpane button
{
  color: #880000;
}
.ui-dialog .ui-dialog-buttonpane button.linkButton {
  color: blue;
  background-image: none;
  border-width: 0;
  background-color: transparent;
  box-shadow: none;
}
.ui-dialog .ui-dialog-buttonpane button.linkButton .ui-button-text {
  text-decoration: underline;
}
.ui-dialog .ui-dialog-buttonpane button.linkButton:hover {
  background-color: transparent !important;
}
.ui-dialog .ui-dialog-buttonpane button:first-child
{
  font-weight: bold;
}

.ui-widget-overlay
{
  opacity: 0.6;
}

.ui-dialog
{
  padding: 0;
}

.ui-dialog-titlebar
{
  border-width: 0 0 1px 0;
  border-radius: 4px 4px 0 0;
}

#content
{
  padding: 20px 0;
  background-color: #D2D1D0;
}

#models-wrapper,
#ensembles-wrapper,
#data,
#model
{
  background-color: #F4F4F4;
  border: 1px solid #BBBBBB;
  padding: 20px;
  margin-bottom: 20px;
}

#sharing
{
  padding: 0;
}

#sharing h2
{
  margin-bottom: 5px;
}

#admins,
#users,
#writers,
#readers
{
  padding: 10px 50px 0px 0px;
  float: left;
  width: 40%;
}
#readers {
  clear: left;
}
#delete-project-link,
#delete-model-link
{
  margin-top: 10px;
  float: right;
}
.helpText
{
  font-size: 0.8em;
  color: #666655;
  margin-top: 0;
}

/* Project list */
.buttonBar
{
  margin-bottom: 20px;
}

/* Top-level lists of entities */
.main-list
{
  list-style: none outside none;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  border: 1px solid #BBBBBB;
}

.main-list li
{
  /*padding: 10px; */
  padding: 0;
  margin: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #D5D5D5;
  overflow: auto; /* clears floats */
  overflow: hidden; /* seems to also clear floats but doesn't break safari */
  position: relative;
}

.main-list li:first-child
{
  border-top-width: 0;
}

.main-list li:last-child
{
  border-bottom-width: 0;
}

.main-list .main-item
{
  padding: 12px;
}

.main-list .main-item:hover
{
  background-color: white;
}

.main-list .main-title
{
  float: left;
  margin-bottom: 5px;
  margin-right: 20px;
}

.main-list .main-title a
{
  text-decoration: none;
}

.main-list .main-title a:hover
{
  text-decoration: underline;
}

.main-list .main-created,
.main-list .main-type
{
  font-size: 0.8em;
  float: right;
  clear: right;
  width: 300px;
  height: 30px;
  text-align: right;
  padding: 5px;
}

.main-list .main-marking
{
  font-size: 0.8em;
  float: right;
  clear: right;
  width: auto;
  height: 30px;
  text-align: right;
  padding: 5px;
}

.main-list .main-delete
{
  float: right;
  clear: right;
  font-size: 0.8em;
}

.main-tag
{
  position: absolute;
  top: 0px;
  left: 400px;
  color: white;
  background-color: grey;
  font-size: 0.8em;
  padding: 4px 0;
  width: 100px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  text-decoration: none;
}

.main-tag.project
{
  background-color: #89f;
}

.main-tag.ensemble
{
  background-color: #9B6484;
}

.main-tag.artifact
{
  color: black;
  background-color: #fc0;
}

.main-tag.model
{
  background-color: #3CA654;
}

.main-list .badge
{
  color: white;
  background-color: grey;
  padding: 3px;
  margin: 4px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-align: center;
  width: 100px;
  text-decoration: none;
  display: block;
}

.main-list .badge:hover
{
  text-decoration: underline;
}

.main-list .main-description
{
  clear: both;
}

.main-list p
{
  clear: left;
}

/* Next-level lists of entities */
.sub-list
{
  list-style: none outside none;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
  border-top: 1px solid #d5d5d5;
  clear: both;
}

.sub-list li
{
  padding: 10px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #D5D5D5;
  overflow: auto; /* clears floats */
  position: relative;
}

.sub-list li:first-child
{
}

.sub-list li:last-child
{
  border-bottom-width: 0;
}

.sub-list .sub-title
{
  float: left;
  margin-bottom: 5px;
  margin-right: 20px;
}

.sub-list .sub-title a
{
  text-decoration: none;
}

.sub-list .sub-title a:hover
{
  text-decoration: underline;
}

.sub-list .sub-created,
.sub-list .sub-type
{
  font-size: 0.8em;
  float: right;
  clear: right;
  width: 300px;
  height: 30px;
  text-align: right;
  padding: 5px;
}

.sub-list .sub-marking
{
  font-size: 0.8em;
  float: right;
  clear: right;
  width: auto;
  height: 30px;
  text-align: right;
  padding: 5px;
}

.sub-tag
{
  position: absolute;
  top: 0px;
  left: 410px;
  color: white;
  background-color: grey;
  font-size: 0.8em;
  padding: 4px 0;
  width: 80px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  text-decoration: none;
}

.sub-tag.ensemble
{
  background-color: #9B6484;
}

.sub-tag.artifact
{
  color: black;
  background-color: #fc0;
}

.sub-tag.model
{
  background-color: #3CA654;
}

.sub-list .sub-description
{
  clear: left;
  padding-top: 0.4em;
}

#footer
{
  background-color: #232323;
  color: #8F887C;
  padding: 20px 0;
}

#footer-links
{
  padding-left: 0;
  list-style-type: none;
  list-style-image: none;
}

#footer-links li
{
  display: inline;
  padding-right: 20px;
}

#header #logo
{
  height: 60px; /* The header is 60px min height, so we should keep the logo the same */
  float: left;
  margin: 0 10px 0 0;
}

#header #title
{
  float: left;
  font-weight: normal;
  color: white;
}

#user-actions
{
  list-style: none outside none;
  float: right;
  margin-top: 0;
}

#user-actions li
{
  /* display: inline; */
  margin-left: 20px;
}

div#errors
{
  color: yellow;
  background: red;
}

button.ui-widget.add, button.ui-widget.delete
{
  width: 6em;
  font-size: 80%;
}

select
{
  padding: 4px 4px 2px 0;
}

.ui-layout-resizer
{
  background: #ddc;
}

.ui-layout-resizer-hover
{
  background: #fc6;
}

.ui-layout-resizer-dragging
{
  background: #fc6;
}

.ui-layout-toggler
{
  background: #ccb;
}

.ui-layout-toggler-hover
{
  background: #fc6;
}


.ui-layout-pane, .ui-layout-container
{
  background: white;
  padding: 0;
  border: 0;
  margin: 0;
}

button
{
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #444;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0.4em 1em;
  text-decoration: none;
}

button:hover
{
  background-color: #bbb !important;
}

button:active, button.active
{
  background-color: #888 !important;
  color: #eee;
}
button:disabled,
button:disabled:hover,
button:disabled:active
{
  color: #808080;
  background-color: #DDDDDD !important;
}

select
{
  -moz-appearance: button;
  -webkit-appearance: button;
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #444;
  font-size: 12px;
  /*font-weight: bold; */
  line-height: 1;
  margin: 0;
  padding: 0.3em 1em;
  text-decoration: none;
}

.vcr-controls
{
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.vcr-controls button
{
  width: 30px;
  height: 30px;
}

.vcr-controls .label
{
  display: none;
}

.vcr-controls #rewind
{
  background: url(rewind.png) no-repeat center;
}

.vcr-controls #frame-rewind
{
  background: url(frame-rewind.png) no-repeat center;
}

.vcr-controls #play-reverse
{
  background: url(play-reverse.png) no-repeat center;
  background-size: 16px;
}

.vcr-controls #repeat
{
  background: url(repeat.png) no-repeat center;
  background-size: 24px;
}

.vcr-controls #play
{
  background: url(play.png) no-repeat center;
  background-size: 16px;
}

.vcr-controls #frame-forward
{
  background: url(frame-forward.png) no-repeat center;
}

.vcr-controls #fast-forward
{
  background: url(fast-forward.png) no-repeat center;
}

.vcr-controls #max-rate
{
  height: 30px;
  margin-top: 6px;
}

.view-link
{
  font-size: 120%;
  margin-left: 2em;
}

.filmstrip
{
  overflow-x: auto;
  white-space: nowrap;
}

.filmstrip .image
{
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.filmstrip .image img
{
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.filmstrip .image p
{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0 10px 15px;
}

/* Model progress and error messages */
@keyframes fade_in
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fade_in
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

.load-status
{
  color: #9f6000;
  opacity: 0;
  font-size: 2em;
  line-height: 100px;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 400px;
  text-align: center;
  animation: fade_in 0.25s ease-in-out 0.8s;
  animation-fill-mode: forwards;
  -webkit-animation: fade_in 0.25s ease-in-out 0.8s;
  -webkit-animation-fill-mode: forwards;
}

#status-messages
{
  margin: 0;
  padding: 12px;
  background-color: #FCF6DD;
  border: 1px solid #BBBBBB;
}

#status-messages .progress-heading
{
  font-size: 2em;
  margin-bottom: 12px;
  color: #9F6000;
}

#status-messages .progress-description
{
  margin-bottom: 12px;
}

#status-messages .error-heading
{
  font-size: 2em;
  margin-bottom: 12px;
  color: #9F6000;
}

#status-messages .error-description
{
  margin-bottom: 12px;
}


#color-switcher {
  float: right;
  margin: 9px;
}
#color-switcher .label {
  font-weight: bold;
}
.cca #color-switcher {
  position: absolute;
  right: 0px;
  bottom: 5px;
}
#color-switcher .color {
  background-color: #DBD9EB;
  padding: 4px;
}
.cca #color-switcher .color {
  background-color: white;
}
#color-switcher .color:hover {
  cursor: pointer;
}
#color-switcher .selected:hover {
  cursor: default;
}
#color-switcher .selected {
  background-color: #7767B0 !important;
  color: white;
}
.runningModel {
  text-align: center;
  margin-top: 20px;
}
#rerun-cca-variables .disabled.ui-state-default,
#remote-cca-variables .disabled.ui-state-default,
#local-cca-variables .disabled.ui-state-default
{
  background: none;
}
#rerun-cca-variables .disabled td,
#remote-cca-variables .disabled td,
#local-cca-variables .disabled td
{
  color: gray;
}
#rerun-cca-variables .disabled .ui-icon,
#remote-cca-variables .disabled .ui-icon,
#local-cca-variables .disabled .ui-icon 
{
  float: left;
  margin-right: 2px;
}
a.clicker {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}