/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

html
{
  font-family: sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body
{
  background-color: rgb(215, 215, 215);
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
}

.bootstrap-styles .navbar
{
  background-color: rgb(215, 215, 215);
  border: 0;
  border-radius: 0;
  margin: 0;
}

.bootstrap-styles .navbar-brand
{
  background: url("slycat-logo-navbar.png") transparent 0 15px no-repeat;
  background-size: auto 20px;
  padding-right: 0;
  text-align: right;
  width: 155px;
}

.bootstrap-styles .navbar .breadcrumb
{
  background-color: transparent;
  margin: 8px 0 0 0;
}

.bootstrap-styles .navbar .breadcrumb a
{
  color: rgb(136, 0, 0);
}

.bootstrap-styles .navbar .breadcrumb > li + li:before
{
  color: rgb(119, 119, 119);
}

.bootstrap-styles .navbar-btn
{
  margin-left: 0;
  margin-right: 15px;
}

.bootstrap-styles .modal .jumbotron
{
  padding: 48px;
}

slycat-navbar .alert
{
  margin: 0 !important;
}

slycat-navbar .alert pre
{
  margin: 12px 0 0 0;
}

#slycat-wizard .nav-tabs, #slycat-wizard .nav-pills
{
  margin-bottom: 24px;
}

#slycat-wizard .modal-body
{
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

#slycat-wizard .steps
{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#slycat-wizard .steps li
{
    background: #f8f8f8;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    float: left;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
}

#slycat-wizard .steps li:first-child
{
    border-width: 1px 0 1px 1px;
}

#slycat-wizard .steps li.active
{
    background: yellow;
}

#slycat-wizard .steps li.active:after
{
    background: yellow;
}

#slycat-wizard .steps li:after
{
    background: #f8f8f8;
    border-color: #bbb;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: inline-block;
    height: 40px;
    position: absolute;
    -webkit-transform: translate(10px, 0) scale(0.3, 0.7) rotate(45deg);
    transform: translate(10px, 0) scale(0.3, 0.7) rotate(45deg);
    vertical-align: top;
    width: 40px;
}

#slycat-wizard .steps li:last-child
{
    border-width: 1px 1px 1px 0;
}

#slycat-wizard .steps li:last-child:after
{
    background: transparent;
    border-color: transparent;
}

.slycat-content
{
  background-color: #f2f2f2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

#slycat-projects, #slycat-project
{
  padding-top: 12px;
}

/* slycat-remote-browser component */

.slycat-remote-browser
{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.slycat-remote-browser-files
{
  -webkit-flex: 1;
  flex: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  overflow-x: auto;
  overflow-y: auto;
}

.slycat-remote-browser table
{
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  min-width: 100%;
}

.slycat-remote-browser td:first-child
{
  font-size: 120%;
  width: 24px;
}

.slycat-remote-browser tr:hover
{
  background: #eee;
}

/* slycat-scrollbar component */

.slycat-scrollbar
{
  border: 1px solid lightgray;
  border-radius: 6px;
}

.slycat-scrollbar.vertical, .slycat-scrollbar.vertical .thumb
{
  width: 12px;
}

.slycat-scrollbar.horizontal, .slycat-scrollbar.horizontal .thumb
{
  height: 12px;
}

.slycat-scrollbar .thumb
{
  background: lightgray;
  border-radius: 6px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.slycat-scrollbar .thumb:hover, .slycat-scrollbar.dragging .thumb, .slycat-scrollbar:hover .thumb
{
  background: gray;
}

/* slycat-range-slider component */

.slycat-range-slider
{
}

.slycat-range-slider .domain
{
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.slycat-range-slider.vertical .domain
{
  left: 3px;
  right: 3px;
  top: 0;
  bottom: 0;
}

.slycat-range-slider.horizontal .domain
{
  left: 0;
  right: 0;
  top: 3px;
  bottom: 3px;
}

.slycat-range-slider .range
{
  background: #aabbff;
}

.slycat-range-slider:hover .range
{
  background: #7788ff;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.slycat-range-slider.vertical .range
{
  left: 3px;
  right: 3px;
}

.slycat-range-slider.horizontal .range
{
  top: 3px;
  bottom: 3px;
}

.slycat-range-slider.vertical, .slycat-range-slider.vertical .thumb
{
  width: 12px;
}

.slycat-range-slider.horizontal, .slycat-range-slider.horizontal .thumb
{
  height: 12px;
}

.slycat-range-slider .thumb
{
  background: #bbb;
  border-radius: 6px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.slycat-range-slider .thumb:hover, .slycat-range-slider.dragging .thumb, .slycat-range-slider:hover .thumb
{
  background: #888;
}

.slycat-clickable
{
  cursor: pointer;
}

.slycat-unclickable
{
  cursor: default;
}

.zoom-sensitive
{
  max-height: 90%;
  overflow: auto;
}
