// Slycat variables.
// Only use this file to define variables that are used in the Slycat application outside of customizing Bootstrap,
// like for table, scatterplot, etc.

// Range Slider Colors
$range-slider-domain-bg: rgb(221, 221, 221);
$range-slider-domain-border: rgb(204, 204, 204);
$range-slider-range-bg: rgb(170, 187, 255);
$range-slider-hover-bg: rgb(119, 136, 255);
