.slycat-variable-ranges {
  thead th {
    padding-bottom: 10px;
  }
  tbody td.axis-input {
    white-space: nowrap;
  }
  input.variable-range.contains-user-input {
    font-weight: bold;
    color: black;
  }
  /* Remove number spinner controls from Chrome and Safari */
  input.variable-range[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
  /* Remove number spinner controls from Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    max-width: 120px;
  }
  .lessThanValidationMessageCell {
    width: 25px;
  }
  .lessThanValidationMessage.valid {
    display: none;
  }
  .variable-name,
  .data-min,
  .data-max {
    overflow-wrap: anywhere;
  }
  .axis-input > .input-group {
    justify-content: center;
  }

  .precise,
  .imprecise {
    overflow-wrap: normal;
  }

  .precise {
    display: none;
  }

  // Swap precise and imprecise when hovering on containing cell
  td:hover .precise {
    display: inline;
  }
  td:hover .imprecise {
    display: none;
  }

  // Accordion styles
  table {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}
