.slycat-variable-ranges {
  thead th {
    padding-bottom: 10px;
  }
  // Uncomment to make the first column as narrow as possible
  // tbody th.variable-name {
  //   width: 1%;
  // }
  input.variable-range.contains-user-input {
    font-weight: bold;
  }
  /* Remove number spinner controls from Chrome and Safari */
  input.variable-range[type=number]::-webkit-inner-spin-button {
    display: none;
  }
  /* Remove number spinner controls from Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .lessThanValidationMessageCell {
    width: 25px;
  }
  .lessThanValidationMessage.valid {
    display: none;
  }

}
