.slycat-variable-alias-labels {
  thead th {
    padding-bottom: 10px;
  }
  // Uncomment to make the first column as narrow as possible
  // tbody th.variable-name {
  //   width: 1%;
  // }
  input.variable-alias {
    width: 100%;
  }
  input.variable-alias.contains-user-input {
    font-weight: bold;
  }
}
