/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

html
{
  font-family: sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body
{
  background-color: rgb(215, 215, 215);
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
}

.bootstrap-styles .navbar
{
  background-color: rgb(215, 215, 215);
  border: 0;
  border-radius: 0;
  margin: 0;
}

.bootstrap-styles .navbar-brand
{
  background: url("slycat-logo-navbar.png") transparent 0 15px no-repeat;
  background-size: auto 20px;
  padding-right: 0;
  text-align: right;
  width: 155px;
}

.bootstrap-styles .navbar .breadcrumb
{
  background-color: transparent;
  margin: 8px 0 0 0;
}

.bootstrap-styles .navbar .breadcrumb a
{
  color: rgb(136, 0, 0);
}

.bootstrap-styles .navbar .breadcrumb > li + li:before
{
  color: rgb(119, 119, 119);
}

.bootstrap-styles .modal .jumbotron
{
  padding: 48px;
}

slycat-navbar .alert
{
  margin: 0 !important;
}

slycat-navbar .alert pre
{
  margin: 12px 0 0 0;
}

.slycat-content
{
  background-color: #f2f2f2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

