build
.cover
.coverage
docs/_build
docs/source/_build
.DS_Store
.ipynb_checkpoints
packages/cherrypy/test/access.log
packages/cherrypy/test/error.log
packages/cherrypy/test/session-*
packages/cherrypy/test/static/bigfile.log
packages/cherrypy/test/static/has space.html
packages/cherrypy/test/test.access.log
packages/cherrypy/test/test.conf
packages/cherrypy/test/test.error.log
packages/cherrypy/test/test_misc_tools.log
*.pyc
*.log
slycat.egg-info
.*.swp
.#*
._*
.apdisk
web-client/images*
web-server/config.ini

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml
*.image

## Directory-based project format:
.idea/
.vscode/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws
*.log
## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
web-server/dist/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# coverage html rports
htmlcov/*

data/master_test.csv

# Node dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Data file types (to prevent accidentally committing data files)
*.avi
*.bmp
*.cdb
*.cir
*.csf
*.csv
*.dac
*.dat
*.dist
*.e
*.eps
*.exo
*.gif
# Don't ignore GIFs anywhere inside the docs/ directory
!docs/**/*.gif
# Don't ignore GIFs anywhere inside the web-server/img/ directory
!web-server/img/*.gif
*.gz
*.i
*.j2k
*.jfif
*.jif
*.jp2
*.jpeg
*.jpg
*.jpx
*.links
*.log
*.meta
*.mp4
*.out
*.pcd
*.pdf
# Don't ignore PDFs anywhere inside the docs/ directory
!docs/**/*.pdf
*.png
# Don't ignore PNGs anywhere inside the docs/ directory
!docs/**/*.png
# Don't ignore PNGs anywhere inside the web-server/img/ directory
!web-server/img/*.png
*.prn
*.ps
*.rgb
*.stl
*.tec
*.tex
*.tif
*.tiff
*.time
*.trajectories
*.txt
# Don't ignore TXTs anywhere inside the docs/ directory
!docs/**/*.txt
*.var
*.vmrl
*.vtk
*.vtp
*.x3d
*.xcoords
*.xls
*.ycoords
*.zip

# Exodus extensions (to prevent accidentally committing data files)
*.e
*.exo
*.exoII
*.ex2
*.ex2v2
*.g
*.gen
*.par
*.0
*.00
*.000
*.0000
*.00000
*.000000
