version: '3.6'
services:
  slycat-web-server:
    build:
      context: .
      dockerfile: ./slycat-web-server/DockerFile
      args:
        - IMAGE_VERSION=${PYTHON_VERSION}
    image: slycat-web-server
    depends_on:
      - "couchdb"
    # uncomment if you want to expose cherrypy
    # ports:
    #   - 8092:8092
    networks:
      - sly-net
    volumes:
      - ../../../:/usr/src/slycat/slycat
      - web-data-store-volume:/var/lib/slycat
      # optional data store on the metal
      # - ~/slycat:/var/lib/slycat
    entrypoint:
      - bash
      - -c
      - | 
          python --version \
          && python /usr/src/slycat/slycat/docker/compose/slycat-compose/scripts/slycat-couchdb-setup.py --host couchdb --admin admin --password password \
          && python /usr/src/slycat/slycat/docker/compose/slycat-compose/scripts/slycat-docker-compose-couchdb-load-data.py \
          && python /usr/src/slycat/slycat/web-server/slycat-web-server.py --config /usr/src/slycat/slycat/docker/compose/slycat-compose/slycat-docker-compose-authenticated-config.ini
    restart: always

  slycat-client:
    build:
      context: .
      dockerfile: ./slycat-client/DockerFile
    working_dir: /usr/src/app/slycat
    command:
      - bash
      - -c
      - | 
        npm config set strict-ssl false \
        && NODE_TLS_REJECT_UNAUTHORIZED=0 npm install \
        && npm run dev
    ports:
      - 9001:9001
    networks:
      - sly-net
    volumes:
      - ../../../:/usr/src/app/slycat
    restart: always

  # slycat-test-client:
  #   build:
  #     context: .
  #     dockerfile: ./slycat-test-client/DockerFile
  #   working_dir: /usr/src/app/slycat/test-client/test-client/
  #   command:
  #     - bash
  #     - -c
  #     - | 
  #       npm config set strict-ssl false \
  #       && NODE_TLS_REJECT_UNAUTHORIZED=0 npm install \
  #       && npm run dev
  #   ports:
  #     - 9001:9001
  #   networks:
  #     - sly-net
  #   volumes:
  #     - ../../../:/usr/src/app/slycat
  #   restart: always

  # http://host_os_ip/haproxy?stats  usr:admin, password:admin
  haproxy:
    build:
      context: .
      dockerfile: ./haproxy/DockerFile
    depends_on:
      - "slycat-web-server"
    ports:
      - 80:80
      - 443:443
    expose:
      - 80
      - 443
    networks:
      - sly-net
    restart: always

  couchdb:
    image: couchdb
    restart: always
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    networks:
      - sly-net
    #uncomment to expose cherrypy @http://localhost:5984/_utils
    # ports:
    #   - "5984:5984"
    volumes:
      - couchdb-data-volume:/usr/local/var/lib/couchdb

  sshd:
    build:
      context: .
      dockerfile: ./sshd/DockerFile
    ports:
      - "2222:22"
    expose:
      - 22
    #          user:password:uid:gid
    command: slycat:slycat:1001:1001
    networks:
      - sly-net
    restart: always

networks:
  sly-net:

volumes:
  web-data-store-volume:
  couchdb-data-volume: