#barplot-table {
	width: 400px;
	height: 100px;
	overflow: hidden;
}
.barplotHeader {
	/*overflow: hidden;*/
	white-space: nowrap;
}
.barplotHeaderColumns {
	/*outline: 1px solid blue;*/
	white-space: nowrap;
	display: inline-block;
}
.barplotHeaderColumn {
	display: inline-block;
	/*outline: 1px solid red;*/
}
.headerInput.col0 {
	background-color: white;
	position: relative; /* needed to get this cell to cover scrolling header row */
}
.barplotViewport {

}
.barplotColumn {
	display: inline-block;
	float: left;
}
.barplotColumn .barplotCell {
	display: block;
}
.barplotCanvas {
	overflow: auto;
}
.barplotRow {
	/*outline: 1px solid cyan;*/
	white-space: nowrap;
}
.barplotCell {
	display: inline-block;
	/*outline: 1px solid green;*/
}