<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat</title>
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        <div id="breadcrumbs">
          <a href="{{server-root}}projects">Projects</a> &rarr;
          {{#full-project}}<a href="{{server-root}}projects/{{_id}}" id="project-link">{{name}}</a> &rarr;{{/full-project}}
          <a href="{{server-root}}models/{{_id}}" id="model-link">{{name}}</a> &rarr;
        </div>
        <h2>Design</h2>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">
        <div class="marking">{{{marking-html}}}</div>
        <h3>Model</h3>
        <pre>
{{model-design}}
        </pre>
        <div class="marking">{{{marking-html}}}</div>
      </div>
    </div>

    <div id="footer">
      <div class="width-wrapper">
        <ul id="footer-links">
        </ul>
      </div>
    </div>

    <script type="text/javascript">
    </script>
  </body>
</html>
