/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

#edit-model-button,
#rerun-timeseries-button
{
  float: right;
}

/* cluster table styles */

#cluster-pane
{
  overflow: auto;
}

#cluster-viewer
{
  margin: 5px;
  border-collapse: collapse;
}

#cluster-viewer td.output
{
  background: #dbd9eb;
  cursor: pointer;
}

#cluster-viewer td.output.selected
{
  background: #7767b0;
  color: white;
}

/* dendrogram styles */
#dendrogram-pane #dendrogram-sort-control 
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
  background: #DBD9EB url(sort-dendrogram.png) no-repeat center center;;
  padding: 4px;
  margin: 0 0 5px 18px;
  height: 17px;
  min-width: 17px;
}

#dendrogram-pane #dendrogram-sort-control.selected
{
  background: #7767B0 url(sort-dendrogram-selected.png) no-repeat center center;
  color: #FFFFFF;
  cursor: default;
}

#dendrogram-viewer .node .glyph circle
{
  stroke: grey;
}

#dendrogram-viewer .node.selected .glyph circle
{
  fill: #7767b0 !important;
  stroke: black;
}

#dendrogram-viewer .node .glyph text
{
  cursor: pointer;
}

#dendrogram-viewer .node .subtree
{
  cursor: pointer;
}

#dendrogram-viewer .node .subtree path
{
  stroke: none;
}

/* Hiding the additional glyph initially */
#dendrogram-viewer .node .subtree path.filled-glyph
{
  display: none;
}
/* Showing it for selected nodes */
#dendrogram-viewer .node.selected .subtree path.filled-glyph
{
  display: inline;
}

#dendrogram-viewer .node.selected .subtree text
{
  fill: white;
}

#dendrogram-viewer .node .sparkline path
{
  fill: none;
  stroke: black;
}

#dendrogram-viewer .link
{
  fill: none;
  stroke: #C9C9C9;
}

/* waveform styles */

#waveform
{
  width: 1000px;
  height: 700px;
}

/* data table styles */

#data-pane
{
  overflow: auto;
}

/* Waveform Progress Indicator */
#waveform-progress {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    display: none;
}
/* Use these colors for the dark night mode */
#waveform-viewer.nightMode,
.nightMode rect.selectionMask
{
  background-color: #333333;
  fill: #333333;
  fill-opacity: 0.5;
}
/* Use these colors for the white day mode */
#waveform-viewer.dayMode,
.dayMode rect.selectionMask
{
  background-color: white;
  fill: white;
  fill-opacity: 0.7;
}

#waveform-viewer .waveform path.unselected {
  stroke-width: 1;
  fill: none;
  stroke-linecap: round;
}
#waveform-viewer .waveform path.unselected:hover {
  stroke-width: 4;
}
#waveform-viewer .selection path.highlight {
  stroke-width: 4.0;
  fill: none;
  stroke-linecap: round;
}
#table
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#dendrogram-sparkline-backdrop {
  height: 100%;
  width: 130px;
  position: absolute;
  right: 0;
  z-index: -1;
}
#dendrogram-viewer g.sparkline path {
  stroke-linecap: round;
}
#dendrogram-viewer g.sparkline path:hover,
#dendrogram-viewer g.sparkline path.highlight
{
  stroke-width: 4px;
}
#dendrogram-viewer g.sparkline path.highlight {
  
}
#dendrogram-viewer g.sparkline path.nullValue {
  stroke-dasharray: 2px, 2px;
}
#dendrogram-viewer g.sparkline path.highlight.nullValue {
  stroke-dasharray: 2px, 5px;
}