/*
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
*/

/* Page header */

#edit-model-button,
#rerun-cca-button
{
  float: right;
}

#create-cca-model-button
{
  float: right;
  clear: right;
  width: 15em;
}

/* CCA table styles */
#barplot-pane
{
  overflow: auto;
}

#barplot
{
  margin: 0;
  border-collapse: collapse;
  /*float: left;*/
}

#barplot tbody {
  /*overflow: auto;*/
}

#barplot td
{
  text-align: right;
}

#barplot td.value
{
  padding-right: 29px;
  padding-left: 23px;
}

#barplot .input th
{
  background: #eeffe0;
}

#barplot .input td
{
  background: #c7e9c0;
}

#barplot .output th
{
  background: #eeeeff;
}

#barplot .output td
{
  background: #dbd9eb;
}

#barplot .bar
{
  padding: 0;
  margin: 0;
}

#barplot td.bar:last-child 
{
  padding-right: 20px;
}
#barplot td.bar:nth-child(2) 
{
  padding-left: 20px;
}

#barplot .negative div
{
  float: right;
  background-color: blue;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 12px;
  padding: 0;
  margin: 0;
}

#barplot .positive div
{
  float: left;
  background-color: red;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 12px;
  padding: 0;
  margin: 0;
}

#barplot th.label
{
  border: 1px solid transparent;
  padding-left: 23px;
}

#barplot th.label:hover
{
  background: #ddd;
  border: 1px solid gray;
}

#barplot tr.input.selected-variable th, #barplot tr.input.selected-variable td
{
  background: #3ca654;
  color: white;
}

#barplot tr.output.selected-variable th, #barplot tr.output.selected-variable td
{
  background: #7767b0;
  color: white;
}

#barplot th.label.selected-component, #barplot th.label.selected-component:hover
{
  background: #ddd;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid transparent;
}
#barplot th.label span.sortCCAComponent {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  top: 3px;
  margin-left: 3px;
}
#barplot th.label:hover .icon-sort-off,
.icon-sort-off:hover {
  background: transparent url(sort-desc-light.png) no-repeat center center;
}
.icon-sort-off:hover {
  border: 1px solid #C7C7C7 !important;
}
.icon-sort-ascending:hover,
.icon-sort-descending:hover
{
  border: 1px solid #878787 !important;
}

#barplot td.value.selected-component
{
  background: #ddd;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

#table
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* New CCA table styles */
#barplot-table {
  /*height: 250px;*/
  overflow: hidden;
}
.barplotHeader {
  /*overflow: hidden;*/
  white-space: nowrap;
}
.barplotHeaderColumns {
  /*outline: 1px solid blue;*/
  white-space: nowrap;
  display: inline-block;
}
.barplotHeaderColumn {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px;
  /*outline: 1px solid red;*/
}
.headerInput.col0,
.mask
{
  background-color: white;
  position: relative; /* needed to get this cell to cover scrolling header row */
}
.barplotViewport {

}
.barplotGroup {
  overflow: hidden;
}
.barplotColumn {
  /*display: inline-block;*/
  float: left;
  clear: left;
}
.barplotColumn .barplotCell {
  display: block;
}
.barplotCanvas {
  overflow: auto;
}
.barplotCanvas.input {
  overflow-x: hidden;
  overflow-y: auto;
}
.barplotRow {
  /*outline: 1px solid cyan;*/
  white-space: nowrap;
}
.barplotCell {
  display: inline-block;
  padding: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: right;
  /*outline: 1px solid green;*/
}
#barplot-table .inputLabel,
#barplot-table .outputLabel
{
  padding: 3px;
}
#barplot-table .inputLabel,
#barplot-table .outputLabel,
.barplotCell.col0,
.barplotHeaderColumn
{
  font-weight: bold;
  text-align: center;
}
#barplot-table .inputLabel
{
  background: #eeffe0;
}
#barplot-table .outputLabel
{
  background: #eeeeff;
}