$(document).ready(function() {
  function display_image(uri)
  {
    image_uri.href = uri.substr(0, 5) == "file:" ? uri.substr(5) : uri;
    if(image_uri.hostname in session_cache)
      load_image();
    else
      $("#remote-login").dialog("open");
  }

  function load_image()
  {
    var sid = session_cache[image_uri.hostname];
    image = document.createElement("img");
    image.src = "{{server-root}}remote/" + sid + "/file" + image_uri.pathname;
    image.width = 100;
    image.style.position="absolute";
    image.style.left=10;
    image.style.top=10;
    $("#scatterplot-pane").prepend(image);
  }
});
