$(document).ready(function() {
  // Load the model

  $.ajax(
  {
    type : "GET",
    url : "{{server-root}}models/{{_id}}",
    success : function(result)
    {
      model = result;
      input_columns = model["artifact:input-columns"];
      output_columns = model["artifact:output-columns"];
      image_columns = model["artifact:image-columns"];
      rating_columns = model["artifact:rating-columns"] == undefined ? [] : model["artifact:rating-columns"];
      category_columns = model["artifact:category-columns"] == undefined ? [] : model["artifact:category-columns"];
      model_loaded();
    },
    error: function(request, status, reason_phrase)
    {
      window.alert("Error retrieving model: " + reason_phrase);
    }
  });

  //////////////////////////////////////////////////////////////////////////////////////////
  // Once the model has been loaded, retrieve metadata / bookmarked state
  //////////////////////////////////////////////////////////////////////////////////////////

  $("#delete-model-link").click(function(){
    if(!window.confirm("Delete model {{name}}?  This cannot be undone."))
      return false;

    $.ajax(
    {
      type : "DELETE",
      url : "{{server-root}}models/{{_id}}",
      success : function(details)
      {
        window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
      },
      error : function(request, status, reason_phrase)
      {
        window.alert("Error deleting model: " + reason_phrase);
      }
    });
  });

  $("#edit-model-button").button().click(function()
  {
    $("#edit-model-form").dialog("open");
    $("#edit-model-name").focus();
  });
});
  
function model_loaded()
{
  if(model["state"] == "waiting" || model["state"] == "running")
  {
    $("#status-messages").empty().html(
      "<div class='error-heading'>Oops, this model isn't ready yet.</div>" +
      "<div class='error-description'>We're probabably building it for you right now." +
      "Watch the status bar for progress information and more details.</div>");
    show_status_messages();
  }
  else if(model["state"] == "closed" && model["result"] === null)
  {
    $("#status-messages").empty().html(
      "<div class='error-heading'>Oops, it looks like this model was never completed.</div>" +
      "<div class='error-description'>Here's the last thing that was happening before it was closed:</div>" +
      "<pre>" + model["message"] + "</pre>");
    show_status_messages();
  }
  else if(model["result"] == "failed")
  {
    $("#status-messages").empty().html(
      "<div class='error-heading'>Oops, it looks like this model failed to build.</div>" +
      "<div class='error-description'>Here's what was happening when it ended:</div>" +
      "<pre>" + model["message"] + "</pre>");
    show_status_messages();
  }
  else
  {
    // Display progress as the load happens ...
    $(".load-status").text("Loading data.");

    // Mark this model as closed, so it doesn't show-up in the header anymore.
    $.ajax(
    {
      type : "PUT",
      url : "{{server-root}}models/{{_id}}",
      contentType : "application/json",
      data : $.toJSON({
        "state" : "closed"
      }),
      processData : false
    });

    // Load data table metadata.
    $.ajax({
      url : "{{server-root}}models/{{_id}}/tables/data-table/arrays/0/metadata?index=Index",
      contentType : "application/json",
      success: function(metadata)
      {
        table_metadata = metadata;
        table_statistics = new Array(metadata["column-count"]);
        table_statistics[metadata["column-count"]-1] = {"max": metadata["row-count"]-1, "min": 0};
        load_table_statistics(d3.range(metadata["column-count"]-1), metadata_loaded);
      },
      error: artifact_missing
    });

    // Retrieve bookmarked state information ...
    bookmarker.get_state(function(state)
    {
      bookmark = state;
      setup_colorswitcher();
      metadata_loaded();
    });
  }
}

function show_status_messages()
{
  $("#status-messages").dialog(
  {
    autoOpen: true,
    width: 500,
    height: 300,
    modal: false,
    buttons:
    {
      OK: function()
      {
        $("#status-messages").dialog("close");
      }
    }
  });
}

function artifact_missing()
{
  $(".load-status").css("display", "none");

  $("#status-messages").empty().html(
    "<div class='error-heading'>Oops, there was a problem retrieving data from the model.</div>" +
    "<div class='error-description'>This probably means that there was a problem building the model. " +
    "Here's the last thing that was going on with it:</div>" +
    "<pre>" + model["message"] + "</pre>");

  show_status_messages();
}
// Setup page layout and forms.
// Setup the edit model form ...
$("#edit-model-form").dialog(
{
  autoOpen: false,
  width: 700,
  height: 300,
  modal: true,
  buttons:
  {
    "Save Changes": function()
    {
      var model =
      {
        "name" : $("#edit-model-name").val(),
        "description" : $("#edit-model-description").val()
      };

      $.ajax(
      {
        type : "PUT",
        url : "{{server-root}}models/{{_id}}",
        contentType : "application/json",
        data : $.toJSON(model),
        processData : false,
        success : function()
        {
          window.location.reload();
        },
        error : function(request, status, reason_phrase)
        {
          window.alert("Error updating model: " + reason_phrase);
        }
      });
    },
    Cancel: function()
    {
      $(this).dialog("close");
    }
  },
  close: function()
  {
  }
});

