    <title>{{name}} - Slycat Tracer Model (canvas)</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/d3.js"></script>
    <script type="text/javascript" src="{{server-root}}js/bookmarker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/chunker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-switcher.js"></script>
    <script type="text/javascript" src="{{server-root}}js/tracer-image-scatterplots.js"></script>
    <script type="text/javascript" src="{{server-root}}js/tracer-image-grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/tracer-image-table.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.scrollintoview.min.js"></script>

    <!-- SlickGrid sources -->
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.slycateditors.js"></script>

    <!-- SlickGrid styles -->
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick.headerbuttons.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick-slycat-theme.css" type="text/css"/>

    <!-- Page styles -->
    <link rel="stylesheet" href="{{server-root}}css/model-tracer-image.css" type="text/css">
