<!-- escape the new lines, this is used in scatterplot.js.mustache to append this template to the grid -->\
<div id="'+this.dom_id+'" class="plot">\
  <div class="scatterplot-pane">\
    <div class="load-status"></div>\
    <div class="scatterplot"></div>\
    <div class="controls"></div>\
  </div>\
</div>\
