    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{server-root}}css/desktop.css" type="text/css">
    <link rel="stylesheet" href="{{server-root}}css/smoothness/jquery-ui-1.10.4.custom.min.css" type="text/css">
    {{#stylesheets}}
    <link rel="stylesheet" href="{{server-root}}{{path}}" type="text/css">
    {{/stylesheets}}
    <script type="text/javascript" src="{{server-root}}js/jquery-2.1.1.min.js"></script>
    <!-- Uncompressed, development version of jQuery Migrate -->
    <script type="text/javascript" src="{{server-root}}js/jquery-migrate-1.2.1.js"></script>
    <!-- Compressed, production version of jQuery Migrate. Use this instead of the one above when deploying. -->
    <!-- <script type="text/javascript" src="{{server-root}}js/jquery-migrate-1.2.1.min.js"></script> -->
    <script type="text/javascript" src="{{server-root}}js/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-ui-1.10.4.custom.min.js"></script>
