    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{server-root}}style/desktop.css" type="text/css">
    <!-- <link rel="stylesheet" href="{{server-root}}style/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"> -->
    <link rel="stylesheet" href="{{server-root}}style/smoothness/jquery-ui-1.10.4.custom.css" type="text/css">
    {{#stylesheets}}
    <link rel="stylesheet" href="{{server-root}}{{path}}" type="text/css">
    {{/stylesheets}}
    <!-- <script type="text/javascript" src="{{server-root}}js/jquery.js"></script> -->

    <script type="text/javascript" src="{{server-root}}js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-migrate-1.2.1.js"></script>

    <script type="text/javascript" src="{{server-root}}js/jquery.json-2.4.min.js"></script>
    <!-- <script type="text/javascript" src="{{server-root}}js/jquery-ui.min.js"></script> -->

    <script type="text/javascript" src="{{server-root}}js/jquery-ui-1.10.4.custom.js"></script>
