<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>Open Models</title>
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        <h2>Open Models</h2>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">
        <p id="revision"></p>
        <table id="models">
        </table>
      </div>
    </div>

    <div id="footer">
      <div class="width-wrapper">
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        var current_revision = null;

        function close_model(mid)
        {
          $.ajax(
          {
            type : "PUT",
            url : "{{server-root}}models/" + mid,
            contentType : "application/json",
            data : $.toJSON({
              "state" : "closed"
            }),
            processData : false
          });
        }

        function update()
        {
          $.ajax(
          {
            dataType : "json",
            type : "GET",
            cache : false, // Don't cache this request; otherwise, the browser will display the JSON results if the user leaves-and-then-returns to this page.
            url : "{{server-root}}models" + (current_revision != null ? "?revision=" + current_revision : ""),
            success : function(results)
            {
              if(results != null)
              {
                current_revision = results.revision;
                var models = results.models;

                $("#revision").text("Revision: " + current_revision);
                $("#models").empty().append("<tr><th></th><th>ID</th><th>State</th><th>Result</th><th>Created</th><th>Started</th><th>Finished</th><th>Progress</th><th>Message</th></tr>");

                $.each(models, function(index, model)
                {
                  $("<tr>")
                    .append($("<button>").text("Close").click(close_model.bind(this, model["_id"])))
                    .append($("<td>").append($("<a>").text(model["_id"]).attr("href", "{{server-root}}models/" + model["_id"])))
                    .append($("<td>").text(model["state"]))
                    .append($("<td>").text(model["result"]))
                    .append($("<td>").text(model["created"]))
                    .append($("<td>").text(model["started"]))
                    .append($("<td>").text(model["finished"]))
                    .append($("<td>").text(model["progress"]))
                    .append($("<td>").text(model["message"]))
                    .appendTo($("#models"));
                });
              }

              // Restart the request immediately.
              window.setTimeout(update, 10);
            },
            error : function(request, status, reason_phrase)
            {
              // Rate-limit requests when there's an error.
              window.setTimeout(update, 5000);
            }
          });
        }

        update();
      });
    </script>
  </body>
</html>
