<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    {{> head}}
    {{> tracer-image/header}}
  </head>

  <body class="parameter-image">
    {{> tracer-image/top-header}}

    <div id="model-pane" class="ui-layout-center">
      <div id="grid-pane" class="ui-layout-center">
        <div class="load-status"></div>
        <div id="grid"></div>
      </div>
    </div>

    <div id="table-pane" class="ui-layout-south">
      <div class="load-status"></div>
      <div id="table">
      </div>
    </div>
    <script type="text/javascript">{{> ../js/tracer-image/grid.js}}</script>
  </body>
</html>
