<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat Model</title>
    <link id="slycat-server-root" href="{{server-root}}">
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        <button id="edit-model" class="edit-page" title="Edit this model's name and description.">Edit Model</button>
        <div id="breadcrumbs">
          <a href="{{server-root}}projects">Projects</a> &rarr;
          {{#full-project}}<a href="{{server-root}}projects/{{_id}}">{{name}}</a> &rarr;{{/full-project}}
        </div>
        <h2>{{name}}</h2>
        <div>{{description}}</div>
        <div id="edit-model-dialog" title="Edit Model">
          <form>
            <label for="new-model-name">Model Name</label>
            <input id="new-model-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
            <label for="new-model-description">Description</label>
            <textarea id="new-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>
          </form>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">
        {{{slycat-marking-html}}}
        {{{slycat-plugin-html}}}
        {{{slycat-marking-html}}}
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        // Mark this model as closed, so it doesn't show-up in the header anymore.
        $.ajax(
        {
          type : "PUT",
          url : "{{server-root}}models/{{_id}}",
          contentType : "application/json",
          data : $.toJSON({
            "state" : "closed"
          }),
          processData : false
        });

        $("#edit-model-dialog").dialog(
        {
          autoOpen: false,
          height: 500,
          width: 680,
          modal: true,
          buttons:
          {
            "Delete Model" : function()
            {
              if(!window.confirm("Delete model {{name}}?  This cannot be undone."))
                return;

              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}models/{{_id}}",
                success : function(details)
                {
                  window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error deleting model: " + reason_phrase);
                }
              });
            },
            "Save Changes": function()
            {
              var model =
              {
                "name" : $("#new-model-name").val(),
                "description" : $("#new-model-description").val()
              };

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(model),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating model: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
          }
        });

        $("#edit-model").button().click(function()
        {
          $("#edit-model-dialog").dialog("open");
        });
      });
    </script>
  </body>
</html>
