<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <link id="slycat-server-root" href="{{slycat-server-root}}">
    <link rel="stylesheet" href="{{slycat-server-root}}resources/global/{{slycat-css-bundle}}" type="text/css">
    <script src="{{slycat-server-root}}resources/global/{{slycat-js-bundle}}" type="text/javascript"></script>
    <title>{{slycat-model.name}} - Slycat Model</title>
  </head>

  <body>
    <slycat-header></slycat-header>

    <div id="page-title">
      <div class="width-wrapper">
        <button data-bind="click: edit_model" class="edit-page" title="Edit this model's name and description.">Edit Model</button>
        <div id="breadcrumbs">
          <a href="{{slycat-server-root}}projects">Projects</a> &rarr;
          <a href="{{slycat-server-root}}projects/{{slycat-project._id}}">{{slycat-project.name}}</a> &rarr;
        </div>
        <h2>{{slycat-model.name}}</h2>
        <div>{{slycat-model.description}}</div>
        <div id="edit-model-dialog" title="Edit Model">
          <form>
            <label for="new-model-name">Model Name</label>
            <input id="new-model-name" class="text ui-widget-content ui-corner-all" data-bind="value: new_name" />
            <label for="new-model-description">Description</label>
            <textarea id="new-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20" data-bind="value: new_description"></textarea>
          </form>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container-fluid">
        {{{slycat-marking-html}}}
        {{{slycat-plugin-html}}}
        {{{slycat-marking-html}}}
      </div>
    </div>
  </body>
</html>
