<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    {{> head}}
    {{> tracer-image/header}}
  </head>

  <body class="parameter-image">
    {{> tracer-image/top-header}}

    <div id="model-pane" class="ui-layout-center">
      <div id="scatterplot-pane" class="ui-layout-center">
        <div class="load-status"></div>
        <div id="scatterplot"></div>
      </div>
    </div>

    <div id="table-pane" class="ui-layout-south">
      <div class="load-status"></div>
      <div id="table"></div>
    </div>

    <script type="text/javascript">{{> ../js/tracer-image/original_from_param_image_model.js}}</script>
<!--    <script type="text/javascript">{{> ../js/tracer-image/globals.js}}</script>
    <script type="text/javascript" src="{{server-root}}js/tracer-image/layout.js"></script>
    <script type="text/javascript">{{> ../js/tracer-image/model.js}}</script>
    <script type="text/javascript" src="{{server-root}}js/tracer-image/grid.js"></script>
    <script type="text/javascript">{{> ../js/tracer-image/plot.js}}</script>
    <script type="text/javascript">{{> ../js/tracer-image/table.js}}</script>
    <script type="text/javascript">{{> ../js/tracer-image/handlers.js}}</script>
    <script type="text/javascript">{{> ../js/tracer-image/image.js}}</script>
    <script type="text/javascript">{{> ../js/tracer-image/controls.js}}</script> -->
  </body>
</html>
