<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat CCA Model (canvas)</title>
    <script type="text/javascript" src="{{server-root}}js/jquery-layout.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-dotimeout.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/d3.js"></script>
    <script type="text/javascript" src="{{server-root}}js/sort-table.js"></script>
    <script type="text/javascript" src="{{server-root}}js/modernizr.js"></script>
    <script type="text/javascript" src="{{server-root}}js/bookmarker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-mapper.js"></script>
    <script type="text/javascript" src="{{server-root}}js/cca-scatterplot.js"></script>

    <!-- SlickGrid sources -->
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.0.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.jsonp-1.1.0.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/table-cca-simulation.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.ccaloader.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>

    <link rel="stylesheet" href="{{server-root}}style/model-cca.css" type="text/css">

    <!-- SlickGrid styles -->
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-slycat-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.headerbuttons.css" type="text/css"/>

  </head>

  <body class="cca">
    <div class="ui-layout-north">
{{> header}}

      <div id="page-title">
        <div class="width-wrapper">
          <div class="marking">{{{marking-html}}}</div>
          <button id="edit-model-button" title="Edit this model's name and description.">Edit Model</button>
          <button id="rerun-cca-button" title="Rerun this model using different parameters.">Rerun Model</button>
          <div id="breadcrumbs">
            <a href="{{server-root}}projects">Projects</a> &rarr;
            {{#full-project}}<a href="{{server-root}}projects/{{_id}}" id="project-link">{{name}}</a> &rarr;{{/full-project}}
          </div>
          <h2>{{name}}</h2>
          <div id="model-desc">{{description}}</div>
          <div id="color-switcher-container"></div>
          <div id="status-messages" style="display: none;">
            <div class='error-heading'>Oops, this model is not ready yet.</div>
            <div class='error-description'>We are probabably building it for your right now. We'll load it for you automatically once it's ready. Look up at the status bar for progress information and more details.</div>
            <div><a href="#" onClick="$('#status-messages .technical-details').show(); return false;">Show Technical Information</a></div>
            <div class="technical-details" style="display: none;"></div>
          </div>
          <div id="edit-model">
            <div id="edit-model-form" class="dialog" title="Edit Model">
              <button id="delete-model-link">Delete Model</button>
              <label for="edit-model-name">Model Name</label>
              <input id="edit-model-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
              <label for="edit-model-description">Description</label>
              <textarea id="edit-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>
            </div>
          </div>

          <!-- Rerun CCA user interface -->
          <div id="rerun-cca-form" class="dialog" title="Rerun CCA Model">
            <div id="rerun-cca-basics">
              <label for="rerun-cca-name">Model Name</label>
              <input id="rerun-cca-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
              <label for="rerun-cca-description">Description</label>
              <textarea id="rerun-cca-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            </div>

            <div id="rerun-cca-parameters">
              <table id="rerun-cca-variables">
                <thead>
                  <tr><th>Variable</th><th>Input</th><th>Output</th></tr>
                  <tr>
                    <td></td>
                    <td><button id="rerun-cca-all-inputs-on" title="Turn all inputs on.">On</button><button id="rerun-cca-all-inputs-off" title="Turn all inputs off.">Off</button></td>
                    <td><button id="rerun-cca-all-outputs-on" title="Turn all outputs on.">On</button><button id="rerun-cca-all-outputs-off" title="Turn all outputs off.">Off</button></td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <div>
                <p><input id="rerun-cca-scale-inputs" type="checkbox"></input>Scale inputs to unit variance.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div id="content-pane" class="ui-layout-center">
      <div id="cca-pane" class="ui-layout-north">
        <div id="cca-component-pane" class="ui-layout-center">
          <div id="cca-component">
            <div id="errors" style="display:none">
              <h2>Errors</h2>
              <table>
                <tbody id="error-table"></tbody>
              </table>
            </div>
            <table id="cca-table">
            </table>
          </div>
        </div>
        <div id="scatterplot-pane" class="ui-layout-east">
          <canvas id="scatterplot" width="300" height="300" style="width: 300px; height: 300px;"></canvas>
        </div>
      </div>
      <div id="simulation-pane" class="ui-layout-center">
        <div id="simulation-table-pane" class="ui-layout-center">
        </div>
      </div>
    </div>

    <div id="footer" class="ui-layout-south">
      <div class="width-wrapper">
        <ul id="footer-links">
          {{#is-project-administrator}}
          <li class="admin">
            <a href="{{server-root}}models/{{_id}}/design">Design View</a>
          </li>
          {{/is-project-administrator}}
        </ul>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        // Start up a bookmark manager
        var bookmarker = new bookmark_manager("{{server-root}}", "{{#full-project}}{{_id}}{{/full-project}}", "{{_id}}");
        var bookmark = bookmarker.getState();

        var cca_simulation_table_instance = null;

        // Start up a color mapper
        var colorMapper = new color_mapper();
        // Add controls for switching between different color maps
        colorMapper.addSwitcher($('#color-switcher-container'), bookmark, updateColorMap);
        // Callback function called by colorMapper when user clicks on a different color map choice
        function updateColorMap(colorMapName){
          if(cca_simulation_table_instance != null && colorMapName != null) {
            cca_simulation_table_instance.updateColorMap(colorMapName);
            cca_scatterplot.update({color:true});
            bookmarker.updateState( {"colormap" : colorMapName} );
          }
        }

        // Setup the model edit form ...
        $("#edit-model-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 300,
          modal: true,
          buttons:
          {
            "Save Changes": function()
            {
              var model =
              {
                "name" : $("#edit-model-name").val(),
                "description" : $("#edit-model-description").val()
              };

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(model),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating model: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
          }
        });

        $("#delete-model-link").click(function(){
          if(!window.confirm("Delete model {{name}}?  This cannot be undone."))
            return false;

          $.ajax(
          {
            type : "DELETE",
            url : "{{server-root}}models/{{_id}}",
            success : function(details)
            {
              window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error deleting model: " + reason_phrase);
            }
          });
        });

        $("#edit-model-button").button().click(function()
        {
          $("#edit-model-form").dialog("open");
          $("#edit-model-name").focus();
        });

        // Setup the Rerun Model form ...
        rerun_cca_worker = null;
        $("#rerun-cca-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#rerun-cca-basics").css("display", "block");
            $("#rerun-cca-parameters").css("display", "none");
            $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
            $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
          },
          close : function()
          {
            if(rerun_cca_worker)
            {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}workers/" + rerun_cca_worker,
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error closing local worker: " + reason_phrase);
                }
              });
              rerun_cca_worker = null;
            }
          },
          buttons:
          {
            "Previous" : function(){
              $("#rerun-cca-basics").css("display", "block");
              $("#rerun-cca-parameters").css("display", "none");
              $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            },
            "Next" : function(){
              $(".ui-dialog-buttonpane button:contains('Next')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("enable");
              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}/models",
                contentType : "application/json",
                data: $.toJSON(
                {
                  "model-type" : "cca3",
                  "name" : $("#rerun-cca-name").val(),
                  "marking" : "{{marking}}",
                  "description" : $("#rerun-cca-description").val()
                }),
                processData: false,
                success: function(result)
                {
                  rerun_cca_worker = result["wid"];
                  $.ajax(
                  {
                    type : "POST",
                    url : "{{server-root}}workers/" + rerun_cca_worker + "/model/copy-model-inputs",
                    contentType : "application/json",
                    data: $.toJSON(
                    {
                      "mid" : "{{_id}}"
                    }),
                    processData: false,
                    success: function(result)
                    {
                      $.ajax(
                      {
                        type : "GET",
                        url : "{{server-root}}workers/" + rerun_cca_worker + "/model/table-columns",
                        data :
                        {
                          name : "data-table"
                        },
                        success : function(table)
                        {
                          function deselect_companion(companion)
                          {
                            return function()
                            {
                              companion.removeAttr("checked");
                            }
                          }
                          $("#rerun-cca-variables tbody").empty();
                          $.each(table["column-names"], function(index, column)
                          {
                            var row = $("<tr>").appendTo($("#rerun-cca-variables tbody"));
                            $("<td>").text(column).appendTo(row);

                            if(table["column-types"][index] == "double")
                            {
                              var input = $("<input type='checkbox' name='inputs' class='rerun-cca-input-variable' title='Treat variable as an input for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                              var output = $("<input type='checkbox' name='outputs' class='rerun-cca-output-variable' title='Treat variable as an output for analysis.'>").val(index).appendTo($("<td>").appendTo(row));

                              if(jQuery.inArray(index, input_columns) != -1)
                                input.attr("checked", "checked");
                              if(jQuery.inArray(index, output_columns) != -1)
                                output.attr("checked", "checked");

                              input.click(deselect_companion(output));
                              output.click(deselect_companion(input));
                            }
                            else
                            {
                              $("<td colspan='2' title='Cannot analyze non-numeric data.'>").appendTo(row);
                            }
                          });
                          $("#rerun-cca-basics").css("display", "none");
                          $("#rerun-cca-parameters").css("display", "block");
                        },
                        error: function(request, status, reason_phrase)
                        {
                          window.alert("Error creating model: " + reason_phrase);
                        }
                      });
                    },
                    error: function(request, status, reason_phrase)
                    {
                      window.alert("Error creating model: " + reason_phrase);
                    }
                  });
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            "Run" : function(){
              function set_parameter(name, value)
              {
                $.ajax(
                {
                  async : false,
                  type : "POST",
                  url : "{{server-root}}workers/" + rerun_cca_worker + "/model/set-parameter",
                  contentType : "application/json",
                  data: $.toJSON(
                  {
                    name : name,
                    value : value
                  }),
                  processData : false,
                  error: function(request, status, reason_phrase)
                  {
                    window.alert("Error setting model parameter: " + reason_phrase);
                  }
                });
              }

              input_columns = [];
              $(".rerun-cca-input-variable:checked").each(function(index, element) { input_columns.push(Number($(element).val())); });
              set_parameter("input-columns", input_columns);

              output_columns = [];
              $(".rerun-cca-output-variable:checked").each(function(index, element) { output_columns.push(Number($(element).val())); });
              set_parameter("output-columns", output_columns);

              set_parameter("scale-inputs", $("#rerun-cca-scale-inputs").attr("checked"));

              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}workers/" + rerun_cca_worker + "/model/finish-model",
                contentType : "application/json",
                data: $.toJSON(
                {
                }),
                processData: false,
                success: function(result)
                {
                  rerun_cca_worker = null;
                  window.alert("Model scheduled for generation.  Watch the worker pane to see when it completes.");
                  $("#rerun-cca-form").dialog("close");
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            Cancel : function(){
              $(this).dialog("close");
            }
          }
        });

        $("#rerun-cca-all-inputs-on").button().click(function()
        {
          $(".rerun-cca-input-variable").attr("checked", "checked");
          $(".rerun-cca-output-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-inputs-off").button().click(function()
        {
          $(".rerun-cca-input-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-outputs-on").button().click(function()
        {
          $(".rerun-cca-output-variable").attr("checked", "checked");
          $(".rerun-cca-input-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-outputs-off").button().click(function()
        {
          $(".rerun-cca-output-variable").removeAttr("checked");
        });

        $("#rerun-cca-button").button().click(function()
        {
          $("#rerun-cca-form").dialog("open");
        });

        // Verify that we have all required inputs before setting-up the rest of the visualization ...
        var input_columns = {{input-columns}};
        var output_columns = {{output-columns}};
        var scale_inputs = {{scale-inputs}};
        var r2_statistics = null;
        var wilks_statistics = null;
        var x = [];
        var y = [];
        var v = [];
        var x_loadings = null;
        var y_loadings = null;

        // Create a canonical-variables array chunker worker and get the canonical-variables from it
        var xy_chunker = createArrayChunker("canonical-variables");
        getBinaryArray(xy_chunker, 0, function(result)
        {
          x = result;
          wait_for_data();
        });
        getBinaryArray(xy_chunker, 1, function(result)
        {
          y = result;
          wait_for_data();
        });

        // Create a data table array chunker and get the index column from it ...
        var v_chunker = createArrayChunker("data-table");

        // Create a cca-statistics array chunker worker and get the cca-statistics from it
        var statistics_chunker = createArrayChunker("cca-statistics");
        getBinaryArray(statistics_chunker, 0, function(result)
        {
          r2_statistics = result;
          wait_for_data();
        });
        getBinaryArray(statistics_chunker, 1, function(result)
        {
          wilks_statistics = result;
          wait_for_data();
        });

        // Create an x_loadings array chunker worker and get the x_loadings from it
        getBinaryArray(createArrayChunker("input-structure-correlation"), 0, function(result)
        {
          x_loadings = result;
          wait_for_data();
        });

        // Create a y_loadings array chunker worker and get the y_loadings from it
        getBinaryArray(createArrayChunker("output-structure-correlation"), 0, function(result)
        {
          y_loadings = result;
          wait_for_data();
        });

        function createArrayChunker(modelArtifactName)
        {
          var result = null;
          $.ajax(
            {
              contentType : "application/json",
              data : $.toJSON({ type : "array-chunker", "mid" : "{{_id}}", "artifact" : modelArtifactName, }),
              processData : false,
              type : "POST",
              cache: false,
              url : "{{server-root}}" + "workers",
              async: false, // Much of the rest of the script relies on this array chunker, so doing this synchronously
              success : function(worker)
              {
                result = worker.id;

                // setup beforeunload handler to stop and delete worker when user leaves page
                $(window).unload({"worker":worker}, function(e)
                {
                  $.ajax(
                  {
                    type : "DELETE",
                    url : "{{server-root}}" + "workers/" + e.data.worker.id,
                    async: false,
                    error : function(request, status, reason_phrase)
                    {
                      //window.alert("Error deleting remote worker: " + reason_phrase);
                    }
                  });
                });
              },
              error : function(request, status, reason_phrase)
              {
                //window.alert("Error creating " + modelArtifactName + " array-chunker worker: " + reason_phrase);
              },
            }
          );
          return result;
        }

        function getBinaryArray(chunker, attribute, callback)
        {
          $.ajax({
            url : "{{server-root}}" + "workers/" + chunker + "/array-chunker/metadata",
            contentType : "application/json",
            success: function(metadata)
            {
              var ranges = [];
              for(var dimension in metadata.dimensions)
              {
                ranges.push(metadata.dimensions[dimension].begin);
                ranges.push(metadata.dimensions[dimension].end);
              }
              ranges = ranges.join(",");

              var request = new XMLHttpRequest();
              request.open("GET", "{{server-root}}" + "workers/" + chunker + "/array-chunker/chunk?attribute=" + attribute + "&ranges=" + ranges + "&byteorder=little");
              request.responseType = "arraybuffer"; // This is a hack: we're assuming an array of doubles here
              request.metadata = metadata;
              request.onload = function(e)
              {
                var buffer = this.response;
                var metadata = this.metadata;

                if(metadata.dimensions.length == 1)
                {
                  // This is a hack: we're assuming an array of doubles here
                  var result = new Float64Array(buffer);
                }
                else if(metadata.dimensions.length == 2)
                {
                  var row_count = metadata.dimensions[0].end - metadata.dimensions[0].begin;
                  var column_count = metadata.dimensions[1].end - metadata.dimensions[1].begin;
                  var result = [];
                  for(var i = 0; i != row_count; ++i)
                    result.push(new Float64Array(buffer, i * column_count * 8, column_count))
                }
                else
                {
                  window.alert("Can't handle array with " + metadata.dimensions.length + " dimensions.");
                }
                callback(result);
              }
              request.send();
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error getting metadata from array-chunker worker: " + reason_phrase);
            }
          });
        }

        function wait_for_data()
        {
          if(input_columns === null || output_columns === null || scale_inputs === null || r2_statistics === null || wilks_statistics === null || x === null || y === null|| x_loadings === null || y_loadings === null)
          {
            /*
            $("#status-messages").show();
            $("#status-messages .technical-details").append("<pre>Required inputs are not present.</pre>");
            setTimeout("location.reload(true);", 15000);
            */
            return;
          }

          // OK, setup the visualization ...
          var workerId = null;
          // Creating a table chunker worker
          $.ajax(
          {
            contentType : "application/json",
            data : $.toJSON({ type : "table-chunker", "mid" : "{{_id}}", "artifact" : "data-table", "generate-index" : "Index" }),
            processData : false,
            type : "POST",
            cache: false,
            url : "{{server-root}}" + "workers",
            async: false, // Much of the rest of the script relies on this table chunker, so doing this synchronously
            success : function(worker)
            {
              workerId = worker.id;
              // setup beforeunload handler to stop and delete worker when user leaves page
              $(window).unload({"worker":worker}, function(e)
              {
                $.ajax(
                {
                  type : "DELETE",
                  url : "{{server-root}}" + "workers/" + e.data.worker.id,
                  async: false,
                  error : function(request, status, reason_phrase)
                  {
                    //window.alert("Error deleting remote worker: " + reason_phrase);
                  }
                });
              });
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error creating table-chunker worker: " + reason_phrase);
            },
          });

          // Grabbing metadata from the table chunker
          var data_table = null;
          $.ajax({
            url : "{{server-root}}" + "workers/" + workerId + "/table-chunker/metadata",
            contentType : "application/json",
            async: false, // Much of the rest of the script relies on this metadata, so dong this synchronously
            success: function(resp){
              data_table = resp;
            },
            error: function(request, status, reason_phrase){
              window.alert("Error getting metadata from table-chunker worker: " + reason_phrase);
            }
          });

          var index_column = data_table["column-count"] - 1;

          var simulation_count = data_table["row-count"];
          var cca_component = 0;

          var inputs = [];
          for(var i = 0; i != input_columns.length; ++i)
            inputs.push(data_table["column-names"][input_columns[i]]);

          var outputs = [];
          for(var i = 0; i != output_columns.length; ++i)
            outputs.push(data_table["column-names"][output_columns[i]]);

          var index = data_table["column-names"][index_column];

          var other_columns = [];
          var others = [];
          var column_count = data_table["column-count"];
          var all_column_indexes = [index_column].concat(input_columns).concat(output_columns);
          for(var i = 0; i != column_count; ++i) {
            if(all_column_indexes.indexOf(i) == -1) {
              other_columns.push(i);
              others.push(data_table["column-names"][i]);
            }
          }
          all_column_indexes = all_column_indexes.concat(other_columns);

          // Layout our resizable panels ...
          $("body").layout({
            south : {
              initClosed : true
              }
            });

          $("#content-pane").layout({
            north : {
              size : $("#content-pane").height() / 2,
              resizeWhileDragging : false
              }
            });

          $("#cca-pane").layout({
            center: {
              resizeWhileDragging : true
              },
            east : {
              size : ($("#content-pane").height() / 2) + 40,
              resizeWhileDragging : false,
              onresize : function() { $("#scatterplot").scatterplot("option", {width: $("#scatterplot-pane").width(), height: $("#scatterplot-pane").height()}); }
              }
            });

          var simulation_pane_layout = $("#simulation-pane").layout({
            west : {
              size : $("#content-pane").height() / 2,
              resizeWhileDragging : true,
              initClosed : true
              },
            center: {
              resizeWhileDragging : true,
              onresize : function() { cca_simulation_table_instance.resizeGridCanvas(); }
              }
            });

          function selected_cca_component_changed(component)
          {
            $.ajax(
            {
              type : "POST",
              url : "{{server-root}}events/models/{{_id}}/select/component/" + component
            });

            bookmarker.updateState( {"cca-component" : component} );
          }

          function selected_variable_changed(type, index)
          {
            $.ajax(
            {
              type : "POST",
              url : "{{server-root}}events/models/{{_id}}/select/variable/" + type + "/" + index
            });

            bookmarker.updateState( {"variable-type" : type, "variable-index" : index} );
          }

          function selected_simulations_changed(indices)
          {
            // Logging every selected simulation gets slow, so just log the count instead.
            $.ajax(
            {
              type : "POST",
              url : "{{server-root}}events/models/{{_id}}/select/simulation/count/" + indices.length
            });
  /*
            $.each(indices, function(index, value)
            {
              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}events/models/{{_id}}/select/simulation/" + value
              });
            });
  */

            bookmarker.updateState( {"simulations" : indices} );
          }

          function variable_sort_order_changed(fieldIndex, direction, fieldName)
          {
            $.ajax(
            {
              type : "POST",
              url : "{{server-root}}events/models/{{_id}}/select/sort-order/" + fieldIndex + "/" + direction
            });

            bookmarker.updateState( {"sort-field" : fieldName, "sort-direction" : direction} );
          }

          // Updates the scatterplot when user selects a new input or output variable in the cca table
          function update_scatterplot_value(type, index)
          {
            if(type == "simulation")
            {
              var count = x[0].length;
              for(var i = 0; i != count; ++i)
                v[i] = i;
              $("#scatterplot").scatterplot("option", {v : v});
            }
            else if(type == "input")
            {
              getBinaryArray(v_chunker, input_columns[index], function(result)
              {
                v = result;
                $("#scatterplot").scatterplot("option", {v : v});
              });
            }
            else if(type == "output")
            {
              getBinaryArray(v_chunker, output_columns[index], function(result)
              {
                v = result;
                $("#scatterplot").scatterplot("option", {v : v});
              });
            }
          }

          // Called when the grid initialized since now we can access data and restore state contained in the bookmark
          window.initial_update_scatterplot_value = function() {
            // Update the color coding of the scatterplot based on selected variable
            if("variable-type" in bookmark && "variable-index" in bookmark)
            {
              update_scatterplot_value(bookmark["variable-type"], bookmark["variable-index"]);
            }
            // Updates the selected row(s) in the simulation table
            if("simulations" in bookmark)
            {
              if(cca_simulation_table_instance) {
                //cca_simulation_table_instance.update({simulation_selection: bookmark["simulations"]});
                cca_simulation_table_instance.update({unsorted_simulation_selection: bookmark["simulations"]});
              }
            }
            // Updates the sort order of columns in the simulation table
            if("sort-field" in bookmark && "sort-direction" in bookmark)
            {
              if(cca_simulation_table_instance) {
                cca_simulation_table_instance.update({
                  sort_field: bookmark["sort-field"],
                  sort_direction: bookmark["sort-direction"]});
              }
            }
          }

          // Setup the cca table ...
          if(inputs && outputs && r2_statistics && wilks_statistics && x_loadings && y_loadings)
          {
            var cca_table = new cca_table_component({
              table: $("#cca-table"),
              inputs: inputs,
              outputs: outputs,
              statistics: [r2_statistics, wilks_statistics],
              x_loadings: x_loadings,
              y_loadings: y_loadings,
              add_component_callback: selected_cca_component_changed,
              add_variable_callback: selected_variable_changed,
              bookmarker: bookmarker,
              });
          }

          // Setup the simulation scatterplot ...
          $("#scatterplot").scatterplot({
            x: x,
            y: y,
            v: v,
            width: $("#scatterplot-pane").width(),
            height: $("#scatterplot-pane").height()
            //add_simulation_callback: selected_simulations_changed,
            //colorMapper: colorMapper,
            });

          // Setup the simulation table ...
          if(inputs && outputs && data_table)
          {
            cca_simulation_table_instance = new cca2_simulation_table({
              container: "#simulation-table-pane",
              index: index,
              inputs: inputs,
              outputs: outputs,
              others: others,
              variable_names: [index].concat(inputs).concat(outputs).concat(others),
              all_column_indexes: all_column_indexes,
              row_count: data_table["row-count"],
              max: data_table["column-max"],
              min: data_table["column-min"],
              index_column: index_column,
              input_columns: input_columns,
              output_columns: output_columns,
              other_columns: other_columns,
              add_simulation_callback: selected_simulations_changed,
              add_sort_order_callback: variable_sort_order_changed,
              colormap: bookmark["colormap"],
              colorMapper: colorMapper,
              }, "{{server-root}}", workerId);
            cca_simulation_table_instance.update({highlight: ["simulation", 0]});
          }

          // Setup linked selections ...
          if(cca_table)
          {
            cca_table.update({add_variable_callback: update_scatterplot_value});
            cca_table.update({
              add_component_callback: function(component)
              {
                $("#scatterplot").scatterplot("option", {x : x[component], y : y[component], v : v});
              }
            });
          }

          if(cca_table && cca_simulation_table_instance)
          {
            cca_table.update({add_variable_callback: function(type, index) { cca_simulation_table_instance.update({highlight: [type, index]}); }});
            cca_simulation_table_instance.update({add_variable_callback: function(type, index) { cca_table.update({highlight: [type, index]}); }});
          }

          if(cca_simulation_table_instance)
          {
            // Selects scatterplot point when row in simulation table is clicked
            cca_simulation_table_instance.update({
              add_simulation_callback: function(selection)
              {
                $("#scatterplot").scatterplot("option", {selection: selection});
              }
            });
            // Selects row in simulation table when point in scatterplot is selected
            $("#scatterplot").bind("selection-changed", function(event, selection)
            {
              cca_simulation_table_instance.update({simulation_selection: selection});
            });
          }

          /////////////////////////////////////////////////////////////////////////////////////
          // Restore some of the state contained in the URL query string.
          // Other state contained in the URL query string is restored in the 
          // window.initial_update_scatterplot_value function, since it needs to wait
          // until we have access to a table chunker and an initialized grid with data.

          // Updates selected cca component in the table and scatterplot, or selects the first one
          // if none have been selected.
          if("cca-component" in bookmark)
          {
            var component = bookmark["cca-component"];

            if(cca_table)
              cca_table.update({component: component});

            $("#scatterplot").scatterplot("option", {x : x[component], y : y[component], v : v});
          }
          else
          {
            window.setTimeout(function() { cca_table.update({component: 0}); }, 2000);
          }

          if("simulations" in bookmark)
          {
            $("#scatterplot").scatterplot("option", {selection: bookmark["simulations"]});
          }

          if("variable-type" in bookmark && "variable-index" in bookmark)
          {
            // Update the selected variable in the cca table
            if(cca_table) {
              cca_table.update({highlight: [bookmark["variable-type"], bookmark["variable-index"]]});
            }
            // Update the selected variable (i.e., colored column) in the simulation table
            if(cca_simulation_table_instance) {
              cca_simulation_table_instance.update({highlight: [bookmark["variable-type"], bookmark["variable-index"]]});
            }
          }

          if("sort-cca-component" in bookmark && "sort-direction-cca-component" in bookmark)
          {
            // Update the sort order of the variables in the bookmarked cca component
            if(cca_table)
              cca_table.update({
                sort_component: bookmark["sort-cca-component"],
                sort_component_direction: bookmark["sort-direction-cca-component"],
              });
          }
        }
      });

      ///////////////////////////////////////////////////////////////////////////////////////////
      // cca_table_component

      function cca_table_component(parameters)
      {
        this.table = parameters.table.empty();
        this.component_callbacks = [];
        this.variable_callbacks = [];

        function component_class(component)
        {
          return "cca" + (component + 1);
        }

        this.select_component = function(component)
        {
          d3.select(this.table.get(0)).selectAll(".selected-component")
            .classed("selected-component", false)
            ;

          d3.select(this.table.get(0)).selectAll("." + component_class(component))
            .classed("selected-component", true)
            ;

          d3.select(this.table.get(0)).selectAll("td.bar").filter(function() { return !d3.select(this).classed(component_class(component)); })
              .transition()
                .duration(500)
                .attr("width", 0)
            ;

          d3.select(this.table.get(0)).selectAll("td.bar").filter(function() { return !d3.select(this).classed(component_class(component)); })
            .selectAll("div")
              .transition()
                .duration(500)
                .style("width", "0px")
            ;

          d3.select(this.table.get(0)).selectAll("td.bar").filter(function() { return d3.select(this).classed(component_class(component)); })
              .transition()
                .duration(500)
                .attr("width", 100)
            ;

          function negative_bar_width(data, component)
          {
            return function(d, i)
            {
              var index = $(this).parent().parent().data("index");
              return data[component][index] < 0 ? -100 * data[component][index] + "px" : "0px";
            }
          }

          function positive_bar_width(data, component)
          {
            return function(d, i)
            {
              var index = $(this).parent().parent().data("index");
              return data[component][index] > 0 ? 100 * data[component][index] + "px" : "0px";
            }
          }

          d3.select(this.table.get(0)).selectAll("td.input.bar.negative." + component_class(component) + " div")
            .transition()
              .duration(500)
              .style("width", negative_bar_width(this.x_loadings, component))
            ;

          d3.select(this.table.get(0)).selectAll("td.input.bar.positive." + component_class(component) + " div")
            .transition()
              .duration(500)
              .style("width", positive_bar_width(this.x_loadings, component))
            ;

          d3.select(this.table.get(0)).selectAll("td.output.bar.negative." + component_class(component) + " div")
            .transition()
              .duration(500)
              .style("width", negative_bar_width(this.y_loadings, component))
            ;

          d3.select(this.table.get(0)).selectAll("td.output.bar.positive." + component_class(component) + " div")
            .transition()
              .duration(500)
              .style("width", positive_bar_width(this.y_loadings, component))
            ;
        }

        function click_component(context, component)
        {
          return function()
          {
            context.select_component(component);

            for(var i = 0; i != context.component_callbacks.length; ++i)
              context.component_callbacks[i](component);
          }
        }

        function sort_component(context, component)
        {
          return function()
          {
            var sort_order = 'descending';
            if( $(this).hasClass('icon-sort-descending') )
              sort_order = 'ascending';

           do_component_sort(component, sort_order);
          }
        }

        function do_component_sort(component, sort_order) {
          var table = $("table#cca-table");
          var sort_icon = $("th." + component_class(component) + " .sortCCAComponent", table)

          $("span.sortCCAComponent", table).removeClass("icon-sort-descending icon-sort-ascending").addClass("icon-sort-off");
          $(sort_icon).removeClass("icon-sort-off").addClass("icon-sort-" + sort_order);


          $("tbody tr.input", table).sort(sortFunction).appendTo(table);
          $("tbody tr.output", table).sort(sortFunction).appendTo(table);

          parameters.bookmarker.updateState( {"sort-cca-component" : component, "sort-direction-cca-component" : sort_order} );

          function sortFunction(a,b){
            var selector = "td.value:eq(" + component + ")";
            var value_a = $(selector, a).text();
            var value_b = $(selector, b).text();
            var aa = parseFloat(value_a.replace(/[^0-9.-]/g,''));
            if (isNaN(aa)) aa = 0;
            var bb = parseFloat(value_b.replace(/[^0-9.-]/g,''));
            if (isNaN(bb)) bb = 0;
            var result;
            if(sort_order == 'descending')
              result = Math.abs(bb)-Math.abs(aa);
            else
              result = Math.abs(aa)-Math.abs(bb);
            return result;
          }
        }

        function click_row(context, row, variable_type, variable_index)
        {
          return function()
          {
            context.table.find("tr").removeClass("selected-variable");
            row.addClass("selected-variable");

            for(var i = 0; i != context.variable_callbacks.length; ++i)
              context.variable_callbacks[i](variable_type, variable_index);
          }
        }

        var inputs = parameters.inputs;
        var outputs = parameters.outputs;
        var statistics = parameters.statistics;
        this.x_loadings = parameters.x_loadings;
        this.y_loadings = parameters.y_loadings;
        var cca_count = this.x_loadings.length;

        var row = $("<tr>").appendTo(this.table);
        $("<th>").appendTo(row);
        for(var j = 0; j != cca_count; ++j)
        {
          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);

          var th = $("<th class='label'><span class='selectCCAComponent'>CCA" + (j+1) + "</span><span class='sortCCAComponent icon-sort-off' /></th>").addClass(component_class(j))
          th.appendTo(row);
          $("span.selectCCAComponent", th).click(click_component(this, j));
          $("span.sortCCAComponent", th).click(sort_component(this, j));

          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);
        }

        // Add r-squared statistic ...
        var row = $("<tr class='r2'>").appendTo(this.table);
        $("<th>R<sup>2</sup></th>").appendTo(row);
        for(var j = 0; j != cca_count; ++j)
        {
          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);
          $("<td class='value'>").html(Number(statistics[0][j]).toFixed(3)).addClass(component_class(j)).appendTo(row);
          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);
        }

        // Add p statistic ...
        var row = $("<tr class='p'>").appendTo(this.table);
        $("<th>P</th>").appendTo(row);
        for(var j = 0; j != cca_count; ++j)
        {
          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);
          $("<td class='value'>").html(Number(statistics[1][j]).toFixed(3)).addClass(component_class(j)).appendTo(row);
          $("<td class='bar'>").addClass(component_class(j)).appendTo(row);
        }

        // Add input variables ...
        for(var i = 0; i != inputs.length; ++i)
        {
          var row = $("<tr class='input'>").addClass("index-" + i).data("index", i).appendTo(this.table);
          row.click(click_row(this, row, "input", i));

          $("<th>").html(inputs[i]).appendTo(row);

          for(var j = 0; j != cca_count; ++j)
          {
            $("<td class='input bar negative'><div></div></td>").addClass(component_class(j)).appendTo(row);
            $("<td class='input value'>").html(Number(this.x_loadings[j][i]).toFixed(3)).addClass(component_class(j)).appendTo(row);
            $("<td class='input bar positive'><div></div></td>").addClass(component_class(j)).appendTo(row);
          }
        }

        // Add output variables ...
        for(var i = 0; i != outputs.length; ++i)
        {
          var row = $("<tr class='output'>").addClass("index-" + i).data("index", i).appendTo(this.table);
          row.click(click_row(this, row, "output", i));

          $("<th>").html(outputs[i]).appendTo(row);

          for(var j = 0; j != cca_count; ++j)
          {
            $("<td class='output bar negative'><div></div></td>").addClass(component_class(j)).appendTo(row);
            $("<td class='output value'>").html(Number(this.y_loadings[j][i]).toFixed(3)).addClass(component_class(j)).appendTo(row);
            $("<td class='output bar positive'><div></div></td>").addClass(component_class(j)).appendTo(row);
          }
        }

        d3.select(this.table.get(0)).selectAll("td.bar")
          .attr("width", 0)
          ;
        d3.select(this.table.get(0)).selectAll("td.bar div")
          .style("width", "0px")
          ;

        this.update = function(parameters)
        {
          if(parameters.component != null)
          {
            this.select_component(parameters.component);
          }

          if(parameters.add_component_callback)
            this.component_callbacks.push(parameters.add_component_callback);

          if(parameters.add_variable_callback)
            this.variable_callbacks.push(parameters.add_variable_callback);

          if(parameters.highlight)
          {
            this.table.find("tr").removeClass("selected-variable");

            // Don't highlight anything if index column was selected
            if(parameters.highlight[0] != 'simulation')
              this.table.find("tr." + parameters.highlight[0] + ".index-" + parameters.highlight[1]).addClass("selected-variable");

            for(var i = 0; i != this.variable_callbacks.length; ++i)
              this.variable_callbacks[i](parameters.highlight[0], parameters.highlight[1]);
          }

          if(parameters.sort_component != null && parameters.sort_component_direction != null)
          {
            do_component_sort(parameters.sort_component, parameters.sort_component_direction);
          }
        }

        this.update(parameters);
      }
    </script>
  </body>
</html>
