<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat Time Series Model</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/d3.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/bookmarker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/chunker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-switcher.js"></script>
    <script type="text/javascript" src="{{server-root}}js/timeseries-cluster.js"></script>
    <script type="text/javascript" src="{{server-root}}js/timeseries-dendrogram.js"></script>
    <script type="text/javascript" src="{{server-root}}js/timeseries-waveformplot.js"></script>
    <script type="text/javascript" src="{{server-root}}js/timeseries-table.js"></script>

    <!-- SlickGrid sources -->
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>

    <!-- Page styles -->
    <link rel="stylesheet" href="{{server-root}}css/model-timeseries.css" type="text/css">

    <!-- SlickGrid styles -->
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick.headerbuttons.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}css/slickGrid/slick-slycat-theme.css" type="text/css"/>
  </head>

  <body class="timeseries">
    <div class="ui-layout-north">
{{> header}}
      <div id="page-title">
        <div class="width-wrapper">
          <div class="marking">{{{marking-html}}}</div>
          {{#can-write}}
          <button id="edit-model-button" title="Edit this model's name and description.">Edit Model</button>
          <!--<button id="rerun-timeseries-button" title="Rerun this model using different parameters.">Rerun Model</button>-->
          {{/can-write}}
          <div id="breadcrumbs">
            <a href="{{server-root}}projects">Projects</a> &rarr;
            {{#full-project}}<a href="{{server-root}}projects/{{_id}}" id="project-link">{{name}}</a> &rarr;{{/full-project}}
          </div>
          <h2>{{name}}</h2>
          <div id="model-desc">{{description}}</div>
          <div id="status-messages" style="display: none;"></div>
          <div id="edit-model">
            <div id="edit-model-form" class="dialog" title="Edit Model">
              <button id="delete-model-link">Delete Model</button>
              <label for="new-model-name">Model Name</label>
              <input id="new-model-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
              <label for="new-model-description">Description</label>
              <textarea id="new-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>
            </div>
          </div>

          <!-- Rerun Timeseries user interface -->
          <div id="rerun-timeseries-form" class="dialog" title="Rerun Timeseries Model">
            <div id="rerun-timeseries-basics">
              <label for="rerun-timeseries-name">Model Name</label>
              <input id="rerun-timeseries-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
              <label for="rerun-timeseries-description">Description</label>
              <textarea id="rerun-timeseries-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            </div>

            <div id="rerun-timeseries-parameters">
              <p>
                <label for="rerun-timeseries-cluster-type">Cluster Type</label>
                <select id="rerun-timeseries-cluster-type">
                  <option value="complete">Complete</option>
                  <option value="single">Single</option>
                  <option value="average">Average</option>
                  <option value="weighted">Weighted</option>
                </select>
              </p>
              <p>
                <label for="rerun-timeseries-cluster-bin-count">Bin Count</label>
                <input id="rerun-timeseries-cluster-bin-count"></input>
              </p>
              <p>
                <label for="rerun-timeseries-cluster-bin-type">Binning Type</label>
                <select id="rerun-timeseries-cluster-bin-type">
                  <option value="naive">Naive</option>
                </select>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="content-pane" class="ui-layout-center">
      <div id="cluster-pane" class="ui-layout-north">
        <div class="load-status"></div>
        <div id="color-switcher"></div>
        <table id="cluster-viewer"></table>
      </div>
      <div id="model-pane" class="ui-layout-center">
        <div id="dendrogram-pane" class="ui-layout-west">
          <div id="dendrogram-sparkline-backdrop"></div>
          <div class="load-status"></div>
          <svg id="dendrogram-viewer" width="100%" height="100%">
            <defs>
              <linearGradient id="subtree-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#7767b0" stop-opacity="1" />
                <stop offset="100%" stop-color="#ffffff" stop-opacity="1" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div id="waveform-pane" class="ui-layout-center">
          <div class="load-status"></div>
          <svg id="waveform-viewer" width="100%" height="100%">
          </svg>
          <div id="waveform-progress">
            <input class="waveformPie" value="1" />
          </div>
        </div>
      </div>
    </div>
    <div id="table-pane" class="ui-layout-south" style="overflow: auto">
      <div class="load-status"></div>
      <div id="table">
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function()
      {
        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup global variables.
        //////////////////////////////////////////////////////////////////////////////////////////
        
        var model = null;
        var cluster_bin_count = null;
        var cluster_bin_type = null;
        var cluster_type = null;

        var bookmarker = new bookmark_manager("{{server-root}}", "{{#full-project}}{{_id}}{{/full-project}}", "{{_id}}");
        var bookmark = null;

        var clusters = null; // This is just the list of cluster names
        var clusters_data = null; // This holds data for each cluster
        var waveforms_data = null; // This holds the waveforms for each cluster
        var waveforms_metadata = null; // This holds the waveforms metadata for each cluster
        var initial_cluster = null; // This holds the index of the initially selected cluster
        var table_metadata = null;
        var color_array = null; // This holds the sorted array of values for the color scale
        var selected_column = null; // This holds the currently selected column
        var selected_column_min = null; // This holds the min value of the currently selected column
        var selected_column_max = null; // This holds the max value of the currently selected column

        var colorswitcher_ready = false;
        var cluster_ready = false;
        var dendrogram_ready = false;
        var waveformplot_ready = false;
        var table_ready = false;

        //////////////////////////////////////////////////////////////////////////////////////////
        // Get the model
        //////////////////////////////////////////////////////////////////////////////////////////

        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}models/{{_id}}",
          success : function(result)
          {
            model = result;
            cluster_bin_count = model["artifact:cluster-bin-count"];
            cluster_bin_type = model["artifact:cluster-bin-type"];
            cluster_type = model["artifact:cluster-type"];
            setup_page();
          },
          error: function(request, status, reason_phrase)
          {
            window.alert("Error retrieving model: " + reason_phrase);
          }
        });

        //////////////////////////////////////////////////////////////////////////////////////////
        // If the model is ready, start retrieving data, including bookmarked state.
        //////////////////////////////////////////////////////////////////////////////////////////

        function setup_page()
        {
          if(model["state"] == "waiting" || model["state"] == "running")
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, this model isn't ready yet.</div>" +
              "<div class='error-description'>We're probabably building it for you right now. Watch the status bar for progress information and more details.</div>");
            show_status_messages();
          }
          else if(model["state"] == "closed" && model["result"] === null)
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, it looks like this model was never completed.</div>" +
              "<div class='error-description'>Here's the last thing that was happening before it was closed:</div>" +
              "<pre>" + model["message"] + "</pre>");
            show_status_messages();
          }
          else if(model["result"] == "failed")
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, it looks like this model failed to build.</div>" +
              "<div class='error-description'>Here's what was happening when it ended:</div>" +
              "<pre>" + model["message"] + "</pre>");
            show_status_messages();
          }
          else
          {
            // Display progress as the load happens ...
            $(".load-status").text("Loading data.");

            // Mark this model as closed, so it doesn't show-up in the header anymore.
            $.ajax(
            {
              type : "PUT",
              url : "{{server-root}}models/{{_id}}",
              contentType : "application/json",
              data : $.toJSON({
                "state" : "closed"
              }),
              processData : false
            });

            // Load list of clusters.
            $.ajax({
              url : "{{server-root}}models/{{_id}}/files/clusters",
              contentType : "application/json",
              success: function(result)
              {
                clusters = result;
                clusters_data = new Array(clusters.length);
                waveforms_data = new Array(clusters.length);
                waveforms_metadata = new Array(clusters.length);
                setup_cluster();
                setup_widgets();
                setup_waveforms();
              },
              error: artifact_missing
            });

            // Load data table metadata.
            $.ajax({
              url : "{{server-root}}models/{{_id}}/tables/inputs/arrays/0/metadata?index=Index",
              contentType : "application/json",
              success: function(metadata)
              {
                table_metadata = metadata;
                setup_widgets();
                setup_colordata();
              },
              error: artifact_missing
            });

            // Retrieve bookmarked state information ...
            bookmarker.get_state(function(state)
            {
              bookmark = state;
              setup_cluster();
              setup_widgets();
              setup_waveforms();
              setup_colordata();
            });

          }
        }

        function show_status_messages()
        {
          $("#status-messages").dialog(
          {
            autoOpen: true,
            width: 500,
            height: 300,
            modal: false,
            buttons:
            {
              OK: function()
              {
                $("#status-messages").dialog("close");
              }
            }
          });
        }

        function artifact_missing()
        {
          $(".load-status").css("display", "none");

          $("#status-messages").empty().html(
            "<div class='error-heading'>Oops, there was a problem retrieving data from the model.</div>" +
            "<div class='error-description'>This probably means that there was a problem building the model.  Here's the last thing that was going on with it:</div>" +
            "<pre>" + model["message"] + "</pre>");

          show_status_messages();
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup page layout and forms.
        //////////////////////////////////////////////////////////////////////////////////////////

        // Setup the edit-model dialog ...
        $("#edit-model-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 300,
          modal: true,
          buttons:
          {
            "Save Changes": function()
            {
              var modified_model = {};
              modified_model.name = $("#new-model-name").val();
              modified_model.description = $("#new-model-description").val();

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(modified_model),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating model: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
          }
        });

        $("#delete-model-link").click(function(){
          if(!window.confirm("Delete model {{name}}? This cannot be undone."))
            return false;

          $.ajax(
          {
            type : "DELETE",
            url : "{{server-root}}models/{{_id}}",
            success : function(details)
            {
              window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error deleting model: " + reason_phrase);
            }
          });
        });

        $("#edit-model-button").button().click(function()
        {
          $("#edit-model-form").dialog("open");
          $("#new-model-name").focus();
        });

        // Setup the Rerun Model form ...
        rerun_timeseries_worker = null;
        $("#rerun-timeseries-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#rerun-timeseries-basics").css("display", "block");
            $("#rerun-timeseries-parameters").css("display", "none");
            $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
            $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
          },
          close : function()
          {
            if(rerun_timeseries_worker)
            {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}workers/" + rerun_timeseries_worker,
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error closing local worker: " + reason_phrase);
                }
              });
              rerun_timeseries_worker = null;
            }
          },
          buttons : 
          {
            "Previous" : function(){
              $("#rerun-timeseries-basics").css("display", "block");
              $("#rerun-timeseries-parameters").css("display", "none");
              $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            },
            "Next" : function(){
              $(".ui-dialog-buttonpane button:contains('Next')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("enable");
              $("#rerun-timeseries-cluster-type").val("{{cluster-type}}");
              $("#rerun-timeseries-cluster-bin-type").val("{{cluster-bin-type}}");
              $("#rerun-timeseries-cluster-bin-count").val({{cluster-bin-count}});

              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}/models",
                contentType : "application/json",
                data: $.toJSON(
                {
                  "model-type" : "timeseries",
                  "name" : $("#rerun-timeseries-name").val(),
                  "marking" : "{{marking}}",
                  "description" : $("#rerun-timeseries-description").val()
                }),
                processData: false,
                success: function(result)
                {
                  rerun_timeseries_worker = result["wid"];
                  $.ajax(
                  {
                    type : "POST",
                    url : "{{server-root}}workers/" + rerun_timeseries_worker + "/model/copy-model-inputs",
                    contentType : "application/json",
                    data: $.toJSON(
                    {
                      "mid" : "{{_id}}"
                    }),
                    processData: false,
                    success: function(result)
                    {
                      $("#rerun-timeseries-basics").css("display", "none");
                      $("#rerun-timeseries-parameters").css("display", "block");
                    },
                    error: function(request, status, reason_phrase)
                    {
                      window.alert("Error copying model: " + reason_phrase);
                    }
                  });
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            "Run" : function(){
              function store_parameter(name, value)
              {
                $.ajax(
                {
                  async : false,
                  type : "PUT",
                  url : "{{server-root}}models/" + rerun_timeseries_model + "/parameters/" + name,
                  contentType : "application/json",
                  data: $.toJSON(
                  {
                    input : true,
                    value : value,
                  }),
                  processData : false,
                  error: function(request, status, reason_phrase)
                  {
                    window.alert("Error setting model parameter: " + reason_phrase);
                  }
                });
              }

              store_parameter("cluster-type", $("#rerun-timeseries-cluster-type").val());
              store_parameter("cluster-bin-count", parseInt($("#rerun-timeseries-cluster-bin-count").val()));
              store_parameter("cluster-bin-type", $("#rerun-timeseries-cluster-bin-type").val());

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/" + rerun_timeseries_model,
                contentType : "application/json",
                data: $.toJSON(
                {
                  state: "running",
                }),
                processData: false,
                success: function(result)
                {
                  rerun_timeseries_worker = null;
                  window.alert("Model scheduled for generation. Watch the worker pane to see when it completes.");
                  $("#rerun-timeseries-form").dialog("close");
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            Cancel : function(){
              $(this).dialog("close");
            },
          },
        });

        $("#rerun-timeseries-button").button().click(function()
        {
          $("#rerun-timeseries-form").dialog("open");
        });

        // Setup the resizing layout ...      
        var bodyLayout = $("body").layout({
          north:
          {
            initClosed : true,
            resizeWhileDragging : false,
            // onresize: function()
            // {
            //   console.log('resized bodyLayout north');
            // },
          },
          center:
          {
            resizeWhileDragging : false,
            // onresize: function()
            // {
            //   console.log('resized bodyLayout center');
            // },
          },
          south:
          {
            size: $(window).height() / 3,
            resizeWhileDragging : false,
            onresize: function()
            {
              $("#table").table("resize_canvas");
              //console.log('resized bodyLayout south');
            },
          },
        });

        var contentPaneLayout = $("#content-pane").layout({
          north :
          {
            size: 45,
            resizeWhileDragging : false,
            // onresize: function()
            // {
            //   console.log('resized contentPaneLayout north');
            // },
          },
          center :
          {
            resizeWhileDragging : false,
            // onresize: function()
            // {
            //   console.log('resized contentPaneLayout center');
            // },
          },
        });

        var modelPaneLayout = $("#model-pane").layout({
          west :
          {
            size : $("#model-pane").width() / 2,
            resizeWhileDragging : false,
            onresize: function() 
            { 
              $("#dendrogram-viewer").dendrogram("resize_canvas");
            },
          },
          center :
          {
            resizeWhileDragging: false,
            onresize: function() 
            { 
              $("#waveform-viewer").waveformplot("resize_canvas");
            },
          }
        });

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup the rest of the UI as data is received.
        //////////////////////////////////////////////////////////////////////////////////////////

        function setup_colordata()
        {
          if(bookmark && table_metadata)
          {
            var cluster = bookmark["cluster-index"] !== undefined ? bookmark["cluster-index"] : 0;

            var column = null;
            if(bookmark[cluster + "-column-index"] !== undefined)
              column = bookmark[cluster + "-column-index"];
            else
              column = table_metadata["column-count"]-1;
            selected_column = column;
            selected_column_min = table_metadata["column-min"][selected_column];
            selected_column_max = table_metadata["column-max"][selected_column];

            retrieve_sorted_column({
              column : column,
              callback : function(array){
                setup_widgets();
              },
            });
          }
        }

        // Retrieve a column of data, sorted by the index. Saves it in color_array and executes callback, passing the column data array to it.
        function retrieve_sorted_column(parameters)
        {
          //Grabbing all values for current column
          var lastColumn = table_metadata["column-count"]-1;
          var firstRow = table_metadata["column-min"][lastColumn];
          var lastRow  = table_metadata["column-max"][lastColumn]+1;

          $.ajax({
            url : "{{server-root}}models/{{_id}}/tables/inputs/arrays/0/chunk?rows=" + firstRow + "-" + lastRow + "&columns=" + parameters.column + "&index=Index&sort=" + lastColumn + ":ascending",
            async: true,
            callback: parameters.callback,
            success: function(resp){
              color_array = resp["data"][0];
              this.callback(resp["data"][0]);
            },
            error: function(request, status, reason_phrase){
              window.alert("Error getting color coding values from table-chunker worker: " + reason_phrase);
            }
          });
        }

        function setup_cluster()
        {
          if(bookmark && clusters)
          {
            var cluster = bookmark["cluster-index"] !== undefined ? bookmark["cluster-index"] : 0;

            $.ajax(
            {
              url : "{{server-root}}models/{{_id}}/files/cluster-" + clusters[cluster],
              contentType : "application/json",
              success : function(cluster_data)
              {
                clusters_data[cluster] = cluster_data;
                initial_cluster = cluster;
                setup_widgets();
              },
              error: artifact_missing
            });
          }
        }

        function setup_waveforms()
        {
          if(bookmark && clusters)
          {
            var cluster = bookmark["cluster-index"] !== undefined ? bookmark["cluster-index"] : 0;

            // Load the waveforms.
            get_model_arrayset({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "preview-" + clusters[cluster],
              success : function(result, metadata)
              {
                waveforms_data[cluster] = result;
                waveforms_metadata[cluster] = metadata;
                initial_cluster = cluster;
                setup_widgets();
              },
              error : artifact_missing
            });
          }
        }

        function setup_widgets()
        {
          // Setup the color switcher ...
          if(!colorswitcher_ready && bookmark)
          {
            colorswitcher_ready = true;
            var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            $("#color-switcher").colorswitcher({colormap:colormap});
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              selected_colormap_changed(colormap);
            });

          }
          // Setup the cluster ...
          if(!cluster_ready && bookmark && clusters)
          {
            cluster_ready = true;

            $("#cluster-pane .load-status").css("display", "none");

            var cluster = bookmark["cluster-index"] !== undefined ? bookmark["cluster-index"] : 0;

            $("#cluster-viewer").cluster({
              clusters: clusters,
              cluster: cluster,
            });

            // Log changes to the cluster selection ...
            $("#cluster-viewer").bind("cluster-changed", function(event, cluster)
            {
              selected_cluster_changed(cluster);
            });

            // Changing the cluster updates the dendrogram and waveformplot ...
            $("#cluster-viewer").bind("cluster-changed", function(event, cluster)
            {
              update_dendrogram(cluster);
              update_waveformplot(cluster);
            });
          }

          // Setup the waveform plot ...
          if(!waveformplot_ready && bookmark && (initial_cluster !== null) && (waveforms_data[initial_cluster] !== undefined) && color_array !== null && table_metadata !== null)
          {
            waveformplot_ready = true;

            $("#waveform-pane .load-status").css("display", "none");

            // This gets the colormap from the bookmark, but at this point we should have the colorswitcher so let's try to get it from there instead.
            //var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            var colormap = $("#color-switcher").colorswitcher("option", "colormap");
            var color_scale = $("#color-switcher").colorswitcher("get_color_scale", colormap, selected_column_min, selected_column_max);

            $("#waveform-pane").css({
              "background-color" : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
              });
            $("#waveform-viewer rect.selectionMask").css({
              "fill"             : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
              "fill-opacity"     : $("#color-switcher").colorswitcher("get_opacity", colormap),
              });

            var waveformplot_options =
            {
              "server-root" : "{{server-root}}",
              mid : "{{_id}}",
              waveforms: waveforms_data[initial_cluster],
              color_scale: color_scale,
              color_array: color_array,
            };

            if(bookmark[initial_cluster + "-selected-waveform-indexes"] !== undefined)
              waveformplot_options["selection"] = bookmark[initial_cluster + "-selected-waveform-indexes"];

            if(bookmark[initial_cluster + "-selected-row-simulations"] !== undefined)
              waveformplot_options["highlight"] = bookmark[initial_cluster + "-selected-row-simulations"];

            $("#waveform-viewer").waveformplot(waveformplot_options);

            // Changing the selected dendrogram node updates the waveform plot ...
            $("#dendrogram-viewer").bind("node-selection-changed", function(event, parameters)
            {
              // Only want to update the waveform plot if the user changed the selected node. It's automatically set at dendrogram creation time, and we want to avoid updating the waveform plot at that time.
              if(parameters.skip_bookmarking != true) {
                $("#waveform-viewer").waveformplot("option", "selection", getWaveformIndexes(parameters.selection));

                if(bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-selected-row-simulations"] !== undefined)
                  $("#waveform-viewer").waveformplot("option", "highlight", bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-selected-row-simulations"]);
              }
            });

            // Changing the table row selection updates the waveform plot ...
            $("#table").bind("row-selection-changed", function(event, waveform_indexes)
            {
              $("#waveform-viewer").waveformplot("option", "highlight", waveform_indexes);
            });

            // Changing the dendrogram waveform selection updates the waveform plot ...
            $("#dendrogram-viewer").bind("waveform-selection-changed", function(event, waveform_indexes)
            {
              $("#waveform-viewer").waveformplot("option", "highlight", waveform_indexes);
            });

            // Changing the color map updates the waveform plot ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#waveform-pane").css({
                "background-color" : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
                });
              $("#waveform-viewer rect.selectionMask").css({
                "fill"             : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
                "fill-opacity"     : $("#color-switcher").colorswitcher("get_opacity", colormap),
                });
              $("#waveform-viewer").waveformplot("option", "color_scale", $("#color-switcher").colorswitcher("get_color_scale", colormap, selected_column_min, selected_column_max));
            });

            // Log changes to the waveform selection
            $("#waveform-viewer").bind("waveform-selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });
          }

          // Setup the table ...
          if( !table_ready && bookmark && table_metadata && (initial_cluster !==  null) )
          {
            table_ready = true;

            $("#table-pane .load-status").css("display", "none");

            var table_options =
            {
              "server-root" : "{{server-root}}",
              mid : "{{_id}}",
              aid : "inputs",
              metadata : table_metadata,
            };

            var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            table_options.colormap = $("#color-switcher").colorswitcher("get_color_scale", colormap);

            if(bookmark[initial_cluster + "-column-index"] !== undefined)
            {
              table_options["variable-selection"] = [bookmark[initial_cluster + "-column-index"]];
            }
            else
            {
              table_options["variable-selection"] = [table_metadata["column-count"] - 1];
            }

            if(bookmark[initial_cluster + "-selected-row-simulations"] !== undefined)
              table_options["row-selection"] = bookmark[initial_cluster + "-selected-row-simulations"];

            if("sort-variable" in bookmark && "sort-order" in bookmark)
            {
              table_options["sort-variable"] = bookmark["sort-variable"];
              table_options["sort-order"] = bookmark["sort-order"];
            }

            $("#table").table(table_options);

            // Changing the selected dendrogram node updates the table ...
            $("#dendrogram-viewer").bind("node-selection-changed", function(event, parameters)
            {
              if(bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-selected-row-simulations"] !== undefined)
                $("#table").table("option", "row-selection-silent", bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-selected-row-simulations"]);
              
              $("#table").table("option", "selection", parameters.selection);
            });
            
            // Changing the waveform selection updates the table row selection ...
            $("#waveform-viewer").bind("waveform-selection-changed", function(event, waveform_indexes)
            {
              $("#table").table("option", "row-selection", waveform_indexes);
            });

            // Changing the waveform selection updates the table row selection ...
            $("#dendrogram-viewer").bind("waveform-selection-changed", function(event, waveform_indexes)
            {
              $("#table").table("option", "row-selection", waveform_indexes);
            });

            // Changing the colormap updates the table ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#table").table("option", "colormap", $("#color-switcher").colorswitcher("get_color_scale", colormap));
            });

            // Log changes to the table row selection
            $("#table").bind("row-selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });

            // Log changes to the table sort order ...
            $("#table").bind("variable-sort-changed", function(event, variable, order)
            {
              variable_sort_changed(variable, order);
            });

            // Changing the sort order to dendrogram order updates the table ...
            $("#dendrogram-viewer").bind("sort-by-dendrogram-order", function(event){
              $("#table").table("option", "sort-variable", null);
            });

            // Changing the table variable selection logs it, updates the waveform plot and dendrogram...
            $("#table").bind("variable-selection-changed", function(event, parameters)
            {
              selected_variable_changed(parameters.variable);

              selected_column = parameters.variable[0];
              selected_column_min = table_metadata["column-min"][selected_column];
              selected_column_max = table_metadata["column-max"][selected_column];

              retrieve_sorted_column({
                column : selected_column,
                callback : function(array){
                  var currentColormap = $("#color-switcher").colorswitcher("option", "colormap");
                  var parameters = {
                    color_array : array,
                    color_scale : $("#color-switcher").colorswitcher("get_color_scale", currentColormap, selected_column_min, selected_column_max),
                  }
                  $("#waveform-viewer").waveformplot("option", "color-options", parameters);
                  $("#dendrogram-viewer").dendrogram("option", "color-options", parameters);
                }
              });
            });

            $("#cluster-viewer").bind("cluster-changed", function(event, cluster)
            {
              if(bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-column-index"] !== undefined)
                $("#table").table("option", "variable-selection", [bookmark[$("#cluster-viewer").cluster("option", "cluster") + "-column-index"]]);
            });
          }

          // Setup the dendrogram ...
          if(!dendrogram_ready && bookmark && clusters && (initial_cluster !==  null) && (clusters_data[initial_cluster] !== undefined) && color_array !== null )
          {
            dendrogram_ready = true;

            $("#dendrogram-pane .load-status").css("display", "none");

            // This gets the colormap from the bookmark, but at this point we should have the colorswitcher so let's try to get it from there instead.
            //var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            var colormap = $("#color-switcher").colorswitcher("option", "colormap");
            var color_scale = $("#color-switcher").colorswitcher("get_color_scale", colormap, selected_column_min, selected_column_max);


            $("#dendrogram-sparkline-backdrop").css({
              "background-color" : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
              });

            var dendrogram_options = build_dendrogram_node_options(initial_cluster);
            dendrogram_options["server-root"]="{{server-root}}";
            dendrogram_options.mid="{{_id}}";
            dendrogram_options.clusters=clusters;
            dendrogram_options.cluster_data=clusters_data[initial_cluster];
            dendrogram_options.color_scale=color_scale;
            dendrogram_options.color_array=color_array;

            if(bookmark["sort-variable"] != undefined) {
              dendrogram_options.dendrogram_sort_order = false;
            }

            if(bookmark[initial_cluster + "-selected-row-simulations"] !== undefined)
              dendrogram_options["highlight"] = bookmark[initial_cluster + "-selected-row-simulations"];

            $("#dendrogram-viewer").dendrogram(dendrogram_options);

            // Log changes to the node selection ...
            $("#dendrogram-viewer").bind("node-selection-changed", function(event, parameters)
            {
              selected_node_changed(parameters);
            });

            // Bookmark changes to expanded and collapsed nodes ...
            $("#dendrogram-viewer").bind("expanded-collapsed-nodes-changed", function(event, nodes)
            {
              expanded_collapsed_nodes_changed(nodes);
            });

            // Log changes to node toggle ...
            $("#dendrogram-viewer").bind("node-toggled", function(event, node)
            {
              node_toggled(node);
            });

            // Log changes to the waveform selection
            $("#dendrogram-viewer").bind("waveform-selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });

            // Changing the color map updates the dendrogram ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#dendrogram-sparkline-backdrop").css({
                "background-color" : $("#color-switcher").colorswitcher("get_background", colormap).toString(),
                });
              $("#dendrogram-viewer").dendrogram("option", "color_scale", $("#color-switcher").colorswitcher("get_color_scale", colormap, selected_column_min, selected_column_max));
            });

            // Changing table's sort order updated the dendrogram sort control
            $("#table").bind("variable-sort-changed", function(event, variable, order)
            {
              $("#dendrogram-viewer").dendrogram("option", "dendrogram_sort_order", variable == null && order == null ? true : false);
            });

            // Changing the table row selection updates the dendrogram ...
            $("#table").bind("row-selection-changed", function(event, waveform_indexes)
            {
              $("#dendrogram-viewer").dendrogram("option", "highlight", waveform_indexes);
            });

            // Changing the waveform selection updates the dendrogram ...
            $("#waveform-viewer").bind("waveform-selection-changed", function(event, waveform_indexes)
            {
              $("#dendrogram-viewer").dendrogram("option", "highlight", waveform_indexes);
            });
          }
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Event handlers.
        //////////////////////////////////////////////////////////////////////////////////////////

        function selected_colormap_changed(colormap)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/colormap/" + colormap
          });
          bookmarker.updateState({"colormap" : colormap});
        }

        function selected_cluster_changed(cluster)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/cluster/" + cluster
          });
          bookmarker.updateState({"cluster-index" : cluster});
        }

        function selected_node_changed(parameters)
        {
          if(parameters.node != null && parameters.node["node-index"] != null)
            $.ajax(
            {
              type : "POST",
              url : "{{server-root}}events/models/{{_id}}/select/node/" + parameters.node["node-index"],
            });
          if(parameters.skip_bookmarking != true) {
            var state = {};
            state[ $("#cluster-viewer").cluster("option", "cluster") + "-selected-nodes" ] = getNodeIndexes(parameters.selection);
            state[ $("#cluster-viewer").cluster("option", "cluster") + "-selected-waveform-indexes" ] = getWaveformIndexes(parameters.selection);
            bookmarker.updateState(state);
          }
        }

        function selected_simulations_changed(selection)
        {
          // Logging every selected item is too slow, so just log the count instead.
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/simulation/count/" + selection.length
          });
          var selected_simulations = {};
          selected_simulations[ $("#cluster-viewer").cluster("option", "cluster") + "-selected-row-simulations"] = selection;
          bookmarker.updateState(selected_simulations);
        }

        function selected_variable_changed(variable)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/variable/" + variable
          });
          var selected_variable = {};
          selected_variable[ $("#cluster-viewer").cluster("option", "cluster") + "-column-index"] = variable[0];
          bookmarker.updateState(selected_variable);
        }

        function variable_sort_changed(variable, order)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/sort-order/" + variable + "/" + order
          });
          bookmarker.updateState( {"sort-variable" : variable, "sort-order" : order} );
        }

        function expanded_collapsed_nodes_changed(nodes){
          var cluster_state = {};
          cluster_state[$("#cluster-viewer").cluster("option", "cluster") + "-expanded-nodes"] = nodes.expanded;
          cluster_state[$("#cluster-viewer").cluster("option", "cluster") + "-collapsed-nodes"] = nodes.collapsed;
          bookmarker.updateState(cluster_state);
        }

        function node_toggled(node){
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/toggle/node/" + node["node-index"],
          });
        }
        

        function update_dendrogram(cluster)
        {
          // Retrieve cluster data if it's not already in the cache
          if(clusters_data[cluster] === undefined) {
             $.ajax(
            {
              url : "{{server-root}}models/{{_id}}/files/cluster-" + clusters[cluster],
              contentType : "application/json",
              success : function(cluster_data)
              {
                clusters_data[cluster] = cluster_data;
                var dendrogram_options = build_dendrogram_node_options(cluster);
                dendrogram_options.cluster_data = clusters_data[cluster];
                $("#dendrogram-viewer").dendrogram("option", dendrogram_options);
              },
              error: artifact_missing
            });
          } else {
            var dendrogram_options = build_dendrogram_node_options(cluster);
            dendrogram_options.cluster_data = clusters_data[cluster];
            $("#dendrogram-viewer").dendrogram("option", dendrogram_options);
          }
        }

        function update_waveformplot(cluster)
        {
          // Retrieve waveform data if it's not already in the cache
          if(waveforms_data[cluster] === undefined) {
            // Load the waveforms.
            get_model_arrayset({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "preview-" + clusters[cluster],
              success : function(result, metadata)
              {
                waveforms_data[cluster] = result;
                waveforms_metadata[cluster] = metadata;
                var waveformplot_options =
                {
                  waveforms: waveforms_data[cluster],
                  selection: bookmark[cluster + "-selected-waveform-indexes"],
                  highlight: bookmark[cluster + "-selected-row-simulations"],
                };
                $("#waveform-viewer").waveformplot("option", "waveforms", waveformplot_options);
              },
              error : artifact_missing
            });
          } else {
            var waveformplot_options =
            {
              waveforms: waveforms_data[cluster],
              selection: bookmark[cluster + "-selected-waveform-indexes"],
              highlight: bookmark[cluster + "-selected-row-simulations"],
            };
            $("#waveform-viewer").waveformplot("option", "waveforms", waveformplot_options);
          }
        }

        function build_dendrogram_node_options(cluster)
        {
          var dendrogram_options = {
            cluster: cluster,
          };
          
          dendrogram_options.collapsed_nodes = bookmark[cluster  + "-collapsed-nodes"];
          dendrogram_options.expanded_nodes = bookmark[cluster  + "-expanded-nodes"];
          dendrogram_options.selected_nodes = bookmark[cluster  + "-selected-nodes"];
          dendrogram_options.highlight = bookmark[cluster  + "-selected-row-simulations"];

          return dendrogram_options;
        }

        function getWaveformIndexes(nodes)
        {
          var waveform_indexes = [];
          var waveform_index = null;

          $.each(nodes, function(index, node)
          {
            waveform_index = node["waveform-index"];
            if(waveform_index != null)
              waveform_indexes.push(waveform_index);
          });

          return waveform_indexes;
        }

        function getNodeIndexes(nodes)
        {
          var node_indexes = [];
          var node_index = null;

          for(var i=0; i<nodes.length; i++)
          {
            node_index = nodes[i]["node-index"];
            if(node_index != null)
              node_indexes.push(node_index);
          }

          return node_indexes;
        }

      });
    </script>
  </body>
</html>
