<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat CCA Model (canvas)</title>
    <script type="text/javascript" src="{{server-root}}js/jquery-layout.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/d3.v2.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/bookmarker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/chunker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-switcher.js"></script>
    <script type="text/javascript" src="{{server-root}}js/cca-barplot.js"></script>
    <script type="text/javascript" src="{{server-root}}js/cca-scatterplot.js"></script>

    <!-- SlickGrid sources -->
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.0.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.jsonp-1.1.0.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/cca-table.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.ccaloader.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>

    <link rel="stylesheet" href="{{server-root}}style/model-cca.css" type="text/css">

    <!-- SlickGrid styles -->
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-slycat-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.headerbuttons.css" type="text/css"/>

  </head>

  <body class="cca">
    <div class="ui-layout-north">
{{> header}}

      <div id="page-title">
        <div class="width-wrapper">
          <div class="marking">{{{marking-html}}}</div>
          <button id="edit-model-button" title="Edit this model's name and description.">Edit Model</button>
          <button id="rerun-cca-button" title="Rerun this model using different parameters.">Rerun Model</button>
          <div id="breadcrumbs">
            <a href="{{server-root}}projects">Projects</a> &rarr;
            {{#full-project}}<a href="{{server-root}}projects/{{_id}}" id="project-link">{{name}}</a> &rarr;{{/full-project}}
          </div>
          <h2>{{name}}</h2>
          <div id="model-desc">{{description}}</div>
          <div id="color-switcher"></div>
          <div id="status-messages" style="display: none;"></div>
          <div id="edit-model">
            <div id="edit-model-form" class="dialog" title="Edit Model">
              <button id="delete-model-link">Delete Model</button>
              <label for="edit-model-name">Model Name</label>
              <input id="edit-model-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
              <label for="edit-model-description">Description</label>
              <textarea id="edit-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>
            </div>
          </div>

          <!-- Rerun CCA user interface -->
          <div id="rerun-cca-form" class="dialog" title="Rerun CCA Model">
            <div id="rerun-cca-basics">
              <label for="rerun-cca-name">Model Name</label>
              <input id="rerun-cca-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
              <label for="rerun-cca-description">Description</label>
              <textarea id="rerun-cca-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            </div>

            <div id="rerun-cca-parameters">
              <table id="rerun-cca-variables">
                <thead>
                  <tr><th>Variable</th><th>Input</th><th>Output</th></tr>
                  <tr>
                    <td></td>
                    <td><button id="rerun-cca-all-inputs-on" title="Turn all inputs on.">On</button><button id="rerun-cca-all-inputs-off" title="Turn all inputs off.">Off</button></td>
                    <td><button id="rerun-cca-all-outputs-on" title="Turn all outputs on.">On</button><button id="rerun-cca-all-outputs-off" title="Turn all outputs off.">Off</button></td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <div>
                <p><input id="rerun-cca-scale-inputs" type="checkbox"></input>Scale inputs to unit variance.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div id="cca-pane" class="ui-layout-center">
      <div id="barplot-pane" class="ui-layout-west">
        <div class="load-status"></div>
        <table id="barplot">
        </table>
      </div>
      <div id="scatterplot-pane" class="ui-layout-center">
        <div class="load-status"></div>
        <canvas id="scatterplot" width="300" height="300" style="width: 300px; height: 300px;"></canvas>
      </div>
    </div>

    <div id="table-pane" class="ui-layout-south">
      <div class="load-status"></div>
      <div id="cca-simulation-table-slickgrid">
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup global variables.
        //////////////////////////////////////////////////////////////////////////////////////////

        var bookmarker = new bookmark_manager("{{server-root}}", "{{#full-project}}{{_id}}{{/full-project}}", "{{_id}}");
        var bookmark = null;

        var input_columns = {{input-columns}};
        var output_columns = {{output-columns}};
        var scale_inputs = {{scale-inputs}};

        var x_loadings = null;
        var y_loadings = null;
        var indices = null;
        var x = null;
        var y = null;
        var v = null;
        var r2 = null;
        var wilks = null;
        var table_metadata = null;

        var table_chunker = null;

        var generate_indices = false;
        var barplot_ready = false;
        var scatterplot_ready = false;
        var cca_simulation_table_instance = null;

        //////////////////////////////////////////////////////////////////////////////////////////
        // Start retrieving data, including bookmarked state.
        //////////////////////////////////////////////////////////////////////////////////////////

        // Display progress as the load happens ...
        $(".load-status").text("Loading data.");

        // Load the x_loadings artifact.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "input-structure-correlation",
          attribute : 0,
          success : function(result)
          {
            x_loadings = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        // Load the y_loadings artifact.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "output-structure-correlation",
          attribute : 0,
          success : function(result)
          {
            y_loadings = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        // Load the r^2 statistics artifact.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "cca-statistics",
          attribute : 0,
          success : function(result)
          {
            r2 = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        // Load the Wilks statistics artifact.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "cca-statistics",
          attribute : 1,
          success : function(result)
          {
            wilks = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        // Load the canonical-indices artifact.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "canonical-indices",
          attribute : 0,
          success : function(result)
          {
            indices = result;
            setup_widgets();
          },
          error : function()
          {
            generate_indices = true;
            setup_indices();
          }
        });

        // Load the canonical-variables artifacts.
        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "canonical-variables",
          attribute : 0,
          success : function(result)
          {
            x = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        get_model_array_attribute({
          server_root : "{{server-root}}",
          mid : "{{_id}}",
          aid : "canonical-variables",
          attribute : 1,
          success : function(result)
          {
            y = result;
            setup_widgets();
          },
          error : artifact_missing
        });

        // Create a table chunker for later ...
        create_table_chunker(
        {
          server_root:"{{server-root}}",
          model:"{{_id}}",
          artifact:"data-table",
          success: function(chunker)
          {
            table_chunker = chunker;

            $.ajax({
              url : "{{server-root}}" + "workers/" + table_chunker + "/table-chunker/metadata",
              contentType : "application/json",
              success: function(metadata)
              {
                table_metadata = metadata;

                setup_indices();
                setup_v();
                setup_widgets();
              },
              error: artifact_missing
            });
          },
          error: artifact_missing
        });

        // Retrieve bookmarked state information ...
        bookmarker.get_state(function(state)
        {
          bookmark = state;
          setup_v();
          setup_colorswitcher();
          setup_widgets();
        });

        function artifact_missing()
        {
          //setTimeout("location.reload(true);", 15000);

          $(".load-status").css("display", "none");

          $("#status-messages").empty().html(
            "<div class='error-heading'>Oops, this model isn't ready yet.</div>" +
            "<div class='error-description'>We're probabably building it for you right now. Look up at the status bar for progress information and more details.</div>");

          $("#status-messages").dialog(
          {
            autoOpen: true,
            width: 500,
            height: 300,
            modal: false,
            buttons:
            {
              OK: function()
              {
                $("#status-messages").dialog("close");
              }
            }
          });
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup page layout and forms.
        //////////////////////////////////////////////////////////////////////////////////////////

        // Setup the edit model form ...
        $("#edit-model-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 300,
          modal: true,
          buttons:
          {
            "Save Changes": function()
            {
              var model =
              {
                "name" : $("#edit-model-name").val(),
                "description" : $("#edit-model-description").val()
              };

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(model),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating model: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
          }
        });

        $("#delete-model-link").click(function(){
          if(!window.confirm("Delete model {{name}}?  This cannot be undone."))
            return false;

          $.ajax(
          {
            type : "DELETE",
            url : "{{server-root}}models/{{_id}}",
            success : function(details)
            {
              window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error deleting model: " + reason_phrase);
            }
          });
        });

        $("#edit-model-button").button().click(function()
        {
          $("#edit-model-form").dialog("open");
          $("#edit-model-name").focus();
        });

        // Setup the Rerun Model form ...
        rerun_cca_worker = null;
        rerun_cca_model = null;
        $("#rerun-cca-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#rerun-cca-basics").css("display", "block");
            $("#rerun-cca-parameters").css("display", "none");
            $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
            $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
          },
          close : function()
          {
            if(rerun_cca_worker)
            {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}workers/" + rerun_cca_worker,
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error closing local worker: " + reason_phrase);
                }
              });
              rerun_cca_worker = null;
              rerun_cca_model = null;
            }
          },
          buttons:
          {
            "Previous" : function(){
              $("#rerun-cca-basics").css("display", "block");
              $("#rerun-cca-parameters").css("display", "none");
              $(".ui-dialog-buttonpane button:contains('Next')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("disable");
            },
            "Next" : function(){
              $(".ui-dialog-buttonpane button:contains('Next')").button("disable");
              $(".ui-dialog-buttonpane button:contains('Run')").button("enable");
              $(".ui-dialog-buttonpane button:contains('Previous')").button("enable");
              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}/models",
                contentType : "application/json",
                data: $.toJSON(
                {
                  "model-type" : "cca3",
                  "name" : $("#rerun-cca-name").val(),
                  "marking" : "{{marking}}",
                  "description" : $("#rerun-cca-description").val()
                }),
                processData: false,
                success: function(result)
                {
                  rerun_cca_worker = result["wid"];
                  rerun_cca_model = result["id"];
                  $.ajax(
                  {
                    type : "POST",
                    url : "{{server-root}}workers/" + rerun_cca_worker + "/model/copy-model-inputs",
                    contentType : "application/json",
                    data: $.toJSON(
                    {
                      "mid" : "{{_id}}"
                    }),
                    processData: false,
                    success: function(result)
                    {
                      $.ajax(
                      {
                        type : "GET",
                        url : "{{server-root}}models/" + rerun_cca_model + "/artifacts/data-table/table-metadata",
                        success : function(table)
                        {
                          function deselect_companion(companion)
                          {
                            return function()
                            {
                              companion.removeAttr("checked");
                            }
                          }
                          $("#rerun-cca-variables tbody").empty();
                          $.each(table["column-names"], function(index, column)
                          {
                            var row = $("<tr>").appendTo($("#rerun-cca-variables tbody"));
                            $("<td>").text(column).appendTo(row);

                            if(table["column-types"][index] != "string")
                            {
                              var input = $("<input type='checkbox' name='inputs' class='rerun-cca-input-variable' title='Treat variable as an input for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                              var output = $("<input type='checkbox' name='outputs' class='rerun-cca-output-variable' title='Treat variable as an output for analysis.'>").val(index).appendTo($("<td>").appendTo(row));

                              if(jQuery.inArray(index, input_columns) != -1)
                                input.attr("checked", "checked");
                              if(jQuery.inArray(index, output_columns) != -1)
                                output.attr("checked", "checked");

                              input.click(deselect_companion(output));
                              output.click(deselect_companion(input));
                            }
                            else
                            {
                              $("<td colspan='2' title='Cannot analyze non-numeric data.'>").appendTo(row);
                            }
                          });
                          if(scale_inputs)
                            $("#rerun-cca-scale-inputs").attr("checked", "checked");
                          else
                            $("#rerun-cca-scale-inputs").removeAttr("checked");
                          $("#rerun-cca-basics").css("display", "none");
                          $("#rerun-cca-parameters").css("display", "block");
                        },
                        error: function(request, status, reason_phrase)
                        {
                          window.alert("Error creating model: " + reason_phrase);
                        }
                      });
                    },
                    error: function(request, status, reason_phrase)
                    {
                      window.alert("Error creating model: " + reason_phrase);
                    }
                  });
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            "Run" : function(){
              function set_parameter(name, value)
              {
                $.ajax(
                {
                  async : false,
                  type : "POST",
                  url : "{{server-root}}workers/" + rerun_cca_worker + "/model/set-parameter",
                  contentType : "application/json",
                  data: $.toJSON(
                  {
                    name : name,
                    value : value
                  }),
                  processData : false,
                  error: function(request, status, reason_phrase)
                  {
                    window.alert("Error setting model parameter: " + reason_phrase);
                  }
                });
              }

              input_columns = [];
              $(".rerun-cca-input-variable:checked").each(function(index, element) { input_columns.push(Number($(element).val())); });
              if(input_columns.length < 1)
              {
                window.alert("You must select at least one input column.");
                return;
              }

              output_columns = [];
              $(".rerun-cca-output-variable:checked").each(function(index, element) { output_columns.push(Number($(element).val())); });
              if(output_columns.length < 1)
              {
                window.alert("You must select at least one output column.");
                return;
              }

              set_parameter("input-columns", input_columns);
              set_parameter("output-columns", output_columns);
              set_parameter("scale-inputs", $("#rerun-cca-scale-inputs").attr("checked"));

              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}workers/" + rerun_cca_worker + "/model/finish-model",
                contentType : "application/json",
                data: $.toJSON(
                {
                }),
                processData: false,
                success: function(result)
                {
                  rerun_cca_worker = null;
                  rerun_cca_model = null;
                  window.alert("Model scheduled for generation.  Watch the worker pane to see when it completes.");
                  $("#rerun-cca-form").dialog("close");
                },
                error: function(request, status, reason_phrase)
                {
                  window.alert("Error creating model: " + reason_phrase);
                }
              });
            },
            Cancel : function(){
              $(this).dialog("close");
            }
          }
        });

        $("#rerun-cca-all-inputs-on").button().click(function()
        {
          $(".rerun-cca-input-variable").attr("checked", "checked");
          $(".rerun-cca-output-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-inputs-off").button().click(function()
        {
          $(".rerun-cca-input-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-outputs-on").button().click(function()
        {
          $(".rerun-cca-output-variable").attr("checked", "checked");
          $(".rerun-cca-input-variable").removeAttr("checked");
        });
        $("#rerun-cca-all-outputs-off").button().click(function()
        {
          $(".rerun-cca-output-variable").removeAttr("checked");
        });

        $("#rerun-cca-button").button().click(function()
        {
          $("#rerun-cca-form").dialog("open");
        });

        // Layout resizable panels ...
        $("body").layout(
        {
          north:
          {
          },
          center:
          {
          },
          south:
          {
            size: $("body").height() / 2,
            resizeWhileDragging: false,
            onresize: function() { cca_simulation_table_instance.resizeGridCanvas(); }
          },
        });

        $("#cca-pane").layout(
        {
          west:
          {
            size: $("#cca-pane").width() / 2,
          },
          center:
          {
            resizeWhileDragging: false,
            onresize: function() { $("#scatterplot").scatterplot("option", {width: $("#scatterplot-pane").width(), height: $("#scatterplot-pane").height()}); },
          }
        });

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup the rest of the UI as data is received.
        //////////////////////////////////////////////////////////////////////////////////////////

        function setup_indices()
        {
          if(generate_indices && table_metadata)
          {
            var count = table_metadata["row-count"];
            indices = new Int32Array(count);
            for(var i = 0; i != count; ++i)
              indices[i] = i;
            setup_widgets();
          }
        }

        function setup_v()
        {
          if(bookmark && table_metadata)
          {
            var type = "simulation";
            var index = 0;
            if("variable-type" in bookmark && "variable-index" in bookmark)
            {
              type = bookmark["variable-type"];
              index = bookmark["variable-index"];
            }
            if(type == "simulation")
            {
              var count = table_metadata["row-count"];
              v = new Float64Array(count);
              for(var i = 0; i != count; ++i)
                v[i] = i;
              setup_widgets();
            }
            else if(type == "input")
            {
              get_model_array_attribute({
                server_root : "{{server-root}}",
                mid : "{{_id}}",
                aid : "data-table",
                attribute : input_columns[index],
                success : function(result)
                {
                  v = result;
                  setup_widgets();
                },
                error : artifact_missing
              });
            }
            else if(type == "output")
            {
              get_model_array_attribute({
                server_root : "{{server-root}}",
                mid : "{{_id}}",
                aid : "data-table",
                attribute : output_columns[index],
                success : function(result)
                {
                  v = result;
                  setup_widgets();
                },
                error : artifact_missing
              });
            }
          }
        }

        function setup_colorswitcher()
        {
          var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";

          $("#color-switcher").colorswitcher({colormap:colormap});
          $("#color-switcher").bind("colormap-changed", function(event, colormap)
          {
            selected_colormap_changed(colormap);
          });
        }

        function setup_widgets()
        {
          // Setup the barplot ...
          if(!barplot_ready && bookmark && table_metadata && r2 && wilks && x_loadings && y_loadings)
          {
            barplot_ready = true;

            $("#barplot-pane .load-status").css("display", "none");

            var component = bookmark["cca-component"] !== undefined ? bookmark["cca-component"] : 0;

            var input_column_names = [];
            for(var i in input_columns)
              input_column_names.push(table_metadata["column-names"][input_columns[i]]);

            var output_column_names = [];
            for(var i in output_columns)
              output_column_names.push(table_metadata["column-names"][output_columns[i]]);

            $("#barplot").barplot({
              inputs: input_column_names,
              outputs: output_column_names,
              r2: r2,
              wilks: wilks,
              x_loadings: x_loadings,
              y_loadings: y_loadings,
            });

            if("variable-type" in bookmark && "variable-index" in bookmark)
            {
              $("#barplot").barplot("option",
              {
                variable: [bookmark["variable-type"], bookmark["variable-index"]]
              });
            }

            $("#barplot").bind("component-changed", function(event, component)
            {
              selected_component_changed(component);
            });

            $("#barplot").bind("component-sort-changed", function(event, component, order)
            {
              component_sort_changed(component, order);
            });

            $("#barplot").bind("variable-changed", function(event, type, index)
            {
              selected_variable_changed(type, index);
            });

            if("sort-cca-component" in bookmark && "sort-direction-cca-component" in bookmark)
            {
              $("#barplot").barplot("option",
              {
                "sort": [bookmark["sort-cca-component"], bookmark["sort-direction-cca-component"]]
              });
            }

            window.setTimeout(function() { $("#barplot").barplot("option", {component: component}); }, 2000);
          }

          // Setup the scatterplot ...
          if(!scatterplot_ready && bookmark && indices && x && y && v)
          {
            scatterplot_ready = true;

            $("#scatterplot-pane .load-status").css("display", "none");

            var component = bookmark["cca-component"] !== undefined ? bookmark["cca-component"] : 0;
            var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            var selection = bookmark["simulations"] !== undefined ? bookmark["simulations"] : [];

            $("#scatterplot-pane").css("background", $("#color-switcher").colorswitcher("get_background", colormap));

            $("#scatterplot").scatterplot({
              indices: indices,
              x: x[component],
              y: y[component],
              v: v,
              width: $("#scatterplot-pane").width(),
              height: $("#scatterplot-pane").height(),
              color: $("#color-switcher").colorswitcher("get_color_map", colormap),
              selection: selection,
              });

            $("#scatterplot").bind("selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });

            // Changing the color map updates the scatterplot ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#scatterplot-pane").css("background", $("#color-switcher").colorswitcher("get_background", colormap));
              $("#scatterplot").scatterplot("option", {color: $("#color-switcher").colorswitcher("get_color_map", colormap)});
            });

            // Changing the barplot component updates the scatterplot ...
            $("#barplot").bind("component-changed", function(event, component)
            {
              $("#scatterplot").scatterplot("option", {x : x[component], y : y[component]});
            });

            // Changing the barplot variable updates the scatterplot ...
            $("#barplot").bind("variable-changed", function(event, type, index)
            {
              update_scatterplot_value(type, index);
            });
          }

          // Setup the table ...
          if(!cca_simulation_table_instance && bookmark && table_metadata)
          {
            $("#table-pane .load-status").css("display", "none");

            var index_column = table_metadata["column-count"] - 1;
            var index = table_metadata["column-names"][index_column];
            var inputs = [];
            for(var i in input_columns)
              inputs.push(table_metadata["column-names"][input_columns[i]]);
            var outputs = [];
            for(var i in output_columns)
              outputs.push(table_metadata["column-names"][output_columns[i]]);
            var other_columns = [];
            var others = [];
            var column_count = table_metadata["column-count"];
            var all_column_indexes = [index_column].concat(input_columns).concat(output_columns);
            for(var i = 0; i != column_count; ++i)
            {
              if(all_column_indexes.indexOf(i) == -1)
              {
                other_columns.push(i);
                others.push(table_metadata["column-names"][i]);
              }
            }
            all_column_indexes = all_column_indexes.concat(other_columns);

            cca_simulation_table_instance = new cca_table({
              container: "#cca-simulation-table-slickgrid",
              index: index,
              inputs: inputs,
              outputs: outputs,
              others: others,
              variable_names: [index].concat(inputs).concat(outputs).concat(others),
              all_column_indexes: all_column_indexes,
              row_count: table_metadata["row-count"],
              max: table_metadata["column-max"],
              min: table_metadata["column-min"],
              index_column: index_column,
              input_columns: input_columns,
              output_columns: output_columns,
              other_columns: other_columns,
              colormap: bookmark["colormap"],
              colorMapper: $("#color-switcher"),
              selection: bookmark["simulations"] !== undefined ? bookmark["simulations"] : [],
              }, "{{server-root}}", table_chunker);

            if("variable-type" in bookmark && "variable-index" in bookmark)
            {
              cca_simulation_table_instance.update({highlight: [bookmark["variable-type"], bookmark["variable-index"]]});
            }
            else
            {
              cca_simulation_table_instance.update({highlight: ["simulation", 0]});
            }

            if("sort-field" in bookmark && "sort-direction" in bookmark)
            {
              cca_simulation_table_instance.update({ sort_field: bookmark["sort-field"], sort_direction: bookmark["sort-direction"]});
            }

            $("#cca-simulation-table-slickgrid").bind("variable-changed", function(event, type, index)
            {
              selected_variable_changed(type, index);
            });

            $("#cca-simulation-table-slickgrid").bind("variable-sort-changed", function(event, index, direction, name)
            {
              variable_sort_changed(index, direction, name);
            });

            $("#cca-simulation-table-slickgrid").bind("row-selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });

            // Changing the colormap updates the table ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              cca_simulation_table_instance.updateColorMap(colormap);
            });

            // Changing the barplot variable updates the table ...
            $("#barplot").bind("variable-changed", function(event, type, index)
            {
              cca_simulation_table_instance.update({highlight: [type, index]});
            });

            // Changing the table variable updates the barplot ...
            $("#cca-simulation-table-slickgrid").bind("variable-changed", function(event, type, index)
            {
              $("#barplot").barplot("option", {variable: [type, index]});
            });

            // Changing the table variable updates the scatterplot ...
            $("#cca-simulation-table-slickgrid").bind("variable-changed", function(event, type, index)
            {
              update_scatterplot_value(type, index);
            });

            // Changing the scatterplot selection updates the table row selection ..
            $("#scatterplot").bind("selection-changed", function(event, selection)
            {
              cca_simulation_table_instance.update({simulation_selection: selection});
            });

            // Changing the table row selection updates the scatterplot ...
            $("#cca-simulation-table-slickgrid").bind("row-selection-changed", function(event, selection)
            {
              $("#scatterplot").scatterplot("option", {selection: selection});
            });
          }
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Event handlers.
        //////////////////////////////////////////////////////////////////////////////////////////

        function selected_colormap_changed(colormap)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/colormap/" + colormap
          });
          bookmarker.updateState({"colormap" : colormap});
        }

        function selected_component_changed(component)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/component/" + component
          });
          bookmarker.updateState({"cca-component" : component});
        }

        function component_sort_changed(component, order)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/sort/component/" + component + "/" + order
          });
          bookmarker.updateState({"sort-cca-component" : component, "sort-direction-cca-component" : order});
        }

        function selected_variable_changed(type, index)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/variable/" + type + "/" + index
          });
          bookmarker.updateState({"variable-type" : type, "variable-index" : index});
        }

        function variable_sort_changed(index, direction, name)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/sort-order/" + index + "/" + direction
          });
          bookmarker.updateState( {"sort-field" : name, "sort-direction" : direction} );
        }

        function selected_simulations_changed(selection)
        {
          // Logging every selected item is too slow, so just log the count instead.
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/simulation/count/" + selection.length
          });
          bookmarker.updateState( {"simulations" : selection} );
        }

        function update_scatterplot_value(type, index)
        {
          if(type == "simulation")
          {
            var count = v.length;
            for(var i = 0; i != count; ++i)
              v[i] = i;
            $("#scatterplot").scatterplot("option", {v : v});
          }
          else if(type == "input")
          {
            get_model_array_attribute({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              attribute : input_columns[index],
              success : function(result)
              {
                v = result;
                $("#scatterplot").scatterplot("option", {v : v});
              },
              error : artifact_missing
            });
          }
          else if(type == "output")
          {
            get_model_array_attribute({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              attribute : output_columns[index],
              success : function(result)
              {
                v = result;
                $("#scatterplot").scatterplot("option", {v : v});
              },
              error : artifact_missing
            });
          }
        }
      });
    </script>
  </body>
</html>
