<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat CCA Model (canvas)</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/d3.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/bookmarker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/chunker.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-switcher.js"></script>
    <script type="text/javascript" src="{{server-root}}js/parameter-image-scatterplot.js"></script>
    <script type="text/javascript" src="{{server-root}}js/parameter-image-table.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.scrollintoview.min.js"></script>

    <!-- SlickGrid sources -->
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>

    <!-- Page styles -->
    <link rel="stylesheet" href="{{server-root}}style/model-parameter-image.css" type="text/css">

    <!-- SlickGrid styles -->
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick.headerbuttons.css" type="text/css"/>
    <link rel="stylesheet" href="{{server-root}}style/slickGrid/slick-slycat-theme.css" type="text/css"/>

  </head>

  <body class="parameter-image">
    <div class="ui-layout-north">
{{> header}}

      <div id="page-title">
        <div class="width-wrapper">
          <div class="marking">{{{marking-html}}}</div>
          {{#can-write}}
          <button id="edit-model-button" title="Edit this model's name and description.">Edit Model</button>
          {{/can-write}}
          <div id="breadcrumbs">
            <a href="{{server-root}}projects">Projects</a> &rarr;
            {{#full-project}}<a href="{{server-root}}projects/{{_id}}" id="project-link">{{name}}</a> &rarr;{{/full-project}}
          </div>
          <h2>{{name}}</h2>
          <div id="model-desc">{{description}}</div>
          <div id="color-switcher"></div>
          <div id="status-messages" style="display: none;"></div>
          <div id="edit-model">
            <div id="edit-model-form" class="dialog" title="Edit Model">
              <button id="delete-model-link">Delete Model</button>
              <label for="edit-model-name">Model Name</label>
              <input id="edit-model-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
              <label for="edit-model-description">Description</label>
              <textarea id="edit-model-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>
            </div>
          </div>
          <div id="remote-login" title="Remote Login">
            <p id="remote-login-host"></p>
            <form>
              <fieldset>
                <label for="remote-username">Username</label>
                <input id="remote-username" type="text" class="text ui-widget-content ui-corner-all"/>
                <label for="remote-password">Password</label>
                <input id="remote-password" type="password" value="" class="text ui-widget-content ui-corner-all"/>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="model-pane" class="ui-layout-center">
      <div id="scatterplot-pane" class="ui-layout-center">
        <div class="load-status"></div>
        <canvas id="scatterplot" width="300" height="300" style="width: 300px; height: 300px;"></canvas>
      </div>
    </div>

    <div id="table-pane" class="ui-layout-south">
      <div class="load-status"></div>
      <div id="table">
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup global variables.
        //////////////////////////////////////////////////////////////////////////////////////////

        var model = null;
        var input_columns = null;
        var output_columns = null;
        var image_columns = null;

        var bookmarker = new bookmark_manager("{{server-root}}", "{{#full-project}}{{_id}}{{/full-project}}", "{{_id}}");
        var bookmark = null;

        var table_metadata = null;
        var indices = null;
        var x = null;
        var y = null;
        var v = null;

        var table_ready = false;
        var scatterplot_ready = false;

        var session_cache = {};
        var image_uri = document.createElement("a");

        //////////////////////////////////////////////////////////////////////////////////////////
        // Load the model
        //////////////////////////////////////////////////////////////////////////////////////////

        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}models/{{_id}}",
          success : function(result)
          {
            model = result;
            input_columns = model["artifact:input-columns"];
            output_columns = model["artifact:output-columns"];
            image_columns = model["artifact:image-columns"];
            model_loaded();
          },
          error: function(request, status, reason_phrase)
          {
            window.alert("Error retrieving model: " + reason_phrase);
          }
        });

        //////////////////////////////////////////////////////////////////////////////////////////
        // Once the model has been loaded, retrieve metadata / bookmarked state
        //////////////////////////////////////////////////////////////////////////////////////////

        function model_loaded()
        {
          if(model["state"] == "waiting" || model["state"] == "running")
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, this model isn't ready yet.</div>" +
              "<div class='error-description'>We're probabably building it for you right now. Watch the status bar for progress information and more details.</div>");
            show_status_messages();
          }
          else if(model["state"] == "closed" && model["result"] === null)
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, it looks like this model was never completed.</div>" +
              "<div class='error-description'>Here's the last thing that was happening before it was closed:</div>" +
              "<pre>" + model["message"] + "</pre>");
            show_status_messages();
          }
          else if(model["result"] == "failed")
          {
            $("#status-messages").empty().html(
              "<div class='error-heading'>Oops, it looks like this model failed to build.</div>" +
              "<div class='error-description'>Here's what was happening when it ended:</div>" +
              "<pre>" + model["message"] + "</pre>");
            show_status_messages();
          }
          else
          {
            // Display progress as the load happens ...
            $(".load-status").text("Loading data.");

            // Mark this model as closed, so it doesn't show-up in the header anymore.
            $.ajax(
            {
              type : "PUT",
              url : "{{server-root}}models/{{_id}}",
              contentType : "application/json",
              data : $.toJSON({
                "state" : "closed"
              }),
              processData : false
            });

            // Load data table metadata.
            $.ajax({
              url : "{{server-root}}models/{{_id}}/tables/data-table/arrays/0/metadata?index=Index",
              contentType : "application/json",
              success: function(metadata)
              {
                table_metadata = metadata;
                metadata_loaded();
              },
              error: artifact_missing
            });

            // Retrieve bookmarked state information ...
            bookmarker.get_state(function(state)
            {
              bookmark = state;
              setup_colorswitcher();
              metadata_loaded();
            });
          }
        }

        function show_status_messages()
        {
          $("#status-messages").dialog(
          {
            autoOpen: true,
            width: 500,
            height: 300,
            modal: false,
            buttons:
            {
              OK: function()
              {
                $("#status-messages").dialog("close");
              }
            }
          });
        }

        function artifact_missing()
        {
          $(".load-status").css("display", "none");

          $("#status-messages").empty().html(
            "<div class='error-heading'>Oops, there was a problem retrieving data from the model.</div>" +
            "<div class='error-description'>This probably means that there was a problem building the model.  Here's the last thing that was going on with it:</div>" +
            "<pre>" + model["message"] + "</pre>");

          show_status_messages();
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup page layout and forms.
        //////////////////////////////////////////////////////////////////////////////////////////

        // Setup the edit model form ...
        $("#edit-model-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 300,
          modal: true,
          buttons:
          {
            "Save Changes": function()
            {
              var model =
              {
                "name" : $("#edit-model-name").val(),
                "description" : $("#edit-model-description").val()
              };

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}models/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(model),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating model: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
          }
        });

        $("#delete-model-link").click(function(){
          if(!window.confirm("Delete model {{name}}?  This cannot be undone."))
            return false;

          $.ajax(
          {
            type : "DELETE",
            url : "{{server-root}}models/{{_id}}",
            success : function(details)
            {
              window.location.href = "{{server-root}}projects/{{#full-project}}{{_id}}{{/full-project}}";
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error deleting model: " + reason_phrase);
            }
          });
        });

        $("#edit-model-button").button().click(function()
        {
          $("#edit-model-form").dialog("open");
          $("#edit-model-name").focus();
        });

        // Setup the remote login form ...
        $("#remote-login").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 300,
          modal: true,
          open: function()
          {
            $("#remote-login-host").text("Login to retrieve " + image_uri.pathname + " from " + image_uri.hostname);
          },
          buttons:
          {
            "Login": function()
            {
              $.ajax(
              {
                type : "POST",
                url : "{{server-root}}remote",
                contentType : "application/json",
                data : $.toJSON({"hostname":"localhost", "username":$("#remote-username").val(), "password":$("#remote-password").val()}),
                processData : false,
                success : function(result)
                {
                  session_cache[image_uri.hostname] = result.sid;
                  load_image();
                  $("#remote-login").dialog("close");
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error opening remote session: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            }
          },
          close: function()
          {
            $("#remote-password").val("");
          }
        });

        // Layout resizable panels ...
        $("body").layout(
        {
          north:
          {
          },
          center:
          {
          },
          south:
          {
            size: $("body").height() / 2,
            resizeWhileDragging: false,
            onresize: function()
            {
              $("#table").css("height", $("#table-pane").height());
              $("#table").table("resize_canvas");
            }
          },
        });

        $("#model-pane").layout(
        {
          center:
          {
            resizeWhileDragging: false,
            onresize: function() { $("#scatterplot").scatterplot("option", {width: $("#scatterplot-pane").width(), height: $("#scatterplot-pane").height()}); },
          }
        });

        //////////////////////////////////////////////////////////////////////////////////////////
        // Setup the rest of the UI as data is received.
        //////////////////////////////////////////////////////////////////////////////////////////

        function setup_colorswitcher()
        {
          var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";

          $("#color-switcher").colorswitcher({colormap:colormap});
          $("#color-switcher").bind("colormap-changed", function(event, colormap)
          {
            selected_colormap_changed(colormap);
          });
        }

        function metadata_loaded()
        {
          setup_table();

          if(!indices && table_metadata)
          {
            var count = table_metadata["row-count"];
            indices = new Int32Array(count);
            for(var i = 0; i != count; ++i)
              indices[i] = i;
          }

          if(table_metadata && bookmark)
          {
            var x_index = input_columns[0];
            if("x-selection" in bookmark)
              x_index = bookmark["x-selection"];
            get_model_array_attribute({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              array : 0,
              attribute : x_index,
              success : function(result)
              {
                x = result;
                setup_scatterplot();
              },
              error : artifact_missing
            });

            var y_index = input_columns[1];
            if("y-selection" in bookmark)
              y_index = bookmark["y-selection"];
            get_model_array_attribute({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              array : 0,
              attribute : y_index,
              success : function(result)
              {
                y = result;
                setup_scatterplot();
              },
              error : artifact_missing
            });

            var v_index = table_metadata["column-count"] - 1;
            if("variable-selection" in bookmark)
              v_index = bookmark["variable-selection"];

            if(v_index == table_metadata["column-count"] - 1)
            {
              var count = table_metadata["row-count"];
              v = new Float64Array(count);
              for(var i = 0; i != count; ++i)
                v[i] = i;
              setup_scatterplot();
            }
            else
            {
              get_model_array_attribute({
                server_root : "{{server-root}}",
                mid : "{{_id}}",
                aid : "data-table",
                array : 0,
                attribute : v_index,
                success : function(result)
                {
                  v = result;
                  setup_scatterplot();
                },
                error : artifact_missing
              });
            }
          }
        }

        function setup_table()
        {
          if(!table_ready && table_metadata && bookmark)
          {
            table_ready = true;

            $("#table-pane .load-status").css("display", "none");

            var other_columns = [];
            for(var i = 0; i != table_metadata["column-count"] - 1; ++i)
            {
              if($.inArray(i, input_columns) == -1 && $.inArray(i, output_columns) == -1)
                other_columns.push(i);
            }

            var table_options =
            {
              "server-root" : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              metadata : table_metadata,
              inputs : input_columns,
              outputs : output_columns,
              others : other_columns,
            };

            var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            table_options.colormap = $("#color-switcher").colorswitcher("get_color_map", colormap);

            if("sort-variable" in bookmark && "sort-order" in bookmark)
            {
              table_options["sort-variable"] = bookmark["sort-variable"];
              table_options["sort-order"] = bookmark["sort-order"];
            }

            if("variable-selection" in bookmark)
            {
              table_options["variable-selection"] = [bookmark["variable-selection"]];
            }
            else
            {
              table_options["variable-selection"] = [table_metadata["column-count"] - 1];
            }

            if(bookmark["simulation-selection"] !== undefined)
              table_options["row-selection"] = bookmark["simulation-selection"];

            $("#table").table(table_options);

            // Log changes to the table sort order ...
            $("#table").bind("variable-sort-changed", function(event, variable, order)
            {
              variable_sort_changed(variable, order);
            });

            // Log changes to the table variable selection ...
            $("#table").bind("variable-selection-changed", function(event, selection)
            {
              selected_variable_changed(selection[0]);
            });

            // Log changes to the table row selection ...
            $("#table").bind("row-selection-changed", function(event, selection)
            {
              // The table selection is an array buffer which can't be
              // serialized as JSON, so convert it to an array.
              var temp = [];
              for(var i = 0; i != selection.length; ++i)
                temp.push(selection[i]);
              selected_simulations_changed(temp);
            });

            // Changing the colormap updates the table ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#table").table("option", "colormap", $("#color-switcher").colorswitcher("get_color_map", colormap));
            });

            // Changing the table variable updates the scatterplot ...
            $("#table").bind("variable-selection-changed", function(event, selection)
            {
              update_scatterplot_value(selection[0]);
            });

            // Changing the scatterplot selection updates the table row selection ..
            $("#scatterplot").bind("selection-changed", function(event, selection)
            {
              $("#table").table("option", "row-selection", selection);
            });

            // Changing the table row selection updates the scatterplot ...
            $("#table").bind("row-selection-changed", function(event, selection)
            {
              // The table selection is an array buffer, so convert it to an array.
              var temp = [];
              for(var i = 0; i != selection.length; ++i)
                temp.push(selection[i]);

              $("#scatterplot").scatterplot("option", "selection",  temp);
            });
          }
        }

        function setup_scatterplot()
        {
          // Setup the scatterplot ...
          if(!scatterplot_ready && bookmark && indices && x && y && v)
          {
            scatterplot_ready = true;

            $("#scatterplot-pane .load-status").css("display", "none");

            var colormap = bookmark["colormap"] !== undefined ? bookmark["colormap"] : "night";
            var selection = bookmark["simulation-selection"] !== undefined ? bookmark["simulation-selection"] : [];

            $("#scatterplot-pane").css("background", $("#color-switcher").colorswitcher("get_background", colormap).toString());

            $("#scatterplot").scatterplot({
              indices: indices,
              x: x,
              y: y,
              v: v,
              width: $("#scatterplot-pane").width(),
              height: $("#scatterplot-pane").height(),
              color: $("#color-switcher").colorswitcher("get_color_map", colormap),
              selection: selection,
              });

            $("#scatterplot").bind("selection-changed", function(event, selection)
            {
              selected_simulations_changed(selection);
            });

            // Changing the color map updates the scatterplot ...
            $("#color-switcher").bind("colormap-changed", function(event, colormap)
            {
              $("#scatterplot-pane").css("background", $("#color-switcher").colorswitcher("get_background", colormap).toString());
              $("#scatterplot").scatterplot("option", {color: $("#color-switcher").colorswitcher("get_color_map", colormap)});
            });

            // This is just for testing
            display_image("file://localhost/home/slycat/src/slycat-steve/artwork/slycat-logo.jpg");
          }
        }

        //////////////////////////////////////////////////////////////////////////////////////////
        // Event handlers.
        //////////////////////////////////////////////////////////////////////////////////////////

        function selected_colormap_changed(colormap)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/colormap/" + colormap
          });
          bookmarker.updateState({"colormap" : colormap});
        }

        function selected_variable_changed(variable)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/variable/" + variable
          });
          bookmarker.updateState({"variable-selection" : variable});
        }

        function variable_sort_changed(variable, order)
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/sort-order/" + variable + "/" + order
          });
          bookmarker.updateState( {"sort-variable" : variable, "sort-order" : order} );
        }

        function selected_simulations_changed(selection)
        {
          // Logging every selected item is too slow, so just log the count instead.
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/models/{{_id}}/select/simulation/count/" + selection.length
          });
          bookmarker.updateState( {"simulation-selection" : selection} );
        }

        function update_scatterplot_value(attribute)
        {
          if(attribute == table_metadata["column-count"] - 1)
          {
            var count = v.length;
            for(var i = 0; i != count; ++i)
              v[i] = i;
            $("#scatterplot").scatterplot("option", {v : v});
          }
          else
          {
            get_model_array_attribute({
              server_root : "{{server-root}}",
              mid : "{{_id}}",
              aid : "data-table",
              array : 0,
              attribute : attribute,
              success : function(result)
              {
                v = result;
                $("#scatterplot").scatterplot("option", {v : v});
              },
              error : artifact_missing
            });
          }
        }

        function display_image(uri)
        {
          image_uri.href = uri.substr(0, 5) == "file:" ? uri.substr(5) : uri;
          if(image_uri.hostname in session_cache)
            load_image();
          else
            $("#remote-login").dialog("open");
        }

        function load_image()
        {
          var sid = session_cache[image_uri.hostname];
          image = document.createElement("img");
          image.src = "{{server-root}}remote/" + sid + "/file" + image_uri.pathname;
          image.width = 100;
          image.style.position="absolute";
          image.style.left=10;
          image.style.top=10;
          $("#scatterplot-pane").prepend(image);
        }
      });

    </script>
  </body>
</html>
