<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>Slycat Projects</title>
    <link id="slycat-server-root" href="{{server-root}}">
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        <h2>Projects</h2>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">
        <div id="new-project" class="buttonBar">
          <div id="new-project-form" class="dialog" title="Add New Project">
            <label for="new-project-name">Project Name</label>
            <input id="new-project-name" class="text ui-widget-content ui-corner-all" />
            <label for="new-project-description">Description</label>
            <textarea id="new-project-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
          </div>
          <button id="create-project" title="Create new Slycat project.">Add New Project</button>
        </div>
        <ul id="project-list" class="main-list">
        </ul>
      </div>
    </div>

    <div id="footer">
      <div class="width-wrapper">
      </div>
    </div>

    <script type="text/javascript">
      // Load the list of existing projects.
      $.ajax(
      {
        type: "GET",
        cache: false, // So the browser doesn't cache the JSON and display it to the user later-on.
        url: "{{server-root}}projects",
        dataType : "json",
        success: function(projects)
        {
          var project_list = $("#project-list").empty();
          $.each(projects.projects, function(index, project)
          {
            $("<li>")
              .append(
                $("<div class='main-item'>")
                  .append($("<a class='clicker'>")
                    .attr("href", "{{server-root}}projects/" + project._id)
                    )
                  .append($("<h3 class='main-title'>")
                    .append($("<a class='project-link'>")
                      .attr("href", "{{server-root}}projects/" + project._id)
                      .text(project.name)
                      )
                    )
                  // .append($("<a class='main-tag project'>")
                  //   .attr("href", "{{server-root}}projects/" + project._id)
                  //   .text("Project")
                  //   )
                  .append($("<div class='main-created'>")
                    .text("Created " + project.created + " by " + project.creator)
                    )
                  .append($("<p class='main-description'>")
                    .text(project.description)
                    )
                )
              .appendTo(project_list);
          });
        },
        error: function(request, status, reason_phrase)
        {
          window.alert("Error retrieving project list: " + reason_phrase);
        }
      });

      // Setup the user interface for creating new projects.
      $( "#new-project-form" ).dialog(
      {
        autoOpen: false,
        width: 700,
        height: 400,
        modal: true,
        buttons:
        {
          "Create Project": function()
          {
            if(0 == $("#new-project-name").val().length)
            {
              alert("Cannot create new project with empty name.");
              return;
            }

            $.ajax(
            {
              contentType : "application/json",
              data: $.toJSON({
                "name" : $("#new-project-name").val(),
                "description": $("#new-project-description").val()
              }),
              processData: false,
              type : "POST",
              url : "{{server-root}}projects",
              success: function(result)
              {
                window.location.href = "{{server-root}}projects/" + result.id;
              },
              error: function(request, status, reason_phrase)
              {
                window.alert("Error creating project: " + reason_phrase);
              }
            });
          },
          Cancel: function()
          {
            $(this).dialog("close");
          }
        },
        close: function()
        {
        }
      });

	    $("#create-project").button().click(function()
      {
				$("#new-project-form").dialog("open");
			});
    </script>
  </body>
</html>
