<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>{{name}} - Slycat Project</title>
    <script type="text/javascript" src="{{server-root}}js/file-browser.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.combobox.js"></script>
    <link rel="stylesheet" href="{{server-root}}style/file-browser.css" type="text/css">
    <link rel="stylesheet" href="{{server-root}}style/combobox.css" type="text/css">
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        {{#can-administer}}
        <button id="edit-project-button" class="edit-page" title="Edit this project's name, description, and security.">Edit Project</button>
        {{/can-administer}}
        <div id="breadcrumbs">
          <a href="{{server-root}}projects">Projects</a> &rarr;
        </div>
        <h2>{{name}}</h2>
        <div id="project-desc">{{description}}</div>
        <div id="edit-project">

          <div id="edit-project-form" class="dialog" title="Edit Project">
            <button id="delete-project-link">Delete Project</button>
            <label for="new-project-name">Project Name</label>
            <input id="new-project-name" class="text ui-widget-content ui-corner-all" value="{{name}}" />
            <label for="new-project-description">Description</label>
            <textarea id="new-project-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20">{{description}}</textarea>

            <div id="sharing">
              <div id="admins">
                <label>Administrators</label>
                <p class="helpText">Project administrators can read and write all data, and add or remove users.</p>
                <table>
                  <tbody id="administrator-list">
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><input id="new-administrator" type='text' title='Username' placeholder="Username"></input></td>
                      <td><button id="add-administrator" class='add' title='Add administrator'>Add</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <div id="writers">
                <label>Writers</label>
                <p class="helpText">Project writers can read and write all data.</p>
                <table>
                  <tbody id="writer-list">
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><input id="new-writer" type='text' title='Username' placeholder="Username"></input></td>
                      <td><button id="add-writer" class='add' title='Add writer'>Add</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <div id="readers">
                <label>Readers</label>
                <p class="helpText">Project readers can read all data.</p>
                <table>
                  <tbody id="reader-list">
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><input id="new-reader" type='text' title='Username' placeholder="Username"></input></td>
                      <td><button id="add-reader" class='add' title='Add reader'>Add</button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">

        <div class="buttonBar">
          {{#can-write}}
          <button id="local-cca-button" title="Compute a CCA model using a local file.">Local CCA</button>
          <button id="remote-cca-button" title="Compute a CCA model using a remote file.">Remote CCA</button>
          <button id="remote-pi-button" title="Load a parameter image model from a remote CSV file.">Remote PI</button>
          <button id="remote-ti-button" title="Load a tracer image model from a remote CSV file.">Remote TI</button>
          {{/can-write}}
        </div>
        <!-- Local CCA user interface -->
        <div id="local-cca-form" class="dialog" title="Local File CCA Model">
          <div id="local-cca-basics">
            <label for="local-cca-name">Model Name</label>
            <input id="local-cca-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
            <label for="local-cca-description">Description</label>
            <textarea id="local-cca-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            <label for="local-cca-marking">Marking</label>
            <select id="local-cca-marking">
              {{#marking-types}}
              <option value='{{type}}'>{{label}}</option>
              {{/marking-types}}
            </select>
            <button id="local-cca-basics-next">Next</button>
          </div>

          <div id="local-cca-browse">
            <p>Choose a file to be analyzed:</p>
            <input id="local-cca-file" type="file" name="file"/>
            <button id="local-cca-browse-next">Next</button>
          </div>

          <div id="local-cca-parameters">
            <table id="local-cca-variables">
              <thead>
                <tr><th>Variable</th><th>Input</th><th>Output</th></tr>
                <tr>
                  <td></td>
                  <td><button id="local-cca-all-inputs-on" title="Turn all inputs on.">On</button><button id="local-cca-all-inputs-off" title="Turn all inputs off.">Off</button></td>
                  <td><button id="local-cca-all-outputs-on" title="Turn all outputs on.">On</button><button id="local-cca-all-outputs-off" title="Turn all outputs off.">Off</button></td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

            <div>
              <p><input id="local-cca-scale-inputs" type="checkbox"></input>Scale inputs to unit variance.</p>
            </div>
            <button id="local-cca-parameters-next">Run</button>
          </div>

          <div id="local-cca-running" class="runningModel">
            <p>Your model is being generated.</p>
            <div id="model-progress">
              <input class="modelPie" value="1" />
            </div>
            <p>You can close this dialog and watch top status bar for a green checkmark to see when it completes.</p>
            <p>If you leave this dialog open, we will take you to the model as soon as it's generated.</p>
            <button id="local-cca-running-close">Close</button>
          </div>
        </div>

        <!-- Remote CCA user interface -->
        <div id="remote-cca-form" class="dialog" title="Remote File CCA Model">
          <div id="remote-cca-basics">
            <label for="remote-cca-name">Model Name</label>
            <input id="remote-cca-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
            <label for="remote-cca-description">Description</label>
            <textarea id="remote-cca-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            <select id="remote-cca-marking">
              {{#marking-types}}
              <option value='{{type}}'>{{label}}</option>
              {{/marking-types}}
            </select>
            <button id="remote-cca-basics-next">Next</button>
          </div>

          <div id="remote-cca-connection">
            <div class="ui-widget">
              <label for="remote-cca-hostname">Type the remote host where your data is located:</label>
              <input type="text" id="remote-cca-hostname">
              <div id="remote-hosts-cca-message"></div>
            </div>
            <p><label for="remote-cca-username">Username</label><input id="remote-cca-username" name="remote-cca-username" type="input"/></p>
            <p><label for="remote-cca-password">Password</label><input id="remote-cca-password" name="remote-cca-password" type="password"/></p>
            <button id="remote-cca-connection-next">Next</button>
          </div>

          <div id="remote-cca-browse">
            <p>Highlight the file to be analyzed:</p>
            <p><input id="remote-cca-hide-dotfiles" type="checkbox">Hide Dotfiles</input></p>
            <div id="remote-cca-browser"></div>
            <button id="remote-cca-browse-next">Next</button>
          </div>

          <div id="remote-cca-parameters">
            <table id="remote-cca-variables">
              <thead>
                <tr><th>Variable</th><th>Input</th><th>Output</th></tr>
                <tr>
                  <td></td>
                  <td><button id="remote-cca-all-inputs-on" title="Turn all inputs on.">On</button><button id="remote-cca-all-inputs-off" title="Turn all inputs off.">Off</button></td>
                  <td><button id="remote-cca-all-outputs-on" title="Turn all outputs on.">On</button><button id="remote-cca-all-outputs-off" title="Turn all outputs off.">Off</button></td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

            <div>
              <p><input id="remote-cca-scale-inputs" type="checkbox"></input>Scale inputs to unit variance.</p>
            </div>
            <button id="remote-cca-parameters-next">Run</button>
          </div>

          <div id="remote-cca-running" class="runningModel">
            <p>Your model is being generated.</p>
            <div id="model-progress">
              <input class="modelPie" value="1" />
            </div>
            <p>You can close this dialog and watch top status bar for a green checkmark to see when it completes.</p>
            <p>If you leave this dialog open, we will take you to the model as soon as it's generated.</p>
            <button id="remote-cca-running-close">Close</button>
          </div>
        </div>

        <!-- Remote PI user interface -->
        <div id="remote-pi-form" class="dialog" title="Remote File Parameter Image Model">
          <div id="remote-pi-basics">
            <label for="remote-pi-name">Model Name</label>
            <input id="remote-pi-name" class="text ui-widget-content ui-corner-all" value="{{new-model-name}}" />
            <label for="remote-pi-description">Description</label>
            <textarea id="remote-pi-description" class="text ui-widget-content ui-corner-all" rows="3" cols="20"></textarea>
            <select id="remote-pi-marking">
              {{#marking-types}}
              <option value='{{type}}'>{{label}}</option>
              {{/marking-types}}
            </select>
            <button id="remote-pi-basics-next">Next</button>
          </div>

          <div id="remote-pi-connection">
            <div class="ui-widget">
              <label for="remote-pi-hostname">Type the remote host where your data is located:</label>
              <input type="text" id="remote-pi-hostname">
              <div id="remote-hosts-pi-message"></div>
            </div>
            <p><label for="remote-pi-username">Username</label><input id="remote-pi-username" name="remote-pi-username" type="input"/></p>
            <p><label for="remote-pi-password">Password</label><input id="remote-pi-password" name="remote-pi-password" type="password"/></p>
            <button id="remote-pi-connection-next">Next</button>
          </div>

          <div id="remote-pi-browse">
            <div id="top-shelf" style="height:50px; padding-right:5px;margin-bottom:5px;">
              <div id="dotfile-div" style="float:left;">
                <p><input id="remote-pi-hide-dotfiles" type="checkbox">Hide Dotfiles</input></p>
              </div>
              <div id="pi-file-path-entry" style="float:left; margin-left:30px;">
                <p><input id="remote-pi-path-entry" class="path-entry-input" style="width: 400px;" type="text" placeholder="File Path Entry"></input></p>
              </div>
              <button id="remote-pi-browse-next" style="float:right;margin-top:10px;">Next</button>
            </div>
            <div id="remote-pi-browser" style="margin-bottom:15px;"></div>
            <button id="remote-pi-browse-next">Next</button>
          </div>

          <div id="remote-pi-parameters">
            <table id="remote-pi-variables">
              <thead>
                <tr><th>Variable</th><th>Input</th><th>Output</th><th>Rating</th><th>Category</th><th>Image</th></tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <button id="remote-pi-parameters-next">Run</button>
          </div>

          <div id="remote-pi-running" class="runningModel">
            <p>Your model is being generated.</p>
            <div id="model-progress">
              <input class="modelPie" value="1" />
            </div>
            <p>You can close this dialog and watch top status bar for a green checkmark to see when it completes.</p>
            <p>If you leave this dialog open, we will take you to the model as soon as it's generated.</p>
            <button id="remote-pi-running-close">Close</button>
          </div>
        </div>




        <ul id="models" class="main-list">
        {{#models}}
          <li>
            <div class="main-item">
              <a class="clicker" href="{{server-root}}models/{{_id}}"></a>
              <h3 class="main-title"><a class="model-link" href="{{server-root}}models/{{_id}}">{{name}}</a></h3>
              <a class="main-tag model" href="{{server-root}}models/{{_id}}">{{model-type}}</a>
              <!-- <div class="main-type">{{model-type}}</div> -->
              <div class="main-created">Created {{created}} by {{creator}}</div>
              <div class="main-marking">{{{marking-html}}}</div>
              <p class="main-description">{{description}}</p>
            </div>
          </li>
        {{/models}}
        </ul>
      </div>
    </div>

    <script type="text/javascript">

      $(document).ready(function()
      {
        /* Project user interface */
        var security = {{{acl-json}}};
        var modified_security = {{{acl-json}}};

        function add_user(control, list, callback)
        {
          return function()
          {
            user_id = control.val();

            $.ajax({
              type : "GET",
              url : "{{server-root}}users/" + user_id,
              success : function(user)
              {
                if(!window.confirm("Add access for user " + user.name + "?  You must ensure that they have a need-to-know for access to all project data."))
                  return;

                list.push({user : user_id });
                callback();
              },
              error : function()
              {
                alert("Unknown user " + user_id);
              }
            });
          }
        }
        $("#add-administrator").button().click(add_user($("#new-administrator"), modified_security.administrators, update_administrator_acl));
        $("#add-writer").button().click(add_user($("#new-writer"), modified_security.writers, update_writer_acl));
        $("#add-reader").button().click(add_user($("#new-reader"), modified_security.readers, update_reader_acl));

        function remove_user(list, index, callback)
        {
          return function()
          {
            list.splice(index, 1);
            callback();
          }
        }

        function update_administrator_acl()
        {
          $("#administrator-list").empty();
          for(var i in modified_security.administrators)
          {
            var delete_button = $("<button class='delete' title='Remove administrator'>Remove</button>").button().click(remove_user(modified_security.administrators, i, update_administrator_acl));
            var row = $("<tr>")
            $("<td>").text(modified_security.administrators[i].user).appendTo(row);
            $("<td>").append(delete_button).appendTo(row);
            row.appendTo("#administrator-list");
          }
        }

        function update_writer_acl()
        {
          $("#writer-list").empty();
          for(var i in modified_security.writers)
          {
            var delete_button = $("<button class='delete' title='Remove writer'>Remove</button>").button().click(remove_user(modified_security.writers, i, update_writer_acl));
            var row = $("<tr>")
            $("<td>").text(modified_security.writers[i].user).appendTo(row);
            $("<td>").append(delete_button).appendTo(row);
            row.appendTo("#writer-list");
          }
        }

        function update_reader_acl()
        {
          $("#reader-list").empty();
          for(var i in modified_security.readers)
          {
            var delete_button = $("<button class='delete' title='Remove reader'>Remove</button>").button().click(remove_user(modified_security.readers, i, update_reader_acl));
            var row = $("<tr>")
            $("<td>").text(modified_security.readers[i].user).appendTo(row);
            $("<td>").append(delete_button).appendTo(row);
            row.appendTo("#reader-list");
          }
        }

        update_administrator_acl();
        update_writer_acl();
        update_reader_acl();

        $("#delete-project-link").click(function(){
          if(!window.confirm("Delete project {{name}}?  This will delete all artifacts and analyses and cannot be undone."))
            return false;

          $.ajax(
          {
            type : "DELETE",
            url : "{{server-root}}projects/{{_id}}",
            success : function(details)
            {
              window.location.href = "{{server-root}}projects";
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error deleting project: " + reason_phrase);
            }
          });
        });

        $("#edit-project-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 600,
          modal: true,
          buttons:
          {
            "Save Changes": function()
            {
              var project =
              {
                "name" : $("#new-project-name").val(),
                "description" : $("#new-project-description").val()
              }

              if(modified_security != security)
                project["acl"] = modified_security;

              $.ajax(
              {
                type : "PUT",
                url : "{{server-root}}projects/{{_id}}",
                contentType : "application/json",
                data : $.toJSON(project),
                processData : false,
                success : function()
                {
                  window.location.reload();
                },
                error : function(request, status, reason_phrase)
                {
                  window.alert("Error updating project: " + reason_phrase);
                }
              });
            },
            Cancel: function()
            {
              $(this).dialog("close");
            },
          },
        });

        $("#edit-project-button").button().click(function()
        {
          $("#edit-project-form").dialog("open");
          $("#new-project-name").focus();
        });

        /* Local CCA  user interface */

        local_cca_model = null;
        $("#local-cca-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#local-cca-basics").css("display", "block");
            $("#local-cca-browse").css("display", "none");
            $("#local-cca-parameters").css("display", "none");
            $("#local-cca-running").css("display", "none");
            $("#local-cca-parameters-next").button("enable");
          },
          close : function()
          {
            clearTimeout(window.modelGenerationTimeout);
            if(local_cca_model != null) {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}models/" + local_cca_model,
                success : function(details)
                {
                  console.log("successfuly deleted unfinished model");
                },
                error : function(request, status, reason_phrase)
                {
                  console.log("problems deleting unfinished model");
                }
              });
            }
            local_cca_model = null;
          }
        });
        $("#local-cca-basics-next").button().click(function()
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}projects/{{_id}}/models",
            contentType : "application/json",
            data: $.toJSON(
            {
              "model-type" : "cca",
              "name" : $("#local-cca-name").val(),
              "marking" : $("#local-cca-marking").val(),
              "description" : $("#local-cca-description").val()
            }),
            processData: false,
            success: function(result)
            {
              local_cca_model = result["id"];
              $("#local-cca-basics").css("display", "none");
              $("#local-cca-browse").css("display", "block");
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#local-cca-browse-next").button().click(function()
        {
          if($("#local-cca-file")[0].files.length != 1)
          {
            window.alert("You must select exactly one file to index.");
            return;
          }

          var data = new FormData();
          data.append("file", $("#local-cca-file")[0].files[0]);
          data.append("input", true);

          $.ajax(
          {
            type : "PUT",
            url : "{{server-root}}models/" + local_cca_model + "/tables/data-table",
            data : data,
            contentType : false,
            processData : false,
            success : function(result)
            {
              $.ajax(
              {
                type : "GET",
                url : "{{server-root}}models/" + local_cca_model + "/tables/data-table/arrays/0/metadata",
                success : function(table)
                {
                  function deselect_companion(companion)
                  {
                    return function()
                    {
                      companion.removeAttr("checked");
                    }
                  }
                  $("#local-cca-variables tbody").empty();
                  $.each(table["column-names"], function(index, column)
                  {
                    var row = $("<tr>")
                      .addClass(function(){
                        if( (table["column-types"][index] == "string") || (table["column-min"][index] == table["column-max"][index]) )
                          return "disabled ui-state-default";
                      })
                      .appendTo($("#local-cca-variables tbody"));
                    $("<td>").text(column).appendTo(row);

                    if(table["column-types"][index] == "string")
                    {
                      $("<td colspan='2'><span class='ui-icon ui-icon-info'></span>Cannot analyze non-numeric data.</td>").appendTo(row);
                    }
                    else if(table["column-min"][index] == table["column-max"][index])
                    {
                      $("<td colspan='2'><span class='ui-icon ui-icon-info'></span>Cannot analyze constant data.</td>").appendTo(row);
                    }
                    else
                    {
                      var input = $("<input type='checkbox' name='inputs' class='local-cca-input-variable' title='Treat variable as an input for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      var output = $("<input type='checkbox' name='outputs' class='local-cca-output-variable' title='Treat variable as an output for analysis.'>").val(index).appendTo($("<td>").appendTo(row));

                      input.attr("checked", "checked");
                      input.click(deselect_companion(output));
                      output.click(deselect_companion(input));
                    }
                  });

                  $("#local-cca-scale-inputs").attr("checked", "checked");
                  $("#local-cca-browse").css("display", "none");
                  $("#local-cca-parameters").css("display", "block");
                }
              });
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error setting-up local connection: " + reason_phrase);
            }
          });
        });
        $("#local-cca-all-inputs-on").button().click(function()
        {
          $(".local-cca-input-variable").attr("checked", "checked");
          $(".local-cca-output-variable").removeAttr("checked");
        });
        $("#local-cca-all-inputs-off").button().click(function()
        {
          $(".local-cca-input-variable").removeAttr("checked");
        });
        $("#local-cca-all-outputs-on").button().click(function()
        {
          $(".local-cca-output-variable").attr("checked", "checked");
          $(".local-cca-input-variable").removeAttr("checked");
        });
        $("#local-cca-all-outputs-off").button().click(function()
        {
          $(".local-cca-output-variable").removeAttr("checked");
        });
        $("#local-cca-parameters-next").button().click(function()
        {
          function store_parameter(name, value)
          {
            $.ajax(
            {
              async : false,
              type : "PUT",
              url : "{{server-root}}models/" + local_cca_model + "/parameters/" + name,
              contentType : "application/json",
              data: $.toJSON(
              {
                input : true,
                value : value,
              }),
              processData : false,
              error: function(request, status, reason_phrase)
              {
                window.alert("Error setting model parameter: " + reason_phrase);
              }
            });
          }

          input_columns = [];
          $(".local-cca-input-variable:checked").each(function(index, element) { input_columns.push(Number($(element).val())); });
          if(input_columns.length < 1)
          {
            window.alert("You must select at least one input column.");
            return;
          }

          output_columns = [];
          $(".local-cca-output-variable:checked").each(function(index, element) { output_columns.push(Number($(element).val())); });
          if(output_columns.length < 1)
          {
            window.alert("You must select at least one output column.");
            return;
          }

          store_parameter("input-columns", input_columns);
          store_parameter("output-columns", output_columns);
          store_parameter("scale-inputs", $("#local-cca-scale-inputs").attr("checked") == "checked" ? true : false);

          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}models/" + local_cca_model + "/finish",
            success: function(result)
            {
              var mid = local_cca_model;
              local_cca_model = null;
              $("#local-cca-parameters-next").button("disable");

              window.modelGenerationTimeout = setTimeout(function(){
                get_model_status(mid, process_model_status);
              }, 1000);
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#local-cca-running-close").button().click(function()
        {
          $("#local-cca-form").dialog("close");
        });
        $("#local-cca-button").button().click(function()
        {
          $("#local-cca-form").dialog("open");
        });

        /* Remote CCA  user interface */
        remote_cca_model = null;
        $("#remote-cca-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#remote-cca-basics").css("display", "block");
            $("#remote-cca-connection").css("display", "none");
            $("#remote-cca-browse").css("display", "none");
            $("#remote-cca-parameters").css("display", "none");
            $("#remote-cca-running").css("display", "none");
            $("#remote-cca-parameters-next").button("enable");
          },
          close : function()
          {
            clearTimeout(window.modelGenerationTimeout);
            if(remote_cca_model != null) {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}models/" + remote_cca_model,
                success : function(details)
                {
                  console.log("successfuly deleted unfinished model");
                },
                error : function(request, status, reason_phrase)
                {
                  console.log("problems deleting unfinished model");
                }
              });
            }
            remote_cca_model = null;

            // Clear password field
            $("#remote-cca-password").val("");
          }
        });
        $("#remote-cca-basics-next").button().click(function()
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}projects/{{_id}}/models",
            contentType : "application/json",
            data: $.toJSON(
            {
              "model-type" : "cca",
              "name" : $("#remote-cca-name").val(),
              "marking" : $("#remote-cca-marking").val(),
              "description" : $("#remote-cca-description").val()
            }),
            processData: false,
            success: function(result)
            {
              remote_cca_model = result["id"];
              $("#remote-cca-basics").css("display", "none");
              $("#remote-cca-connection").css("display", "block");
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#remote-cca-password").keypress(function(event){
            if (event.keyCode == 13){
              $("#remote-cca-connection-next").trigger("click");
            }
        });
        $("#remote-cca-connection-next").button().click(function()
        {
          $.ajax(
          {
            async : false,
            type : "POST",
            url : "{{server-root}}remote",
            contentType : "application/json",
            data: $.toJSON(
            {
              hostname : $("#remote-cca-hostname").val(),
              username : $("#remote-cca-username").val(),
              password : $("#remote-cca-password").val(),
            }),
            processData : false,
            error: function(request, status, reason_phrase)
            {
              window.alert("Error connecting to remote system: " + reason_phrase);
            },
            success: function(results)
            {
              if( $("#remote-cca-browser").data("slycat-browser") )
                $("#remote-cca-browser").browser("destroy"); // Need to destroy the browser instead of just emptying it, otherwise it does not come up on 2nd invocation.
              $("#remote-cca-browser").empty().browser({
                server_root : "{{server-root}}",
                root_label : $("#remote-cca-hostname").val() + "//",
                root_path : "/",
                session: results.sid,
                directory_selection : false,
                multiple_selection : false,
                hide_dotfiles : false
                });
              $("#remote-cca-connection").css("display", "none");
              $("#remote-cca-browse").css("display", "block");
            }
          });
        });
        $("#remote-cca-hide-dotfiles").click(function()
        {
          $("#remote-cca-browser").browser("option", "hide_dotfiles", $(this).attr("checked"));
        });
        $("#remote-cca-browse-next").button().click(function()
        {
          var session = $("#remote-cca-browser").browser("option", "session");
          var selection = $("#remote-cca-browser").browser("selection");
          if(selection.length != 1)
          {
            window.alert("You must select exactly one file to index.");
            return;
          }
          path = selection[0];

          var data = new FormData();
          data.append("sid", session);
          data.append("path", path);
          data.append("input", true);

          $.ajax(
          {
            type : "PUT",
            contentType : false,
            processData : false,
            url : "{{server-root}}models/" + remote_cca_model + "/tables/data-table",
            data : data,
            success : function(result)
            {
              $.ajax(
              {
                type : "GET",
                url : "{{server-root}}models/" + remote_cca_model + "/tables/data-table/arrays/0/metadata",
                success : function(table)
                {
                  function deselect_companion(companion)
                  {
                    return function()
                    {
                      companion.removeAttr("checked");
                    }
                  }
                  $("#remote-cca-variables tbody").empty();
                  $.each(table["column-names"], function(index, column)
                  {
                    var row = $("<tr>")
                      .addClass(function(){
                        if( (table["column-types"][index] == "string") || (table["column-min"][index] == table["column-max"][index]) )
                          return "disabled ui-state-default";
                      })
                      .appendTo($("#remote-cca-variables tbody"))
                      ;
                    $("<td>").text(column).appendTo(row);

                    if(table["column-types"][index] == "string")
                    {
                      $("<td colspan='2'><span class='ui-icon ui-icon-info'></span>Cannot analyze non-numeric data.</td>").appendTo(row);
                    }
                    else if(table["column-min"][index] == table["column-max"][index])
                    {
                      $("<td colspan='2'><span class='ui-icon ui-icon-info'></span>Cannot analyze constant data.</td>").appendTo(row);
                    }
                    else
                    {
                      var input = $("<input type='checkbox' name='inputs' class='remote-cca-input-variable' title='Treat variable as an input for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      var output = $("<input type='checkbox' name='outputs' class='remote-cca-output-variable' title='Treat variable as an output for analysis.'>").val(index).appendTo($("<td>").appendTo(row));

                      input.attr("checked", "checked");
                      input.click(deselect_companion(output));
                      output.click(deselect_companion(input));
                    }
                  });
                  $("#remote-cca-scale-inputs").attr("checked", "checked");
                  $("#remote-cca-browse").css("display", "none");
                  $("#remote-cca-parameters").css("display", "block");
                }
              });
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error setting-up remote connection: " + reason_phrase);
            }
          });
        });
        $("#remote-cca-all-inputs-on").button().click(function()
        {
          $(".remote-cca-input-variable").attr("checked", "checked");
          $(".remote-cca-output-variable").removeAttr("checked");
        });
        $("#remote-cca-all-inputs-off").button().click(function()
        {
          $(".remote-cca-input-variable").removeAttr("checked");
        });
        $("#remote-cca-all-outputs-on").button().click(function()
        {
          $(".remote-cca-output-variable").attr("checked", "checked");
          $(".remote-cca-input-variable").removeAttr("checked");
        });
        $("#remote-cca-all-outputs-off").button().click(function()
        {
          $(".remote-cca-output-variable").removeAttr("checked");
        });
        $("#remote-cca-parameters-next").button().click(function()
        {
          function store_parameter(name, value)
          {
            $.ajax(
            {
              async : false,
              type : "PUT",
              url : "{{server-root}}models/" + remote_cca_model + "/parameters/" + name,
              contentType : "application/json",
              data: $.toJSON(
              {
                input : true,
                value : value,
              }),
              processData : false,
              error: function(request, status, reason_phrase)
              {
                window.alert("Error setting model parameter: " + reason_phrase);
              }
            });
          }

          input_columns = [];
          $(".remote-cca-input-variable:checked").each(function(index, element) { input_columns.push(Number($(element).val())); });
          if(input_columns.length < 1)
          {
            window.alert("You must select at least one input column.");
            return;
          }

          output_columns = [];
          $(".remote-cca-output-variable:checked").each(function(index, element) { output_columns.push(Number($(element).val())); });
          if(output_columns.length < 1)
          {
            window.alert("You must select at least one output column.");
            return;
          }

          store_parameter("input-columns", input_columns);
          store_parameter("output-columns", output_columns);
          store_parameter("scale-inputs", $("#remote-cca-scale-inputs").attr("checked") == "checked" ? true : false);

          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}models/" + remote_cca_model + "/finish",
            success: function(result)
            {
              var mid = remote_cca_model;
              remote_cca_model = null;
              $("#remote-cca-parameters-next").button("disable");

              window.modelGenerationTimeout = setTimeout(function(){
                get_model_status(mid, process_model_status);
              }, 1000);
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#remote-cca-running-close").button().click(function()
        {
          $("#remote-cca-form").dialog("close");
        });
        $("#remote-cca-button").button().click(function()
        {
          $("#remote-cca-form").dialog("open");
        });

        /*This each loop goes over each model type abbreviation and sets the "#remote-model_name-hostname" textfield to a combobox.
          It also watches the text field for value changes and handles displaying messages and removing them when they need to be
          shown or hidden. If there is a new model type that you would like a remote connection combobox in, simply add a text field
          with the id: "#remote-model_name-hostname" where model_name is the actual abbreviation (Ex: cca, pi). This text field will
          be the combobox where they can type their own hostname, or select from the list. Then make sure there is a div of 
          id: "#remote-hosts-model_name-message" where model_name is the actual abbreviation. This div will be where the sub-optimal 
          warning message is added or removed.
        */
        $.each(["cca", "pi"], function(index, model_type)
        {
          $("#remote-" + model_type + "-hostname").combobox({{remote-hosts-arr}});
          $("#remote-"+ model_type + "-hostname").on("change", function()
          {
            var remote_host_array = $.parseJSON("{{{remote-hosts}}}");
            $("#remote-hosts-" + model_type + "-message").html("");
            $.each(remote_host_array, function(index, remote_host_object)
            {
              if(remote_host_object.name == $("#remote-" + model_type + "-hostname").val())
              {
                if(remote_host_object.hasOwnProperty("message"))
                {
                  $("#remote-hosts-" + model_type + "-message").html("<p>"+ remote_host_object.message +"</p>");
                }
                return false;
              }
            });
          });
        });

        function process_model_status(results) {
          if(results.finished === null) {
            $("#local-cca-parameters").css("display", "none");
            $("#local-cca-running").css("display", "block");
            $("#remote-cca-parameters").css("display", "none");
            $("#remote-cca-running").css("display", "block");
            var modelPie = $("#model-progress .modelPie");
            modelPie.knob({
                  'min':0,
                  'max':1,
                  'readOnly':true,
                  'displayInput':false,
                  'fgColor':'#4D720C',
                  'bgColor':'#D7D7D6',
                  'width':200,
                  'height':200,
                  'thickness':0.35,
                  'step':0.01,
                });
            modelPie.val(results["progress"]).trigger('change');
            window.modelGenerationTimeout = setTimeout(function(){
              get_model_status(results._id, process_model_status);
            }, 1000);
          }
          else {
            window.location = "{{server-root}}models/" + results._id;
          }
        }

        /* Remote PI  user interface */
        remote_pi_model = null;
        $("#remote-pi-form").dialog(
        {
          autoOpen: false,
          width: 700,
          height: 700,
          modal: true,
          open : function()
          {
            $("#remote-pi-basics").css("display", "block");
            $("#remote-pi-connection").css("display", "none");
            $("#remote-pi-browse").css("display", "none");
            $("#remote-pi-parameters").css("display", "none");
            $("#remote-pi-running").css("display", "none");
            $("#remote-pi-parameters-next").button("enable");
          },
          close : function()
          {
            clearTimeout(window.modelGenerationTimeout);
            if(remote_pi_model != null) {
              $.ajax(
              {
                type : "DELETE",
                url : "{{server-root}}models/" + remote_pi_model,
                success : function(details)
                {
                  console.log("successfuly deleted unfinished model");
                },
                error : function(request, status, reason_phrase)
                {
                  console.log("problems deleting unfinished model");
                }
              });
            }
            remote_pi_model = null;

            // Clear password field
            $("#remote-pi-password").val("");
            // Clear file path field
            $(".path-entry-input").val("");
          }
        });
        $("#remote-pi-basics-next").button().click(function()
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}projects/{{_id}}/models",
            contentType : "application/json",
            data: $.toJSON(
            {
              "model-type" : window.remote_pi_model_type || "parameter-image",
              "name" : $("#remote-pi-name").val(),
              "marking" : $("#remote-pi-marking").val(),
              "description" : $("#remote-pi-description").val()
            }),
            processData: false,
            success: function(result)
            {
              remote_pi_model = result["id"];
              $("#remote-pi-basics").css("display", "none");
              $("#remote-pi-connection").css("display", "block");
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#remote-pi-password").keypress(function(event){
            if (event.keyCode == 13){
              $("#remote-pi-connection-next").trigger("click");
            }
        });
        $("#remote-pi-connection-next").button().click(function()
        {
          $.ajax(
          {
            async : false,
            type : "POST",
            url : "{{server-root}}remote",
            contentType : "application/json",
            data: $.toJSON(
            {
              hostname : $("#remote-pi-hostname").val(),
              username : $("#remote-pi-username").val(),
              password : $("#remote-pi-password").val(),
            }),
            processData : false,
            error: function(request, status, reason_phrase)
            {
              window.alert("Error connecting to remote system: " + reason_phrase);
            },
            success: function(results)
            {
              if( $("#remote-pi-browser").data("slycat-browser") )
                $("#remote-pi-browser").browser("destroy"); // Need to destroy the browser instead of just emptying it, otherwise it does not come up on 2nd invocation.
              $("#remote-pi-browser").empty().browser({
                server_root : "{{server-root}}",
                root_label : $("#remote-pi-hostname").val() + "//",
                root_path : "/",
                session: results.sid,
                directory_selection : false,
                multiple_selection : false,
                hide_dotfiles : false
                });
              $("#remote-pi-connection").css("display", "none");
              $("#remote-pi-browse").css("display", "block");
            }
          });
        });
        $("#remote-pi-hide-dotfiles").click(function()
        {
          $("#remote-pi-browser").browser("option", "hide_dotfiles", $(this).attr("checked"));
        });
        $("#remote-pi-browse-next").button().click(function()
        {
          var session = $("#remote-pi-browser").browser("option", "session");
          var selection = $("#remote-pi-browser").browser("selection");
          if(selection.length != 1)
          {
            window.alert("You must select exactly one file to index.");
            return;
          }
          path = selection[0];

          var data = new FormData();
          data.append("sid", session);
          data.append("path", path);
          data.append("input", true);

          $.ajax(
          {
            type : "PUT",
            contentType : false,
            processData : false,
            url : "{{server-root}}models/" + remote_pi_model + "/tables/data-table",
            data : data,
            success : function(result)
            {
              $.ajax(
              {
                type : "GET",
                url : "{{server-root}}models/" + remote_pi_model + "/tables/data-table/arrays/0/metadata",
                success : function(table)
                {
                  function deselect_companions(companions)
                  {
                    return function()
                    {
                      $.each(companions, function(index, companion)
                      {
                        companion.removeAttr("checked");
                      });
                    }
                  }
                  $("#remote-pi-variables tbody").empty();
                  $.each(table["column-names"], function(index, column)
                  {
                    var row = $("<tr>")
                      .appendTo($("#remote-pi-variables tbody"))
                      ;
                    $("<td>").text(column).appendTo(row);

                    var controls = [];

                    if(table["column-types"][index] != "string")
                    {
                      var input = $("<input type='checkbox' name='inputs' class='remote-pi-input-variable' title='Treat variable as an input for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      var output = $("<input type='checkbox' name='outputs' class='remote-pi-output-variable' title='Treat variable as an output for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      var rating = $("<input type='checkbox' name='outputs' class='remote-pi-rating-variable' title='Treat variable as rating for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      controls.push(input, output, rating);

                      input.attr("checked", "checked");
                    }
                    else
                    {
                      $("<td>").appendTo(row);
                      $("<td>").appendTo(row);
                      $("<td>").appendTo(row);
                    }

                    var category = $("<input type='checkbox' name='outputs' class='remote-pi-category-variable' title='Treat variable as a category for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                    controls.push(category);

                    if(table["column-types"][index] == "string")
                    {
                      var image = $("<input type='checkbox' name='images' class='remote-pi-image-variable' title='Treat variable as an image for analysis.'>").val(index).appendTo($("<td>").appendTo(row));
                      controls.push(image);

                      $.ajax(
                      {
                        type : "GET",
                        url : "{{server-root}}models/" + remote_pi_model + "/tables/data-table/arrays/0/chunk?rows=0&columns=" + index,
                        success : function(columns)
                        {
                          if(columns.data[0][0].slice(0, 7) == "file://")
                          {
                            image.attr("checked", "checked");
                          }
                        }
                      });
                    }
                    else
                    {
                      $("<td>").appendTo(row);
                    }

                    $.each(controls, function(index, control){
                      var others = controls.slice();
                      others.splice(index, 1);
                      control.click(deselect_companions(others));
                    });
                  });
                  $("#remote-pi-browse").css("display", "none");
                  $("#remote-pi-parameters").css("display", "block");
                }
              });
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error setting-up remote connection: " + reason_phrase);
            }
          });
        });
        $("#remote-pi-parameters-next").button().click(function()
        {
          function store_parameter(name, value)
          {
            $.ajax(
            {
              async : false,
              type : "PUT",
              url : "{{server-root}}models/" + remote_pi_model + "/parameters/" + name,
              contentType : "application/json",
              data: $.toJSON(
              {
                input : true,
                value : value,
              }),
              processData : false,
              error: function(request, status, reason_phrase)
              {
                window.alert("Error setting model parameter: " + reason_phrase);
              }
            });
          }

          input_columns = [];
          output_columns = [];
          rating_columns = [];
          category_columns = [];
          image_columns = [];
          $(".remote-pi-input-variable:checked").each(function(index, element) { input_columns.push(Number($(element).val())); });
          $(".remote-pi-output-variable:checked").each(function(index, element) { output_columns.push(Number($(element).val())); });
          $(".remote-pi-rating-variable:checked").each(function(index, element) { rating_columns.push(Number($(element).val())); });
          $(".remote-pi-category-variable:checked").each(function(index, element) { category_columns.push(Number($(element).val())); });
          $(".remote-pi-image-variable:checked").each(function(index, element) { image_columns.push(Number($(element).val())); });

          store_parameter("input-columns", input_columns);
          store_parameter("output-columns", output_columns);
          store_parameter("rating-columns", rating_columns);
          store_parameter("category-columns", category_columns);
          store_parameter("image-columns", image_columns);

          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}models/" + remote_pi_model + "/finish",
            success: function(result)
            {
              var mid = remote_pi_model;
              remote_pi_model = null;
              $("#remote-pi-parameters-next").button("disable");

              window.modelGenerationTimeout = setTimeout(function(){
                get_model_status(mid, process_model_status);
              }, 1000);
            },
            error: function(request, status, reason_phrase)
            {
              window.alert("Error creating model: " + reason_phrase);
            }
          });
        });
        $("#remote-pi-running-close").button().click(function()
        {
          $("#remote-pi-form").dialog("close");
        });
        $("#remote-pi-button").button().click(function()
        {
          window.remote_pi_model_type = null;
          $("#remote-pi-form").dialog("option", "title", "Remote File Parameter Image Model");
          $("#remote-pi-form").dialog("open");
        });
        $("#remote-ti-button").button().click(function()
        {
          window.remote_pi_model_type = "tracer-image";
          $("#remote-pi-form").dialog("option", "title", "Remote File Tracer Image Model");
          $("#remote-pi-form").dialog("open");
        });

        function process_model_status(results) {
          if(results.finished === null) {
            $("#local-pi-parameters").css("display", "none");
            $("#local-pi-running").css("display", "block");
            $("#remote-pi-parameters").css("display", "none");
            $("#remote-pi-running").css("display", "block");
            var modelPie = $("#model-progress .modelPie");
            modelPie.knob({
                  'min':0,
                  'max':1,
                  'readOnly':true,
                  'displayInput':false,
                  'fgColor':'#4D720C',
                  'bgColor':'#D7D7D6',
                  'width':200,
                  'height':200,
                  'thickness':0.35,
                  'step':0.01,
                });
            modelPie.val(results["progress"]).trigger('change');
            window.modelGenerationTimeout = setTimeout(function(){
              get_model_status(results._id, process_model_status);
            }, 1000);
          }
          else {
            window.location = "{{server-root}}models/" + results._id;
          }
        }
        function get_model_status(mid, callback)
        {
          $.ajax(
          {
            dataType : "json",
            type : "GET",
            cache : false, // Don't cache this request; otherwise, the browser will display the JSON if the user leaves this page then returns.
            url : "{{server-root}}models/" + mid,
            success : function(results)
            {
              callback(results);
            },
            error : function(request, status, reason_phrase)
            {
              callback(reason_phrase);
            },
          });
        }

      });
    </script>
  </body>
</html>
