<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <link id="slycat-server-root" href="{{slycat-server-root}}">
  </head>

  <body>
    <slycat-navbar></slycat-navbar>
    <div class="slycat-content">
      {{{slycat-marking-before-html}}}
      {{{slycat-page-html}}}
      {{{slycat-marking-after-html}}}
    </div>
    {{{slycat-injected-code}}}
  </body>
</html>
