<div class="bootstrap-styles">
  <div class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" data-bind="text:title"></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p data-bind="html:message"></p>
          <!-- Alex adding ko if, otherwise the value binding breaks
               because it seems that it can't be used at the same time for an
               input field and a select control, with one of them just not visible.
          -->
          <!--ko if: input -->
          <input type="text" class="form-control"
            data-bind="
              value:value, 
              attr:{placeholder:placeholder}">
          <!--/ko-->
          <!--ko if: select -->
          <select class="custom-select" 
            data-bind="
              attr:{multiple:multiple},
              options:options,
              optionsText: 'name', 
              optionsValue: 'id', 
              value:value"></select>
          <!--/ko-->
          <div class="alert alert-danger" role="alert"
            data-bind="visible:alert, text:alert"
          ></div>
        </div>
        <div class="modal-footer" data-bind="foreach:buttons">
          <button type="button" class="btn" data-bind="css: className, click:$parent.close">
            <!--ko if: typeof icon_class !== 'undefined' -->
              <span aria-hidden="true" data-bind="css:icon_class"></span>
            <!--/ko-->
            <!--ko text:label--><!--/ko-->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
