<div class="slycat-table-ingestion">
  <table>
    <thead>
      <tr>
        <th></th>
        <!-- ko foreach: properties -->
          <!-- ko if: type == 'bool' -->
            <th class="bool" data-bind="text: name"></th>
          <!-- /ko -->
          <!-- ko if: type == 'select' -->
            <!-- ko foreach: values -->
              <th class="select" data-bind="text: $data"></th>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="foreach: { data: variables, as: 'variable' }">
      <tr>
        <th data-bind="text: name"></th>
        <!-- ko foreach: $parent.properties -->
          <!-- ko if: type == 'bool' -->
            <td class="bool">
              <input type="checkbox"
                data-bind="attr: { name: variable.name()+name, value: 'true' }"
              />
            </td>
          <!-- /ko -->
          <!-- ko if: type == 'select' -->
            <!-- ko foreach: values -->
              <td class="select">
                <input type="radio"
                  data-bind="
                    attr: { 
                      name: variable.name()+$parent.name, 
                      value: $data
                    },
                    checked: variable.classification
                  "
                />
              </td>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      </tr>
    </tbody>
  </table>
</div>