<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <link id="slycat-server-root" href="{{slycat-server-root}}">
    <link rel="stylesheet" href="{{slycat-server-root}}resources/global/{{slycat-css-bundle}}" type="text/css">
    <script src="{{slycat-server-root}}resources/global/{{slycat-js-bundle}}" type="text/javascript"></script>
    <title>Slycat Remote Test</title>
  </head>
  <body>
    <script type="text/javascript">
      require(["slycat-server-root", "slycat-web-client"], function(server_root, client)
      {
        create_remote("localhost");

        function create_remote(hostname)
        {
          client.post_remotes(
          {
            hostname: hostname,
            username: "slycat",
            password: "slycat",
            agent: true,
            //agent: false,
            success: function(sid)
            {
              browse_remote(sid)
            },
          });
        }

        function browse_remote(sid)
        {
          client.post_remote_browse(
          {
            sid: sid,
            path: "/home/slycat/src/slycat",
            //path: "/home/slycat/src/foo",
            success: function()
            {
              get_remote_file(sid);
            }
          });
        }

        function get_remote_file(sid)
        {
          $.ajax(
          {
            type : "GET",
            url : server_root + "remotes/" + sid + "/file/home/slycat/src/slycat/README.md",
            //url : server_root + "remotes/" + sid + "/file/home/slycat/src/slycat/README.mdf",
            //url : server_root + "remotes/" + sid + "/file/etc/shadow",
            success: function()
            {
              get_remote_image(sid);
            },
          });
        }

        function get_remote_image(sid)
        {
          $.ajax(
          {
            type : "GET",
            url : server_root + "remotes/" + sid + "/image/home/slycat/src/slycat/artwork/slycat-logo-original-artwork.png",
            //url : server_root + "remotes/" + sid + "/image/home/slycat/src/slycat/artwork/slycat-logo-original-artwork.spng",
            //url : server_root + "remotes/" + sid + "/image/etc/shadow",
            success: function()
            {
//              create_remote_video(sid);//deprecated
            },
            error: function()
            {
//              create_remote_video(sid);//deprecated
            },
          });
        }


        function wait_for_video(sid, vsid)
        {
          client.get_remote_video_status(
          {
            sid: sid,
            vsid: vsid,
            success: function(result)
            {
              if(result["ok"] == false)
              {
                delete_remote(sid);
              }
              else if(result["ready"] != true)
              {
                setTimeout(wait_for_video.bind(null, sid, vsid), 1000);
              }
              else
              {
                document.querySelector("body").innerHTML += "<video style='width: 400px' controls src='" + server_root + "remotes/" + sid + "/videos/" + vsid + "'>" + "</video>";
                setTimeout(delete_remote.bind(null, sid), 5000);
              }
            },
            error: function()
            {
              delete_remote(sid);
            }
          });
        }

        function delete_remote(sid)
        {
          client.delete_remote(
          {
            sid: sid,
          });
        }
      });
    </script>
  </body>
</html>
