<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <title></title>
  </head>

  <body>
    <slycat-navbar params="project_id:project_id"></slycat-navbar>
    <div id="slycat-project-react" class="bootstrap-styles slycat-content">
      <div id="slycat-models" class="mb-5"></div>
      <div id="slycat-templates" class="mb-5"></div>
    </div>
  </body>
</html>
