<div class="bootstrap-styles">
  <div class="modal fade" data-backdrop="static">
    <div class="model-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 data-bind="text:title"></h3>
          <p data-bind="visible:message, text:message"></p>
        </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <slycat-login-controls params="username:remote.username,password:remote.password,error:remote.error"></slycat-login-controls>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default pull-left" data-bind="click:cancel" data-dismiss="modal">Cancel</button>
            <button class="btn btn-default" data-bind="click:login">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
