<div class="slycat-remote-browser" data-bind="css: persistence_id">
  <form class="form-horizontal" data-bind="submit: browse_path">
    <div class="form-group path" data-bind="css: {'has-error': path_error}">
      <label class="col-sm-2 col-form-label" for="slycat-remote-browser-path"
        data-bind="text: hostname()"
      ></label>
      <div class="col-sm-10">
        <div class="input-group" style="width: calc(100% - 44px); float: left; margin-right: 5px;">
          <input type="text" class="form-control" id="slycat-remote-browser-path" 
            data-bind="value: path_input"
          >
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go</button>
          </span>
        </div>
        <div class="btn-group" role="group" style="float: right;">
          <button class="btn btn-default" type="button" title="Navigate to parent directory"
            data-bind="
            click:up,
            disable:path()=='/'
          ">
            <i class="fa fa-level-up" aria-hidden="true"></i>
          </button>
        </div>
        <div class="alert alert-danger" role="alert" data-bind="fadeError: browse_error">
          Oops, that path is not accessible. Please try again.
        </div>
      </div>
    </div>
  </form>
  <div class="slycat-remote-browser-files" data-bind="updateFeedback: browser_updating">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Date Modified</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: files">
        <tr data-bind="
          event:{click : $parent.select, dblclick : $parent.open},
          css:{directory:type()=='d', file:type()=='f', selected:selected()}
        ">
          <td data-bind="html:icon"></td>
          <td data-bind="text:name"></td>
          <td data-bind="text:size"></td>
          <td data-bind="text:mtime"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="progress" data-bind="visible: progress() != undefined && progress() > 0">
    <div class="progress-bar progress-bar-striped active" role="progressbar" 
      aria-valuemin="0" 
      aria-valuemax="100" 
      data-bind="
        attr: {'aria-valuenow' : progress},
        style: {'width' : progress() + '%'},
        text: progress_status,
    ">
      Uploading
    </div>
  </div>
</div>
