<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <link id="slycat-server-root" href="{{slycat-server-root}}">
    {{#slycat-css-bundle}}
    <link rel="stylesheet" href="{{slycat-server-root}}resources/global/{{slycat-css-bundle}}" type="text/css">
    {{/slycat-css-bundle}}
    {{#slycat-page-css-bundles}}
      <link rel="stylesheet" href="{{slycat-server-root}}resources/pages/{{slycat-page-type}}/{{bundle}}" type="text/css">
    {{/slycat-page-css-bundles}}
    {{#slycat-js-bundle}}
      <script src="{{slycat-server-root}}resources/global/{{slycat-js-bundle}}" type="text/javascript"></script>
    {{/slycat-js-bundle}}
    {{#slycat-page-js-bundles}}
      <script src="{{slycat-server-root}}resources/pages/{{slycat-page-type}}/{{bundle}}" type="text/javascript"></script>
    {{/slycat-page-js-bundles}}
    <title data-bind="text: title">{{slycat-model.name}} - Slycat Model</title>
  </head>

  <body>
    <slycat-navbar params="project_id:'{{slycat-project._id}}', project_name:'{{slycat-project-name}}', model_id:'{{slycat-model._id}}', model_name:'{{slycat-model-name}}', model_marking:'{{slycat-model.marking}}', model_type:'{{slycat-model.model-type}}'"></slycat-navbar>
    <div class="slycat-content">
      {{{slycat-marking-before-html}}}
      {{{slycat-page-html}}}
      {{{slycat-marking-after-html}}}
    </div>
    <script type="text/javascript">
      require(["slycat-model-main"], function(module)
      {
        module.start();
      });
    </script>
    {{{slycat-injected-code}}}
  </body>
</html>
