<div class="mb-3">
  <label for="slycat-login-username" class="form-label" data-bind="text:remoteAuthLabelUsername"
    >[Replaced with Username label]</label
  >
  <input
    id="slycat-login-username"
    class="form-control"
    type="text"
    data-bind="enable:enable, textInput:username"
  />
</div>
<div class="mb-3">
  <label for="slycat-login-password" class="form-label" data-bind="text:remoteAuthLabelPassword"
    >[Replaced with Password label]</label
  >
  <input
    id="slycat-login-password"
    class="form-control"
    type="password"
    data-bind="enable:enable, textInput:password"
  />
</div>
<div data-bind="visible: status">
  <div class="alert" role="alert" data-bind="css:status_classes,text:status"></div>
</div>
