<div class="bootstrap-styles">
  <div class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" data-bind="text:title"></h3>
        </div>
        <div class="modal-body">
          <p data-bind="text:message"></p>
          <input type="text" class="form-control"
            data-bind="visible:input, value:value, attr:{placeholder:placeholder}">
          <div class="alert alert-danger" role="alert"
            data-bind="visible:alert, text:alert"
          ></div>
        </div>
        <div class="modal-footer" data-bind="foreach:buttons">
          <button type="button" class="btn" data-bind="css: className, click:$parent.close, text:label"></button>
        </div>
      </div>
    </div>
  </div>
</div>
