<div class="slycat-table-ingestion">
  <table>
    <thead>
      <tr>
        <th></th>
        <!-- ko foreach: properties -->
          <!-- ko if: type == 'bool' -->
            <th class="bool property-start property-end" data-bind="text: name"></th>
          <!-- /ko -->
          <!-- ko if: type == 'select' -->
            <!-- ko foreach: values -->
              <th class="select" 
              data-bind="
                text: $data,
                css: {
                  'property-start': $index() == 0,
                  'property-end': $index() == ($parent.values.length - 1)
                }
              "></th>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="foreach: { data: variables, as: 'variable' }">
      <tr data-bind="visible: !hidden()">
        <th data-bind="text: name"></th>
        <!-- ko foreach: $parent.properties -->
          <!-- ko if: type == 'bool' -->
            <td class="bool property-start property-end">
              <input type="checkbox"
                data-bind="
                  attr: { 
                    name: variable.name()+name, 
                    value: 'true' 
                  },
                  checked: variable[name]
                  "
              />
            </td>
          <!-- /ko -->
          <!-- ko if: type == 'select' -->
            <!-- ko foreach: values -->
              <td class="select"
                data-bind="css: {
                    'property-start': $index() == 0,
                    'property-end': $index() == ($parent.values.length - 1)
                  }
                "
              >
                <input type="radio"
                  data-bind="
                    attr: { 
                      name: variable.name()+$parent.name, 
                      value: $data
                    },
                    checked: variable[$parent.name]
                  "
                />
              </td>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      </tr>
    </tbody>
  </table>
</div>