<div class="slycat-remote-interface bootstrap-styles" style="padding: 1%;">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-8">
        <label>
          <input id="slycat-remote-interface-custom" type="radio" value="batch-file" data-bind="checked: radio, attr: {'disabled' : disabled}" style="margin-right: 7px;">
          Custom job
        </label>
      </div>
    </div>
    <div id="form-group-batch-file" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Batch file</label>
      <div class="col-sm-8">
        <input class="form-control slycat-remote-interface-custom-field" type="text" placeholder="enter batch file location here" data-bind="value: batch, attr: {'disabled' : disabled}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8">
        <label>
          <input id="slycat-remote-interface-prebuilt" type="radio" value="slycat-function" data-bind="checked: radio, attr: {'disabled' : disabled}" style="margin-right: 7px;">
          Slycat pre-built
        </label>
      </div>
    </div>
    <div id="form-group-wcid" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">WCID</label>
      <div class="col-sm-8">
        <input class="form-control slycat-remote-interface-prebuilt-field" type="text" placeholder="enter workload characterization key" data-bind="value: wckey, attr: {'disabled' : disabled}">
      </div>
    </div>
    <div id="form-group-partition" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Partition</label>
      <div class="col-sm-4">
        <input class="form-control slycat-remote-interface-prebuilt-field" type="text" data-bind="value: partition, attr: {'disabled' : disabled}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label"></label>
      <div class="col-sm-8 help-block">
        Note: increasing the number of tasks per node will increase the memory usage for the node.
      </div>
    </div>
    <div id="form-group-nnodes" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Number of nodes</label>
      <div class="col-sm-4">
        <input class="form-control slycat-remote-interface-prebuilt-field" type="number" data-bind="value: nnodes, attr: {'disabled' : nnodes_disabled}">
      </div>
    </div>
    <div id="form-group-tasks-per-node" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Task(s) / node</label>
      <div class="col-sm-4">
        <input class="form-control slycat-remote-interface-prebuilt-field" type="number" data-bind="value: ntasks_per_node, attr: {'disabled' : disabled}">
      </div>
    </div>
    <div id="form-group-time" class="form-group">
      <fieldset data-bind="disable: time_recommended">
        <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Time</label>
        <div class="col-sm-2">
          <input class="form-control slycat-remote-interface-prebuilt-field" type="number" min="0" placeholder="hours" data-bind="value: time_hours, disable: time_recommended">
        </div>
        <div class="col-sm-2">
          <input class="form-control slycat-remote-interface-prebuilt-field" type="number" min="0" max="59" placeholder="minutes" data-bind="value: time_minutes, disable: time_recommended">
        </div>
        <div class="col-sm-2">
          <input class="form-control slycat-remote-interface-prebuilt-field" type="number" min="0" max="59" placeholder="seconds" data-bind="value: time_seconds, disable: time_recommended">
        </div>
      </fieldset>
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-bind="checked: time_recommended"> Use recommended values
          </label>
        </div>
      </div>
    </div>
    <div id="form-group-workdir" class="form-group">
      <label for="slycat-remote-interface-command" class="col-sm-4 control-label">Working Directory</label>
      <div class="col-sm-8">
        <input class="form-control slycat-remote-interface-prebuilt-field" type="text" placeholder="enter path for working directory" data-bind="value: workdir, attr: {'disabled' : disabled}">
      </div>
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-bind="checked: retain_hdf5"> Retain HDF5 files
          </label>
        </div>
      </div>
    </div>
  </form>

  <div id="slycat-remote-interface-connect-modal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content zoom-sensitive">
        <div class="modal-header">
          <h4 class="modal-title">Connect to host...</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <slycat-remote-controls params="hostname:remote.hostname,username:remote.username,password:remote.password,status:remote.status,status_type:remote.status_type,enable:remote.enable,focus:remote.focus,activate:connect,session_exists:remote.session_exists"></slycat-remote-controls>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bind="click:connect,enable:remote.enable">Connect</button>
          <button class="btn btn-default pull-left" data-bind="click:cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
