<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <link id="slycat-server-root" href="{{slycat-server-root}}">
    <link rel="stylesheet" href="{{slycat-server-root}}resources/global/{{slycat-css-bundle}}" type="text/css">
    <script src="{{slycat-server-root}}resources/global/{{slycat-js-bundle}}" type="text/javascript"></script>
    <title>Slycat Remote Test</title>
  </head>
  <body>
    <script type="text/javascript">
      require(["slycat-server-root", "slycat-web-client"], function(server_root, client)
      {
        create_remote("localhost");

        function create_remote(hostname)
        {
          client.post_remotes(
          {
            hostname: hostname,
            username: "slycat",
            password: "slycat",
            success: function(sid)
            {
              remote_browse(sid)
            },
          });
        }

        function remote_browse(sid)
        {
          client.post_remote_browse(
          {
            sid: sid,
            path: "/home/slycat/src/slycat",
            success: function()
            {
              get_remote_file(sid);
            }
          });
        }

        function get_remote_file(sid)
        {
          $.ajax(
          {
            type : "GET",
            url : server_root + "remotes/" + sid + "/file/home/slycat/src/slycat/README.md",
            success: function()
            {
              delete_remote(sid);
            },
          });
        }

        function delete_remote(sid)
        {
          client.delete_remote(
          {
            sid: sid,
          });
        }
/*
      var hostname = "127.0.0.1";
      var username = "slycat";
      var password = "slycat";
      var image_prefix = "/home/slycat/src/slycat/web-client/sample-parameter-images/";
      var image_suffix = ".jpg";

      var remote = null;
      var agent = null;
      var vsid = null;

      create_remote(0);

      function remote_file(index)
      {
        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}remotes/" + remote + "/file" + image_prefix + index + image_suffix,
          success: function(result)
          {
            document.querySelector("body").innerHTML += "<p>Remote loaded image //" + hostname + image_prefix + index + image_suffix + ".</p>";
            if(index < 10)
              remote_file(index + 1);
            else
              create_agent(index + 1);
          },
        });
      }


      function create_agent(index)
      {
        $.ajax(
        {
          contentType : "application/json",
          data: JSON.stringify({
            "hostname" : hostname,
            "username" : username,
            "password": password,
          }),
          processData: false,
          type : "POST",
          url : "{{server-root}}agents",
          success: function(result)
          {
            agent = result["sid"];
            document.querySelector("body").innerHTML += "<p>Created agent session " + agent + "</p>";
            agent_file(index);
          },
        });
      }

      function agent_file(index)
      {
        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}agents/" + agent + "/file" + image_prefix + index + image_suffix,
          success: function(result)
          {
            document.querySelector("body").innerHTML += "<p>Agent loaded file //" + hostname + image_prefix + index + image_suffix + ".</p>";
            if(index < 20)
              agent_file(index + 1);
            else
              agent_image(index + 1);
          },
        });
      }

      function agent_image(index)
      {
        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}agents/" + agent + "/image" + image_prefix + index + image_suffix + "?max-size=512",
          success: function(result)
          {
            document.querySelector("body").innerHTML += "<p>Agent loaded image //" + hostname + image_prefix + index + image_suffix + ".</p>";
            if(index < 30)
              agent_image(index + 1);
            else
              agent_video(index + 1);
          },
        });
      }

      function agent_video(index)
      {
        var images = [];
        for(var i = index; i < 100; ++i)
          images.push(image_prefix + i + image_suffix);

        content_type = navigator.userAgent.toLowerCase().indexOf('firefox') > -1 ? "video/webm" : "video/mp4";

        $.ajax(
        {
          contentType : "application/json",
          data: JSON.stringify({
            "content-type":content_type,
            "images":images,
          }),
          processData: false,
          type : "POST",
          url : "{{server-root}}agents/" + agent + "/videos",
          success: function(result)
          {
            vsid = result["sid"];
            document.querySelector("body").innerHTML += "<p>Creating video " + vsid + "</p>";
            query_video();
          },
        });
      }

      function query_video()
      {
        $.ajax(
        {
          type : "GET",
          url : "{{server-root}}agents/" + agent + "/videos/" + vsid + "/status",
          success: function(result)
          {
            document.querySelector("body").innerHTML += "<p>" + result["message"] + "</p>";
            if(result["ok"] == false)
            {
            }
            else if(result["ready"] != true)
            {
              setTimeout(query_video, 1000);
            }
            else
            {
              document.querySelector("body").innerHTML += "<video style='width: 400px' controls src='{{server-root}}agents/" + agent + "/videos/" + vsid + "'>" + "</video>";
            }
          },
        });
      }
*/
      });
    </script>
  </body>
</html>
