<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <title>Slycat Agent Test</title>
    <script type="text/javascript" src="{{server-root}}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.json-2.4.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      var session = null;

      $.ajax(
      {
        contentType : "application/json",
        data: $.toJSON({
          "hostname" : "localhost",
          "username" : "slycat",
          "password": "slycat",
        }),
        processData: false,
        type : "POST",
        url : "{{server-root}}agents",
        success: function(result)
        {
          session = result["sid"];
          document.querySelector("body").innerHTML += "<p>Created agent session " + session + "</p>";
        },
        error: function(request, status, reason_phrase)
        {
          window.alert("Error creating agent: " + reason_phrase);
        }
      });
    </script>
  </body>
</html>
