<div class="slycat-remote-browser">
  <form class="form-horizontal" data-bind="submit: browse_path">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="slycat-remote-browser-path"
        data-bind="text: hostname() + ':'"
      ></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="slycat-remote-browser-path" 
          data-bind="value: path"
        >
      </div>
    </div>
  </form>
  <div class="slycat-remote-browser-files">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Date Modified</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: files">
        <tr data-bind="event:{click : $parent.select, dblclick : $parent.open},css:{directory:type()=='d', file:type()=='f'}">
          <td data-bind="html:icon"></td>
          <td data-bind="text:name"></td>
          <td data-bind="text:size"></td>
          <td data-bind="text:mtime"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
