<div class="form-group row">
  <label for="slycat-model-name" class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input id="slycat-model-name" class="form-control" type="text" placeholder="Name" data-bind="value:name"></input>
  </div>
</div>
<div class="form-group row">
  <label for="slycat-model-description" class="col-sm-2 col-form-label">Description</label>
  <div class="col-sm-10">
    <textarea id="slycat-model-description" class="form-control" placeholder="Description" rows="5" data-bind="value:description"></textarea>
  </div>
</div>
<div class="form-group row">
  <label for="slycat-model-marking" class="col-sm-2 col-form-label">Marking</label>
  <div class="col-sm-10">
    <select id="slycat-model-marking" class="form-control" data-bind="options:markings,optionsValue:'type',optionsText:'label',value:marking,valueAllowUnset:true"></select>
  </div>
</div>
