<div class="slycat-job-checker bootstrap-styles">
  <div class="slycat-job-checker-controls">
    <button id="slycat-job-checker-connect" class="btn btn-default">Connect To View Job Output</button>
    <button id="slycat-job-checker-clear" class="btn btn-default">Clear Output</button>
    <button id="slycat-job-pull" class="btn btn-default">Pull data</button>
    <button id="slycat-job-checker-cancel" class="btn btn-danger" disabled>Cancel Job</button>
  </div>
  <div class="slycat-job-checker-output" data-bind="text: output"></div>

  <div id="slycat-job-checker-connect-modal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content zoom-sensitive">
        <div class="modal-header">
          <h4 class="modal-title">Connect to host...</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <slycat-remote-controls params="hostname:remote.hostname,username:remote.username,password:remote.password,status:remote.status,status_type:remote.status_type,enable:remote.enable,focus:remote.focus,activate:connect,session_exists:remote.session_exists"></slycat-remote-controls>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bind="click:connect,enable:remote.enable">Connect</button>
          <button class="btn btn-default pull-left" data-bind="click:cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="slycat-pull-job-connect-modal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content zoom-sensitive">
        <div class="modal-header">
          <h4 class="modal-title">Connect to host...</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <slycat-remote-controls params="hostname:remote.hostname,username:remote.username,password:remote.password,status:remote.status,status_type:remote.status_type,enable:remote.enable,focus:remote.focus,activate:connect,session_exists:remote.session_exists"></slycat-remote-controls>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bind="click:pullDataFromHpc,enable:remote.enable">Connect</button>
          <button class="btn btn-default pull-left" data-bind="click:cancel_pull">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

