<li data-bind="attr: {class: ' ' + classNames}">
  <a data-bind="attr: {href: uri}" class="text-decoration-none">
    <div class="d-flex flex-row align-items-center">
      <h5
        class="d-inline-block text-truncate flex-fill mb-1 link-secondary"
        data-bind="text: model_name"
      >
        [Model Name]
      </h5>

      <span
        class="badge rounded-pill bg-primary-subtle text-primary text-capitalize py-2 px-3 ms-4 mt-2 mb-2"
        data-bind="visible: model_type, text: model_names.translate_model_type(model_type)"
        >[Model Type Badge]</span
      >
    </div>
    <div class="d-flex flex-row align-items-center">
      <span
        class="bookmark-link project-bookmark fw-bold link-dark d-inline-block text-truncate flex-fill"
        data-bind="text: name"
      >
      </span>
      <!-- ko if: showControls -->
      <button type="button" class="btn btn-sm btn-warning" data-bind="click: onEdit">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button
        type="button"
        class="btn btn-sm btn-danger bookmark-delete"
        title="Delete bookmark"
        data-bind="click: onDelete"
      >
        <i class="fa-regular fa-trash-can"></i>
      </button>
      <!-- /ko -->
    </div>
  </a>
</li>
