<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <title>Slycat File Browser Testing</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-json.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/file-browser.js"></script>
    <link type="text/css" rel="stylesheet" href="{{server-root}}style/file-browser.css">
  </head>

  <body>
    <h1>Slycat File Browser Testing</h1>
    <input id="hide-dotfiles" type="checkbox">Hide Dotfiles</button>
    <button id="get-selection">Get Selection</button>
    <div id="selection"></div>
    <div id="browser"></div>
    <script type="text/javascript">
      $("#browser").browser({server_root:"{{server-root}}", hostname : "localhost", username : "slycat", password : "slycat", directory_selection: false, multiple_selection : false, hide_dotfiles : false});
      $("#hide-dotfiles").click(function() { $("#browser").browser("option", "hide_dotfiles", $("#hide-dotfiles").attr("checked")); });
      $("#get-selection").click(function() { $("#selection").text($("#browser").browser("selection").join(",")); });
    </script>
  </body>
</html>
