<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <title>Slycat Slickgrid Testing</title>
    <script type="text/javascript" src="{{server-root}}js/d3.v2.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/jquery.event.drag-2.0.min.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.core.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.grid.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.headerbuttons.js"></script>
    <script type="text/javascript" src="{{server-root}}js/slickGrid/slick.autotooltips.js"></script>
    <script type="text/javascript" src="{{server-root}}js/color-switcher.js"></script>
    <script type="text/javascript" src="{{server-root}}js/cca-table.js"></script>
    <link type="text/css" rel="stylesheet" href="{{server-root}}style/slickGrid/slick.grid.css"/>
    <link type="text/css" rel="stylesheet" href="{{server-root}}style/slickGrid/slick-default-theme.css"/>
    <link type="text/css" rel="stylesheet" href="{{server-root}}style/slickGrid/slick-slycat-theme.css"/>
    <link type="text/css" rel="stylesheet" href="{{server-root}}style/slickGrid/slick.headerbuttons.css"/>
    <style>
      #table
      {
        height: 500px;
        //position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

    </style>
  </head>

  <body>
    <h1>Slycat Slickgrid Testing</h1>
    <button id="row-selection">Set Row Selection</button>
    <button id="variable-selection">Set Variable Selection</button>
    <div id="color-switcher"></div>
    <div id="table"></div>
    <script type="text/javascript">
      $("#color-switcher").colorswitcher({colormap : "rainbow"});
      $("#color-switcher").bind("colormap-changed", function(event, colormap)
      {
        $("#table").table("option", {colormap: $("#color-switcher").colorswitcher("get_color_map", colormap)});
      });
      $("#table")
        .bind("row-selection-changed", function(event, selection) { console.log("row selection changed", selection); })
        .bind("variable-selection-changed", function(event, selection) { console.log("variable selection changed", selection); })
        .table(
        {
          "server-root" : "{{server-root}}",
          mid : "239bf4053a6641afac1e5f9d4982b6a0",
          aid : "data-table",
          inputs : [2, 3, 5, 7],
          outputs : [1, 4, 6],
          others : [0, 8],
          "row-selection" : [7, 8, 9],
          "variable-selection" : [9],
          "sort-variable" : 0,
          "sort-order" : "ascending",
          colormap : $("#color-switcher").colorswitcher("get_color_map", $("#color-switcher").colorswitcher("option", "colormap")),
        });

      $("#row-selection").click(function()
      {
        $("#table").table("option", "row-selection", [0, 1, 2, 3]);
      });

      $("#variable-selection").click(function()
      {
        $("#table").table("option", "variable-selection", [2]);
      });
    </script>
  </body>
</html>
