<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <title>Slycat Canvas Testing</title>
  </head>

  <body>
    <p id="load-time"></p>
    <p id="draw-time"></p>
    <canvas id="tutorial" width="600" height="600"></canvas>

    <script type="text/javascript">
      var count = 1000000;
      var scale = 100;
      var cx = 300;
      var cy = 300;
      var radius = 1;

      var x = null;
      var y = null;

      function load()
      {
        var start_time = new Date().getTime();

        request = new XMLHttpRequest();
        request.open("GET", "{{server-root}}test/array/arraybuffer?length=" + count);
        request.responseType = "arraybuffer";
        request.onload = function(e)
        {
          x = new Float64Array(this.response);

          request = new XMLHttpRequest();
          request.open("GET", "{{server-root}}test/array/arraybuffer?length=" + count);
          request.responseType = "arraybuffer";
          request.onload = function(e)
          {
            y = new Float64Array(this.response);

            var load_time = new Date().getTime();

            document.getElementById("load-time").innerHTML = "Count: " + count + " datums Load: " + (load_time - start_time) + "ms";
            draw();
          }
          request.send();
        }
        request.send();
      }

      function draw()
      {
        var start_time = new Date().getTime();

        var canvas = document.getElementById("tutorial");
        var context = canvas.getContext("2d");

        context.fillStyle = "rgba(0, 0, 0, 0.1)";
        context.strokeStyle = "rgba(0, 0, 0, 0.1)";
        context.translate(cx, cy);
        context.scale(scale, scale);
        var twopi = Math.PI * 2;
        var size = radius/scale;
        for(var i = 0; i != x.length; ++i)
        {
          /*
          context.beginPath();
          context.arc(x[i], y[i], radius, 0, twopi, false);
          context.fill();
          */
          context.fillRect(x[i], y[i], size, size);
        }

        var draw_time = new Date().getTime();
        document.getElementById("draw-time").innerHTML = "Draw: " + (draw_time - start_time) + "ms";
      }

      load();
    </script>
  </body>
</html>
