<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
    <title>Slycat Canvas Testing</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-ui-1.8.20.custom.min.js"></script>
  </head>

  <body>
    <p>
    <button id="more-data">More Data</button>
    <button id="less-data">Less Data</button>
    <button id="larger-points">Larger Points</button>
    <button id="smaller-points">Smaller Points</button>
    </p>
    <canvas id="tutorial" width="600" height="600"></canvas>
    <p id="load-time"></p>
    <p id="render-time"></p>
    <p id="count"></p>
    <p id="radius"></p>

    <script type="text/javascript">
      $.widget("slycat.scatterplot",
      {
        options:
        {
          count: 0,
          scale: 100,
          cx: 300,
          cy: 300,
          radius: 1
        },

        _create: function()
        {
          this.x = null;
          this.y = null;

          this.data_changed = false;
          this.view_changed = false;
          this.update = null;

          this._schedule_update(true, true);
          for(var key in this.options)
            this.element.trigger(key + "-changed", this.options[key]);
        },

        _setOption: function(key, value)
        {
          if(this.options[key] == value)
            return;
          this.options[key] = value;

          this._schedule_update(key == "count", key != "count");
          this.element.trigger(key + "-changed", value);
        },

        _schedule_update: function(data_changed, view_changed)
        {
          console.log("_schedule_update()");
          if(data_changed)
            this.data_changed = true;
          if(view_changed)
            this.view_changed = true;
          if(this.update)
            return;

          var self = this;
          this.update = window.setTimeout(function() { self._update(); }, 0);
        },

        _update: function()
        {
          console.log("_update()");
          this.update = null;

          if(this.data_changed)
            this._load();
          else if(this.view_changed)
            this._render();
        },

        _load: function()
        {
          console.log("_load()");
          var start_time = new Date().getTime();
          this.data_changed = false;
          var self = this;

          request = new XMLHttpRequest();
          request.open("GET", "{{server-root}}test/array/arraybuffer?length=" + self.options.count);
          request.responseType = "arraybuffer";
          request.onload = function(e)
          {
            self.x = new Float64Array(this.response);

            request = new XMLHttpRequest();
            request.open("GET", "{{server-root}}test/array/arraybuffer?length=" + self.options.count);
            request.responseType = "arraybuffer";
            request.onload = function(e)
            {
              self.y = new Float64Array(this.response);

              var load_time = new Date().getTime();

              self.element.trigger("load-time", load_time - start_time);
              self._render();
            }
            request.send();
          }
          request.send();
        },

        _render: function()
        {
          console.log("_render()");
          var start_time = new Date().getTime();
          this.view_changed = false;

          var context = this.element.get(0).getContext("2d");

          context.setTransform(1, 0, 0, 1, 0, 0);
          context.clearRect(0, 0, this.element.attr("width"), this.element.attr("height"));

          context.fillStyle = "rgba(0, 0, 0, 0.1)";
          context.strokeStyle = "rgba(0, 0, 0, 0.1)";
          context.translate(this.options.cx, this.options.cy);
          context.scale(this.options.scale, this.options.scale);
          var twopi = Math.PI * 2;
          var size = this.options.radius / this.options.scale;
          var offset = size * 0.5;
          for(var i = 0; i != this.x.length; ++i)
          {
            context.fillRect(this.x[i] - offset, this.y[i] - offset, size, size);
          }

          var render_time = new Date().getTime();

          this.element.trigger("render-time", render_time - start_time);
        }
      });

      $("#more-data").bind("click", function(event) { tutorial.scatterplot("option", "count", tutorial.scatterplot("option", "count") * 2); });
      $("#less-data").bind("click", function(event) { tutorial.scatterplot("option", "count", tutorial.scatterplot("option", "count") * 0.5); });
      $("#larger-points").bind("click", function(event) { tutorial.scatterplot("option", "radius", tutorial.scatterplot("option", "radius") + 1); });
      $("#smaller-points").bind("click", function(event) { tutorial.scatterplot("option", "radius", tutorial.scatterplot("option", "radius") - 1); });

      var tutorial = $("#tutorial")
        .bind("load-time", function(event, time) { $("#load-time").html("Load: " + time + "ms"); })
        .bind("render-time", function(event, time) { $("#render-time").html("Render: " + time + "ms"); })
        .bind("count-changed", function(event, value) { $("#count").html("Count: " + value); })
        .bind("radius-changed", function(event, value) { $("#radius").html("Radius: " + value + "px"); })
        .scatterplot({count:100000, radius:2})
        ;
    </script>
  </body>
</html>
