<!DOCTYPE html>

<!--
Copyright 2013, Sandia Corporation. Under the terms of Contract
DE-AC04-94AL85000 with Sandia Corporation, the U.S. Government retains certain
rights in this software.
-->

<html>
  <head>
{{> head}}
    <title>Slycat Testing</title>
    <style>
      ul
      {
        list-style: none;
      }

      li
      {
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
{{> header}}

    <div id="page-title">
      <div class="width-wrapper">
        <h2>Test</h2>
      </div>
    </div>

    <div id="content">
      <div class="width-wrapper">
        <h3>Server Exceptions</h3>
        <ul>
          <li><a href="{{server-root}}test/exception/404">404</a></li>
          <li><a href="{{server-root}}test/exception/500">500</a></li>
        </ul>
        <h3>Workers</h3>
        <ul>
          <li><button id="test-startup-failure">Startup Failure Worker</button></li>
          <li><button id="test-timeout">Timeout Worker</button></li>
          <li><button id="table-chunker">Table Chunker</button></li>
        </ul>

        <h3>Events</h3>
        <ul>
          <li><button id="record-event">Record Event</button></li>
        </ul>

        <h3>I/O</h3>
        <ul>
          <li><button id="array-json">Retrieve JSON array</button></li>
          <li><button id="array-arraybuffer">Retrieve array buffer array</button></li>
        </ul>

<!--
        <h3>Files</h3>
        <input id="file-upload" type="file" name="files[]" multiple>
-->
      </div>
    </div>

    <div id="footer">
      <div class="width-wrapper">
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        $("#test-startup-failure").button().click(function()
        {
          $.ajax(
          {
            contentType : "application/json",
            data : $.toJSON({ type : "startup-failure" }),
            processData : false,
            type : "POST",
            url : "{{server-root}}workers",
            error : function(request, status, reason_phrase)
            {
              window.alert("Error creating worker: " + reason_phrase);
            }
          });
        });

        $("#test-timeout").button().click(function()
        {
          $.ajax(
          {
            contentType : "application/json",
            data : $.toJSON({ type : "timeout" }),
            processData : false,
            type : "POST",
            url : "{{server-root}}workers",
            error : function(request, status, reason_phrase)
            {
              window.alert("Error creating worker: " + reason_phrase);
            }
          });
        });

        $("#table-chunker").button().click(function()
        {
          $.ajax(
          {
            contentType : "application/json",
            data : $.toJSON({ type : "table-chunker", "row-count" : 1000, "column-count" : 100 }),
            processData : false,
            type : "POST",
            url : "{{server-root}}workers",
            error : function(request, status, reason_phrase)
            {
              window.alert("Error creating worker: " + reason_phrase);
            }
          });
        });

        $("#record-event").button().click(function()
        {
          $.ajax(
          {
            type : "POST",
            url : "{{server-root}}events/test",
            success : function(worker)
            {
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error recording event: " + reason_phrase);
            }
          });
        });

        $("#array-json").button().click(function()
        {
          $.ajax(
          {
            type : "GET",
            url : "{{server-root}}test/array/json?length=1000000",
            success : function(worker)
            {
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error retrieving JSON array: " + reason_phrase);
            }
          });
        });

        $("#array-arraybuffer").button().click(function()
        {
          request = new XMLHttpRequest();
          request.open("GET", "{{server-root}}test/array/arraybuffer?length=1000000");
          request.responseType = "arraybuffer";
          request.onload = function(e)
          {
            var array = new Float64Array(this.response);
            console.log(array[0]);
          }
          request.send();
/*
          $.ajax(
          {
            type : "GET",
            url : "{{server-root}}test/array/arraybuffer?length=1000000",
            success : function(worker)
            {
            },
            error : function(request, status, reason_phrase)
            {
              window.alert("Error retrieving arraybuffer array: " + reason_phrase);
            }
          });
*/
        });

      });

/*
      $("#file-upload").change(function()
      {
        var data = new FormData();
        data.append("request", "upload-files");
        $.each($('#file-upload')[0].files, function(index, file)
        {
          data.append('file-' + index, file);
        });

        $.ajax(
        {
          type : "POST",
          url : "{{server-root}}test/uploads",
          data : data,
          contentType : false,
          processData : false,
          success : function(result)
          {
          },
          error : function(request, status, reason_phrase)
          {
            window.alert("Error uploading file: " + reason_phrase);
          }
        });
      });
*/

    </script>
  </body>
</html>
