<html>
  <head>
    <title>Timeseries Performance Test</title>
    <script type="text/javascript" src="{{server-root}}js/jquery.js"></script>
    <script type="text/javascript" src="{{server-root}}js/jquery-json.js"></script>
    <script type="text/javascript" src="{{server-root}}js/chunker.js"></script>
  </head>
  <body>
    <h1>Timeseries Performance Test</h1>
    <div>Model: {{name}} ({{_id}})</div>
    <div id="results"></div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        retrieve_clusters();

        function retrieve_clusters()
        {
          var start = window.performance.now();
          $.ajax({
            url : "{{server-root}}models/{{_id}}/files/clusters",
            success: function(clusters)
            {
              var elapsed = window.performance.now() - start;
              $("<p>").text("Retrieve clusters time: " + elapsed + " ms").appendTo($("#results"));
              retrieve_cluster(clusters[0]);
            }
          });
        }

        function retrieve_cluster(name)
        {
          var start = window.performance.now();
          $.ajax({
            url : "{{server-root}}models/{{_id}}/files/cluster-" + name,
            success: function(cluster)
            {
              var elapsed = window.performance.now() - start;
              $("<p>").text("Retrieve cluster " + name + " time: " + elapsed + " ms").appendTo($("#results"));
              retrieve_arrayset_metadata(name);
            }
          });
        }

        function retrieve_arrayset_metadata(name)
        {
          var start = window.performance.now();
          $.ajax({
            url : "{{server-root}}models/{{_id}}/array-sets/preview-" + name + "/metadata",
            contentType : "application/json",
            success: function(metadata)
            {
              var elapsed = window.performance.now() - start;
              $("<p>").text("Retrieve arrayset metadata time: " + elapsed + " ms").appendTo($("#results"));
              retrieve_arrayset(name);
            }
          });
        }

        function retrieve_arrayset(name)
        {
          var start = window.performance.now();
          var request = new XMLHttpRequest();
          request.open("GET", "{{server-root}}models/{{_id}}/array-sets/preview-" + name + "?byteorder=" + (is_little_endian() ? "little" : "big"));
          request.responseType = "arraybuffer";
          request.onload = function(e)
          {
            var elapsed = window.performance.now() - start;
            $("<p>").text("Retrieve arrayset time: " + elapsed + " ms").appendTo($("#results"));
            //var buffer = this.response;
          }
          request.send();
        }

      });
    </script>
  </body>
</html>
